/* Action Box Element Setting */

.action-box {
    & h3 {
        margin-bottom: 5px;
        margin-top: 3px;
    }
    & p {
        margin-bottom: 0px;
    }
    & .icon-large {
        font-size: 48px;
        float: left;
        margin-right: 20px;
        line-height: 50px;
        width: 50px;
        text-align: center;
    }
    & .btn {
        margin-top: -3px;
    }
}
