<!-- 两步验证配置模态框-->
<div class="modal fade" id="2fa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel1" style="font-weight: bold">两步验证</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                <div class="form-group">
                    <label for="totp-switch" class="col-sm-4 control-label">TOTP：</label>
                    <div class="col-sm-8">
                        <div class="switch switch-small">
                            <label>
                                <input id="totp-switch" name="2fa" auth_type="totp" type="checkbox">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sms-switch" class="col-sm-4 control-label">短信：</label>
                    <div class="col-sm-8">
                        <div class="switch switch-small">
                            <label>
                                <input id="sms-switch" name="2fa" auth_type="sms" type="checkbox">
                            </label>
                        </div>
                    </div>
                </div>
                </div>
                <input id="enable" style="display: none">
                <input id="state" style="display: none">
                <select id="auth_type" style="display:none">
                    <option value="totp"></option>
                    <option value="sms"></option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- 密码验证模态框-->
<div class="modal fade" id="passwd-auth" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel1">验证当前用户密码</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="passwd">输入密码验证:</label>
                    <input type="password" class="form-control" id="passwd" placeholder="确认密码" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button id="btnConfirm" type="submit" class="btn btn-success">确认</button>
            </div>
        </div>
    </div>
</div>

<!-- OTP验证模态框-->
<div class="modal fade bs-example-modal-sm" id="2fa-auth" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">扫码绑定</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div id="totp-form" class="form-group">
                        <label class="control-label" for="qrcode-img">1. 使用Google身份验证器扫码：</label>
                        <img id="qrcode-img" key="" src="" style="width: 100%;height: auto;">
                    </div>
                    <div id="sms-form" class="form-group" style="display:none;">
                        <label class="control-label" for="qrcode-img">1. 输入要绑定的手机号码：</label>
                        <input class="form-control ng-valid ng-dirty ng-touched" id="phone" name="phone" type="text"
                        oninput="value=value.replace(/[^\d]/g,'')" autocomplete="off" required>
                    </div>
                    <label class="control-label" for="otp">2. 输入6位验证码完成绑定：</label>
                    <input class="form-control ng-valid ng-dirty ng-touched" id="otp" name="otpCode" type="text"
                       oninput="value=value.replace(/[^\d]/g,'')" autocomplete="off" required>
                </div>
            </div>
            <div class="modal-footer">
                <button id="get_captcha" type="button" class="btn btn-primary" style="display: none">获取验证码</button>
                <button id="binding" type="button" class="btn btn-success">绑定</button>
            </div>
        </div>
    </div>
</div>