<nav class="navbar navbar-expand navbar-light static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Messages -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link" href="/workflow/" role="button">
                <i class="fa fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">{{ todo }}</span>
            </a>
        </li>

        <!-- Nav Item - GitHub -->
        <li class="nav-item no-arrow mx-1">
            <a class="nav-link" role="button" href="https://github.com/hhyo/Archery" target="_blank">
                <i class="fa fa-github fa-fw"></i>
            </a>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">你好，{{ user }}</span>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/api/debug?full=true" target="_blank">
                    <i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    系统信息
                </a>
                <a class="dropdown-item" href="/admin">
                    <i class="fa fa-sitemap fa-sm fa-fw mr-2 text-gray-400"></i>
                    管理后台
                </a>
                <a class="dropdown-item" id="2fa-menu" href="javascript:;">
                    <i class="fa fa-lock fa-sm fa-fw mr-2 text-gray-400"></i>
                    两步验证
                </a>
                <a class="dropdown-item" href="/admin/password_change/">
                    <i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    修改密码
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout/">
                    <i class="fa fa-gear fa-sm fa-fw mr-2 text-gray-400"></i>
                    退出系统
                </a>
            </div>
        </li>

    </ul>

</nav>