*.pyc
*.swp
*.lock
*.log
*.pid
logs
.idea/
.DS_Store
archery/settings.py.github
archery/settings.py.dev
archery/settings_dev.py
sql/migrations/
venv*
env
nohup.out
src/docker-compose/mysql/datadir/
!.gitkeep
binlog2sql