*.pyc
*.swp
.vscode/*
*.lock
*.log
.idea/
.DS_Store
Thumbs.db
*.tmp
archery/settings.py.github
archery/settings.py.dev
archery/settings_dev.py
sql/migrations/
venv
env
.venv/
__pycache__/
dist/
*.egg-info/
sonar-project.properties
.scannerwork
.env
local_settings.py
src/docker-compose-dev
.coverage
archery_custom
static/
local_settings.py
nohup.out