Django==4.0.5
mysqlclient==2.0.3
requests==2.24.0
simplejson==3.17.2
mybatis_mapper2sql==0.1.9
django-auth-ldap==4.1.0
python-dateutil==2.8.1
pymongo==3.11.0
psycopg2-binary==2.8.6
pymysql==0.9.3
mysql-replication==0.22
django-q==1.3.9
django-redis==5.2.0
pyodbc==4.0.30
gunicorn==20.0.4
pyecharts==1.9.1
aliyun-python-sdk-rds==2.1.1
cx-Oracle==7.3.0
supervisor==4.1.0
phoenixdb==0.7
django-mirage-field==1.4.0
schema-sync==0.9.7
parsedatetime==2.4
sshtunnel==0.1.5
pycryptodome==3.10.1
pandas==1.1.5
pyodps==0.10.7.1
clickhouse-driver==0.2.3
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
django-filter==21.1
drf-spectacular==0.22.0
pyotp==2.6.0
pillow==9.0.1
qrcode==7.3.1
django-environ
