Django==3.2.10
mysqlclient==2.1.0
requests==2.26.0
simplejson==3.17.6
mybatis_mapper2sql==0.1.9
django-auth-ldap==3.0.0
python-dateutil==2.8.2
pymongo==3.11.0
psycopg2-binary==2.9.2
pymysql==1.0.2
mysql-replication==0.27
django-q==1.3.9
django-redis==5.1.0
pyodbc==4.0.32
gunicorn==20.1.0
pyecharts==1.7.1
aliyun-python-sdk-rds==2.1.1
cx-Oracle==8.3.0
supervisor==4.2.2
phoenixdb==1.1.0
django-mirage-field==1.2.4
schema-sync==0.9.7
parsedatetime==2.6
sshtunnel==0.4.0
pycryptodome==3.12.0
