Django==2.2.13
mysqlclient==1.4.6
requests==2.23.0
simplejson==3.17.0
mybatis_mapper2sql==0.1.9
django-auth-ldap==2.1.0
python-dateutil==2.8.1
pymongo==3.10.1
psycopg2-binary==2.8.4
mysql-replication==0.21
django-q==1.0.2
django-redis==4.11.0
pyodbc==4.0.30
gunicorn==20.0.4
pyecharts==1.7.1
aliyun-python-sdk-rds==2.1.1
cx-Oracle==7.3.0
supervisor==4.1.0
gevent==1.4.0
phoenixdb==0.7
django-mirage-field==1.0.1
schema-sync==0.9.7
parsedatetime==2.4
sshtunnel==0.1.5
