{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
<div class="row clearfix">
	<div class="col-md-12 column">
		<div id="container-month" style="min-width:800px;height:400px">
			
		</div>
	</div>
	<div class="col-md-12 column">
		<div id="container-engineer" style="min-width:800px;height:400px">
			
		</div>
	</div>
</div>
</div>
{% endblock content %}
{% block js %}
    {% load staticfiles %}
    <script src="{% static 'highcharts/highcharts.js' %}"></script>
    <script src="{% static 'user/js/charts.js' %}"></script>
{% endblock %}

