{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        选择操作
                    </div>
                    <div class="panel-body">
                        <form class="form">
                            <div id="div-config" class="form-group">
                                <h5 class="control-label text-bold">操作项：</h5>
                                <div class="form-group">
                                    <select id="config" name="confg"
                                            class="selectpicker show-tick form-control bs-select-hidden"
                                            data-name="配置项" data-placeholder="请选择配置项:" required>
                                        <option value="is-empty" disabled="" selected="selected">请选择配置项:</option>
                                        <option value="1">项目组配置</option>
                                        <option value="2">工单审核流配置</option>
                                    </select>
                                </div>
                            </div>
                            <div id="div-workflow" class="form-group" style="display: none">
                                <h5 class="control-label text-bold">工单类型：</h5>
                                <div class="form-group">
                                    <select id="workflow_type" name="group"
                                            class="selectpicker show-tick form-control bs-select-hidden"
                                            data-name="工单类型" data-placeholder="请选择工单类型:" required>
                                        <option value="{{ WorkflowDict.workflow_type.sqlreview }}" selected="selected">
                                            {{ WorkflowDict.workflow_type.sqlreview_display }}</option>
                                        <option value="{{ WorkflowDict.workflow_type.query }}">
                                            {{ WorkflowDict.workflow_type.query_display }}</option>
                                    </select>
                                </div>
                                <h5 class="control-label text-bold">项目组：</h5>
                                <div class="form-group">
                                    <select id="group_workflow" name="group_workflow"
                                            class="selectpicker show-tick form-control bs-select-hidden"
                                            data-name="项目组" data-placeholder="请选择项目组:" data-live-search="true" required>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-9 column">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        操作
                    </div>
                    <div class="panel-body">
                        <form class="form">
                            <div id="div-group-config" class=" form-inline form-group" style="display: none">
                                <h5 class="control-label text-bold" style="color: red">
                                    规则：<b>仅支持添加项目组，删除和编辑请到后台数据管理模块操作</b></h5>
                                <br>
                                <div class="form-group">
                                    <select id="group" name="group"
                                            class="selectpicker show-tick form-control bs-select-hidden"
                                            data-name="请选择父级项目" data-placeholder="请选择父级项目:" data-live-search="true"
                                            required>
                                        <option value="is-empty" disabled="" selected="selected">请选择父级项目:</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="group_name" placeholder="请输入项目名称">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button id="btn-group-add" class="btn btn-default">添加</button>
                                </div>
                            </div>
                            <div id="div-workflow-config" class=" form-inline form-group" style="display: none">
                                <h5 class="control-label text-bold" style="color: red">
                                    规则：<b>选择多人即审核流为多级审核，按照选择顺序进行流转</b></h5>
                                <br>
                                <h6 class="control-label text-bold">当前审批流程：<b id="workflow_auditors"></b></h6>
                                <br>
                                <div><h6 style="float:left;" class="control-label text-bold">变更审批流程：</h6></div>
                                <div style="float:left;" class="form-group">
                                    <select id="group_auditors" name="group"
                                            class="selectpicker show-tick form-control bs-select-hidden"
                                            data-name="审核人" data-placeholder="审核人:" data-live-search="true"
                                            multiple="multiple" required>
                                        <option value="is-empty" disabled="" selected="selected">请选择审核人:</option>
                                        {% for user in user_list %}
                                            <option value="{{ user.username }}">{{ user.username }}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button id="btn-workflow-config" class="btn btn-default">变更</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    {% load staticfiles %}
    <script>
        //list 转成树形json
        function listToTree(list, pid) {
            var ret = [];//一个存放结果的临时数组
            for (var i in list) {
                if (list[i].parent === pid) {//如果当前项的父id等于要查找的父id，进行递归
                    list[i].children = listToTree(list, list[i].id);
                    ret.push(list[i]);//把当前项保存到临时数组中
                }
            }
            return ret;//递归结束后返回结果
        }

        var tree = listToTree({{ group_list|safe }}, 0);//调用函数，传入要转换的list数组，和树中顶级元素的pid

        //生成树下拉菜单
        function creatSelectTree(d) {
            var option = "";
            for (var i = 0; i < d.length; i++) {
                if (d[i].children.length) {//如果有子集
                    if (d[i].parent === 0) {
                        option += "<option value='" + d[i].id + "'>" + d[i].name + "</option>";
                        option += creatSelectTree(d[i].children);//递归调用子集
                        j = j.slice(0, j.length - 3);//每次递归结束返回上级时，前缀符号需要减一个符号
                    }
                    else {
                        option += "<option value='" + d[i].id + "'>" + j + d[i].name + "</option>";
                        j += "┆﹍﹍";//前缀符号加一个符号
                        option += creatSelectTree(d[i].children);//递归调用子集
                        j = j.slice(0, j.length - 3);//每次递归结束返回上级时，前缀符号需要减一个符号
                    }
                } else {//没有子集直接显示
                    option += "<option value='" + d[i].id + "'>" + j + d[i].name + "</option>";
                }
            }
            return option;//返回最终html结果
        }

        //调用函数，并将结构出入到下拉框容器中
        var j = "┆﹍﹍";//前缀符号，用于显示父子关系，这里可以使用其它符号
        $("#group").append(creatSelectTree(tree));
        var j = "┆﹍﹍";//前缀符号，用于显示父子关系，这里可以使用其它符号
        $("#group_workflow").append(creatSelectTree(tree));

    </script>
    <script>
        //配置项切换
        $("#config").change(function () {
            sessionStorage.setItem('config_type', $("#config").val());
            if ($("#config").val() === '1') {
                $("#div-group").show();
                $("#div-group-config").show();
                $("#div-workflow").hide();
                $("#div-workflow-config").hide();
            }
            else if ($("#config").val() === '2') {
                $("#div-group").hide();
                $("#div-group-config").hide();
                $("#div-workflow").show();
                $("#div-workflow-config").show();
                $("#workflow_type").trigger("change");
            }
        });

        // 切换项目触发工单类型切换事件
        $("#group_workflow").change(function () {
            $("#workflow_type").trigger('change')
        });

        // 切换工单类型获取对应项目组负责人
        $("#workflow_type").change(function () {
            $("#div-workflow-config").show();
            if ($("#group_workflow").val()) {
                $.ajax({
                    type: "post",
                    url: "/groupauditors/",
                    dataType: "json",
                    data: {
                        group_id: $("#group_workflow").val().split(',')[0],
                        workflow_type: $("#workflow_type").val()
                    },
                    complete: function () {

                    },
                    success: function (data) {
                        if (data.status === 0) {
                            var result = data.data;
                            var auditor = [];
                            for (var i = 0; i < result.length; i++) {
                                auditor.push(result[i]);
                            }
                            $("#workflow_auditors").text(auditor);
                        } else {
                            alert("status: " + data.status + "\nmsg: " + data.msg + data.data);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            }
        });

        // 添加项目组
        $("#btn-group-add").click(function () {
            var group = $("#group").val();
            if (group) {
                var group_parent_id = $("#group").val().split(',')[0]
            }
            else {
                var group_parent_id = 0
            }
            $(this).addClass('disabled');
            $(this).prop('disabled', true);
            $.ajax({
                type: "post",
                url: "/addgroup/",
                dataType: "json",
                data: {
                    group_parent_id: group_parent_id,
                    group_name: $("#group_name").val()
                },
                complete: function () {
                    $("#btn-group-add").removeClass('disabled');
                    $("#btn-group-add").prop('disabled', false);
                },
                success: function (data) {
                    if (data.status === 0) {
                        window.location.reload()
                    } else {
                        alert("status: " + data.status + "\nmsg: " + data.msg + data.data);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        // 变更项目组工单负责人
        $("#btn-workflow-config").click(function () {
            $(this).addClass('disabled');
            $(this).prop('disabled', true);
            var audit_users = $("#group_auditors").val();
            if (audit_users.length > 1) {
                var auditors = audit_users.join(",");
            }
            else {
                var auditors = audit_users.toString();
            }
            $.ajax({
                type: "post",
                url: "/changegroupauditors/",
                dataType: "json",
                data: {
                    group_id: $("#group_workflow").val().split(',')[0],
                    audit_users: auditors,
                    workflow_type: $("#workflow_type").val()
                },
                complete: function () {
                    $("#btn-workflow-config").removeClass('disabled');
                    $("#btn-workflow-config").prop('disabled', false);
                },
                success: function (data) {
                    if (data.status === 0) {
                        //alert('修改成功');
                        $("#workflow_type").trigger("change")
                    } else {
                        alert("status: " + data.status + "\nmsg: " + data.msg + data.data);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        //自动填充操作项
        $(document).ready(function () {
            if (sessionStorage.getItem('config_type')) {
                $("#config").val(sessionStorage.getItem('config_type')).trigger("change")
            }
        })
    </script>
{% endblock %}



