{% extends "base.html" %}

{% block content %}
			<div>
				<div style="width: 20%; float: left"><h4>回滚SQL语句：</h4></div>
				<div style="width: 80%; float: right">
                        {% csrf_token %}
                        <input type="hidden" id="editSqlContent" value="{% for sql in listBackupSql %}{{ sql }}{% endfor %}">
                        <input type="hidden" id="editWorkflowNname" value="{{ rollbackWorkflowName }}">
                        <input type="hidden" id="editClustername" value="{{ cluster_name }}">
                        <input type="hidden" id="editIsbackup" value="是">
                        <input type="hidden" id="editReviewman" value="{{ review_man }}">
                        <input type="hidden" id="editSubReviewman" value="{{ sub_review_man }}">
                        <a type='button' id="btnSubmitRollback" class="btn btn-warning" href="/editsql/">提交回滚请求</a>
				</div>
            <br><br>
			</div>
			<table class="table table-striped table-hover">				
				<tbody>
                    {% for sql in listBackupSql %}
					<tr>
						<td>
							{{sql}}
						</td>						
					</tr>
					{% endfor %}
				</tbody>
			</table>
{% endblock content%}
