{% extends "base.html" %}

{% block content %}
    <div>
        <div style="width: 80%; float: left">
            {% csrf_token %}
            <input type="hidden" id="editSqlContent" value="{% for sql in listBackupSql %}{{ sql }}{% endfor %}">
            <a type='button' id="btnSubmitRollback" class="btn btn-warning" href="/editsql/">提交回滚请求</a>
        </div>
    </div>
    <br>
    <br>
    <table data-toggle="table" class="table table-striped table-hover">
        <thead class="btn-default">
        <tr>
            <th>回滚语句</th>
        </tr>
        </thead>
        <tbody>
        {% for sql in listBackupSql %}
            <tr>
                <td>
                    {{ sql }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block js %}
    {% load staticfiles %}
    <script>
        $(document).ready(function () {
            var isRollback = window.location.pathname.indexOf("rollback");
            if (isRollback != -1) {
                $("#btnSubmitRollback").click(function () {
                    $(this).button('loading').delay(2500).queue(function () {
                        $(this).button('reset');
                        $(this).dequeue();
                    });
                    var editWorkflowNname = "{{ rollbackWorkflowName }}";
                    var editSqlContent = $("#editSqlContent").val();
                    var editGroup = "{{ workflowDetail.group_name }}";
                    var editClustername = "{{ workflowDetail.cluster_name }}";
                    var editDbname = "{{ workflowDetail.db_name }}";
                    var editIsbackup = "{{ workflowDetail.is_backup }}";
                    sessionStorage.removeItem('editWorkflowDetailId');
                    sessionStorage.setItem('editWorkflowNname', editWorkflowNname);
                    sessionStorage.setItem('editSqlContent', editSqlContent);
                    sessionStorage.setItem('editGroup', editGroup);
                    sessionStorage.setItem('editClustername', editClustername);
                    sessionStorage.setItem('editDbname', editDbname);
                    sessionStorage.setItem('editIsbackup', editIsbackup);
                });
            }
        });
    </script>
{% endblock %}
