certifi==2017.7.27.1
chardet==3.0.4
Django==1.8.17
idna==2.6
Naked==0.1.31
pycrypto==2.6.1
PyMySQL==0.7.11
PyYAML==3.12
requests==2.18.4
shellescape==3.4.1
simplejson==3.14.0
urllib3==1.22
django-admin-bootstrapped==2.5.7
django-apscheduler==0.2.8
gunicorn==19.7.1
django-auth-ldap==1.3.0
aliyun-python-sdk-core==2.3.5
aliyun-python-sdk-core-v3==2.5.3
aliyun-python-sdk-rds==2.1.1
