.user-bottom-div{
	display:block;
	text-align:center;
	background-color:#ddd;
	position:fixed;
	bottom:0;
	width:100%;
	height:50px;
	line-height:50px;
}

.user-center-div-col-md-10{
	margin-bottom:50px;
}