{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <!-- Custom action buttons -->
    <div style="position: relative">
        <div id="toolbar" class="form-inline pull-left" style="position: absolute;top: 10px">
            <div class="form-group">
                <select id="filter_instance_id" class="form-control selectpicker"
                        data-live-search="true">
                    <option value="" selected="selected">{% trans "All Instances" %}</option>
                    {% for ins in ins_list %}
                        <option value="{{ ins.id }}">{{ ins.instance_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <select id="state" class="form-control selectpicker">
                    <option value="" selected="selected">{% trans "Enable Status" %}</option>
                    <option value="true">{% trans "Enabled" %}</option>
                    <option value="false">{% trans "Disabled" %}</option>
                </select>
            </div>
            <div class="form-group">
                <button id="btn_add" type="button" class="btn btn-default"
                        data-toggle="modal" data-target="#apply">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span aria-hidden="true"></span>{% trans "Apply for Archive" %}
                </button>
            </div>
            {% if perms.sql.archive_mgt %}
                <div class="form-group">
                    <button id="btn_add_config" type="button" class="btn btn-info"
                            onclick="window.open('/admin/sql/archiveconfig/add/')">
                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                        <span aria-hidden="true"></span>{% trans "Add Configuration" %}
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- Application list table -->
    <div class="table-responsive">
        <table id="archive-list" data-toggle="table" class="table table-striped table-hover"
               style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
        </table>
    </div>
    <!-- Application permission modal -->
    <div class="modal fade" id="apply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans "Apply for Data Archive" %}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" autocomplete="off" class="form-control" id="title"
                               placeholder="{% trans 'Brief description of the archive' %}">
                    </div>
                    <div class="form-group">
                        <select id="group_name" name="group_name"
                                class="selectpicker show-tick form-control bs-select-hidden"
                                title="{% trans 'Please select group:' %}"
                                data-live-search="true" required>
                            {% for group in group_list %}
                                <option value="{{ group.group_name }}">{{ group.group_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="src_instance_name" name="src_instance_name"
                                class="selectpicker show-tick form-control bs-select-hidden" data-live-search="true"
                                title="{% trans 'Please select source instance:' %}"
                                data-placeholder="{% trans 'Please select instance:' %}" required>
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="src_db_name" name="src_db_name"
                                class="form-control selectpicker show-tick bs-select-hidden"
                                title="{% trans 'Please select source database:' %}"
                                data-live-search="true" data-placeholder="{% trans 'Please select database:' %}" required>
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="src_table_name" name="src_table_name"
                                class="form-control selectpicker show-tick bs-select-hidden"
                                data-live-search="true"
                                data-name="{% trans 'Please select table to archive:' %}"
                                title="{% trans 'Please select table to archive:' %}"
                                data-placeholder="{% trans 'Please select table to archive:' %}" required>
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="mode" name="mode"
                                class="form-control selectpicker show-tick bs-select-hidden"
                                data-name="{% trans 'Please select archive mode:' %}"
                                title="{% trans 'Please select archive mode:' %}"
                                data-placeholder="{% trans 'Please select archive mode:' %}" required>
                            <option value='file'>{% trans "Archive to file" %}</option>
                            <option value='dest'>{% trans "Archive to another instance" %}</option>
                            <option value='purge'>{% trans "Delete directly" %}</option>
                        </select>
                    </div>
                    <div class="form-group" id="no_delete-div" style="display: none">
                        <div class="form-group">
                            <select id="no_delete" name="no_delete"
                                    class="selectpicker show-tick form-control bs-select-hidden"
                                    title="{% trans 'Keep source data after archiving:' %}"
                                    data-placeholder="{% trans 'Keep source data after archiving:' %}" required>
                                <option value='' disabled>{% trans "Keep source data after archiving" %}</option>
                                <option value='true' selected>{% trans "Keep" %}</option>
                                <option value='false'>{% trans "Delete" %}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="dest-div" style="display: none">
                        <div class="form-group">
                            <select id="dest_instance_name" name="dest_instance_name"
                                    class="selectpicker show-tick form-control bs-select-hidden" data-live-search="true"
                                    title="{% trans 'Please select destination instance:' %}"
                                    data-placeholder="{% trans 'Please select destination instance:' %}" required>
                            </select>
                        </div>
                        <div class="form-group">
                            <select id="dest_db_name" name="dest_db_name"
                                    class="form-control selectpicker show-tick bs-select-hidden"
                                    title="{% trans 'Please select destination database:' %}"
                                    data-live-search="true" data-placeholder="{% trans 'Please select corresponding database:' %}" required>
                            </select>
                        </div>
                        <div class="form-group">
                            <select id="dest_table_name" name="dest_table_name"
                                    class="form-control selectpicker show-tick bs-select-hidden"
                                    data-live-search="true"
                                    data-name="{% trans 'Please select destination table:' %}"
                                    title="{% trans 'Please select destination table:' %}"
                                    data-placeholder="{% trans 'Please select destination table:' %}" required>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea id="condition" name="condition" class="form-control"
                                  placeholder="{% trans 'Enter archive condition (WHERE clause of SQL statement)' %}"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="number" autocomplete="off" name="sleep" class="form-control" id="sleep"
                               placeholder="{% trans 'Sleep seconds after archiving 10000 rows' %}">
                    </div>
                    <!-- Approval process -->
                    <div id="div-workflow_auditors" class="form-group" style="display: none">
                        <p class="bg-primary">&nbsp&nbsp&nbsp{% trans "Approval Process:" %} <b id="workflow_auditors"></b></p>
                    </div>
                    <p class="text-info">{% trans "Note: Source and destination table structures must be consistent, otherwise archiving will fail" %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                    <button type="button" class="btn btn-success" onclick="archive_apply()">{% trans "Submit Application" %}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Log information -->
    <div class="modal fade" id="logs">
        <div class="modal-dialog">
            <div class="modal-content message_align">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title text-danger">{% trans "Workflow Log" %}</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table id="log-list" data-toggle="table" class="table table-striped table-hover"
                               style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <!--group -->
    <script>
        // Get instance information and approval process
        $("#group_name").change(function () {
            $.ajax({
                type: "post",
                url: "/group/instances/",
                dataType: "json",
                data: {
                    group_name: $("#group_name").val(),
                    db_type: 'mysql'
                },
                complete: function () {
                },
                success: function (data) {
                    if (data.status === 0) {
                        let result = data['data'];
                        $("#src_instance_name").empty();
                        $("#dest_instance_name").empty();
                        for (let i = 0; i < result.length; i++) {
                            let instance = "<option value=\"" + result[i]['instance_name'] + "\">" + result[i]['instance_name'] + "</option>";
                            $("#src_instance_name").append(instance);
                            $("#dest_instance_name").append(instance);
                        }
                        $('#src_instance_name').selectpicker('render');
                        $('#src_instance_name').selectpicker('refresh');
                        $('#dest_instance_name').selectpicker('render');
                        $('#dest_instance_name').selectpicker('refresh');
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
            $.ajax({
                type: "post",
                url: "/group/auditors/",
                dataType: "json",
                data: {
                    group_name: $("#group_name").val(),
                    workflow_type: 3
                },
                complete: function () {
                },
                success: function (data) {
                    if (data.status === 0) {
                        var result = data.data;
                        $("#div-workflow_auditors").show();
                        $("#workflow_auditors").val(result['auditors']);
                        $("#workflow_auditors").text(result['auditors_display']);
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

    </script>
    <script>
        //Auto-refresh on filter change
        $("#filter_instance_id").change(function () {
            archive_apply_list();
        });
        //Auto-refresh on filter change
        $("#state").change(function () {
            archive_apply_list();
        });

        //Get application list
        function archive_apply_list() {
            $('#archive-list').bootstrapTable('destroy').bootstrapTable({
                escape: true,
                method: 'get',
                contentType: "application/x-www-form-urlencoded",
                url: "/archive/list/",
                striped: true,                      //Show row striping
                cache: false,                       //Use cache, default is true, so generally need to set this property (*)
                pagination: true,                   //Show pagination (*)
                sortable: true,                     //Enable sorting
                sortOrder: "asc",                   //Sort order
                sidePagination: "server",           //Pagination method: client-side or server-side (*)
                pageNumber: 1,                      //Initialize first page, default first page
                pageSize: 20,                     //Records per page (*)
                pageList: [20, 30, 50, 100],       //Selectable rows per page (*)
                search: true,                      //Show table search
                strictSearch: false,                //Full match search
                showColumns: true,                  //Show all columns (select visible columns)
                showRefresh: true,                  //Show refresh button
                minimumCountColumns: 2,             //Minimum allowed columns
                clickToSelect: true,                //Enable click to select row
                uniqueId: "id",                     //Unique identifier for each row, usually primary key
                showToggle: true,                   //Show toggle button for detail/list view
                cardView: false,                    //Show detail view
                detailView: false,                  //Show parent-child table
                locale: 'zh-CN',                    //Localization
                queryParamsType: 'limit',
                //Parameters passed when requesting service data
                queryParams:
                    function (params) {
                        return {
                            filter_instance_id: $("#filter_instance_id").val(),
                            state: $("#state").val(),
                            limit: params.limit,
                            offset: params.offset,
                            search: params.search
                        }
                    },
                columns: [{
                    title: 'ID',
                    field: 'id'
                }, {
                    title: gettext('Workflow Name'),
                    field: 'title',
                    formatter: function (value, row, index) {
                        var span = document.createElement('span');
                        span.setAttribute('title', value);
                        if (value.length > 10) {
                            span.innerHTML = "<a href=\"/archive/" + row.id + "/\">" + value.substr(0, 10) + '...';
                            +"</a>";
                        } else {
                            span.innerHTML = "<a href=\"/archive/" + row.id + "/\">" + value + "</a>";
                        }
                        return span.outerHTML;
                    }
                }, {
                    title: gettext('Instance'),
                    field: 'src_instance__instance_name'
                }, {
                    title: gettext('Database'),
                    field: 'src_db_name'
                }, {
                    title: gettext('Table'),
                    field: 'src_table_name'
                }, {
                    title: gettext('Archive Mode'),
                    field: 'mode'
                }, {
                    title: gettext('Source Data'),
                    field: 'no_delete',
                    formatter: function (value, row, index) {
                        if (String(value) === 'true') {
                            return gettext('Keep')
                        } else {
                            return gettext('Delete')
                        }
                    }
                }, {
                    title: gettext('Sleep (seconds)'),
                    field: 'sleep'
                }, {
                    title: gettext('Enable Status'),
                    field: 'state',
                    formatter: function (value, row, index) {
                        if (String(value) === 'true') {
                            return "<span class=\"label label-success\">" + gettext('Enabled') + "</span>"
                        } else {
                            return "<span class=\"label label-danger\">" + gettext('Disabled') + "</span>"
                        }
                    }
                }, {
                    title: gettext('Workflow Status'),
                    field: 'status',
                    formatter: function (value, row, index) {
                        return workflow_status_formatter(value)
                    },
                    visible: false // Hidden by default
                }, {
                    title: gettext('Applicant'),
                    field: 'user_display'
                }, {
                    title: gettext('Application Time'),
                    field: 'create_time'
                }, {
                    title: gettext('Group'),
                    field: 'resource_group__group_name',
                    visible: false // Hidden by default
                }, {
                    title: gettext('Operations'),
                    field: 'operation',
                    formatter: function (value, row, index) {
                        return "<button class=\"btn btn-info btn-xs\" workflow_id=\"" + row.id + "\"\n" + "onclick=\"getLog(this)\" >" + gettext("Operation Log") + "\n" + "</button>"
                    }
                }],
                onLoadSuccess: function () {
                },
                onLoadError: onLoadErrorCallback,
                onSearch: function (e) {
                    //Pass search parameters to server
                    queryParams(e)
                },
                responseHandler: function (res) {
                    //Modify data source before ajax retrieves data and renders table
                    return res;
                }
            });

        }

        //Get database list on instance change
        $("#src_instance_name").change(function () {
            $.ajax({
                type: "get",
                url: "/instance/instance_resource/",
                dataType: "json",
                data: {
                    instance_name: $("#src_instance_name").val(),
                    resource_type: "database"
                },
                complete: function () {

                },
                success: function (data) {
                    if (data.status === 0) {
                        var result = data.data;
                        $("#src_db_name").empty();
                        for (var i = 0; i < result.length; i++) {
                            var name = "<option value=\"" + result[i] + "\">" + result[i] + "</option>";
                            $("#src_db_name").append(name);
                        }
                        $('#src_db_name').selectpicker('render');
                        $('#src_db_name').selectpicker('refresh');
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });
        $("#dest_instance_name").change(function () {
            $.ajax({
                type: "get",
                url: "/instance/instance_resource/",
                dataType: "json",
                data: {
                    instance_name: $("#dest_instance_name").val(),
                    resource_type: "database"
                },
                complete: function () {

                },
                success: function (data) {
                    if (data.status === 0) {
                        var result = data.data;
                        $("#dest_db_name").empty();
                        for (var i = 0; i < result.length; i++) {
                            var name = "<option value=\"" + result[i] + "\">" + result[i] + "</option>";
                            $("#dest_db_name").append(name);
                        }
                        $('#dest_db_name').selectpicker('render');
                        $('#dest_db_name').selectpicker('refresh');
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        //Get table names on database change
        $("#src_db_name").change(function () {
            $.ajax({
                type: "get",
                url: "/instance/instance_resource/",
                dataType: "json",
                data: {
                    instance_name: $("#src_instance_name").val(),
                    db_name: $("#src_db_name").val(),
                    resource_type: "table"
                },
                complete: function () {
                },
                success: function (data) {
                    if (data.status === 0) {
                        var result = data.data;
                        $("#src_table_name").empty();
                        for (var i = 0; i < result.length; i++) {
                            var name = "<option>" + result[i] + "</option>";
                            $("#src_table_name").append(name);
                        }
                        $('#src_table_name').selectpicker('render');
                        $('#src_table_name').selectpicker('refresh');
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });
        $("#dest_db_name").change(function () {
            $.ajax({
                type: "get",
                url: "/instance/instance_resource/",
                dataType: "json",
                data: {
                    instance_name: $("#dest_instance_name").val(),
                    db_name: $("#dest_db_name").val(),
                    resource_type: "table"
                },
                complete: function () {
                },
                success: function (data) {
                    if (data.status === 0) {
                        var result = data.data;
                        $("#dest_table_name").empty();
                        for (var i = 0; i < result.length; i++) {
                            var name = "<option>" + result[i] + "</option>";
                            $("#dest_table_name").append(name);
                        }
                        $('#dest_table_name').selectpicker('render');
                        $('#dest_table_name').selectpicker('refresh');
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        //Determine page display
        $("#mode").change(function () {
            //Database permissions
            let mode = $("#mode").val();
            if (mode === 'dest') {
                $("#dest-div").show();
            } else {
                $("#dest-div").hide();
            }
            if (mode !== 'purge') {
                $("#no_delete-div").show()
            } else {
                $("#no_delete-div").hide()
            }
        });

        //Submit permission application
        function archive_apply() {
            //Disable button
            $('button[type=button]').addClass('disabled');
            $('button[type=button]').prop('disabled', true);
            //Submit request
            $.ajax({
                type: "post",
                url: "/archive/apply/",
                dataType: "json",
                data: {
                    title: $("#title").val(),
                    group_name: $("#group_name").val(),
                    src_instance_name: $("#src_instance_name").val(),
                    src_table_name: $("#src_table_name").val(),
                    src_db_name: $("#src_db_name").val(),
                    mode: $("#mode").val(),
                    dest_instance_name: $("#dest_instance_name").val(),
                    dest_db_name: $("#dest_db_name").val(),
                    dest_table_name: $("#dest_table_name").val(),
                    condition: $("#condition").val(),
                    no_delete: $("#no_delete").val(),
                    sleep: $("#sleep").val(),
                },
                complete: function () {
                    $('button[type=button]').removeClass('disabled');
                    $('button[type=button]').prop('disabled', false);
                },
                success: function (data) {
                    if (data.status === 0) {
                        $('#apply').modal('hide');
                        location.href = '/archive/'
                    } else {
                        alert(data.msg)
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }

        // Get operation log
        function getLog(obj) {
            var workflow_id = $(obj).attr("workflow_id");
            var workflow_type = 3;
            $.ajax({
                type: "post",
                url: "/workflow/log/",
                dataType: "json",
                data: {
                    workflow_id: workflow_id,
                    workflow_type: workflow_type,
                },
                complete: function () {
                },
                success: function (data) {
                    //Initialize table
                    $('#logs').modal('show');
                    $('#log-list').bootstrapTable('destroy').bootstrapTable({
                        escape: true,
                        striped: true,                      //Show row striping
                        cache: false,                       //Use cache, default is true, so generally need to set this property (*)
                        pagination: false,                   //Show pagination (*)
                        sortable: false,                     //Enable sorting
                        sortOrder: "asc",                   //Sort order
                        sidePagination: "client",           //Pagination method: client-side or server-side (*)
                        pageNumber: 1,                      //Initialize first page, default first page
                        pageSize: 20,                     //Records per page (*)
                        pageList: [20, 30, 50, 100],       //Selectable rows per page (*)
                        search: false,                      //Show table search
                        strictSearch: false,                //Full match search
                        showColumns: false,                  //Show all columns (select visible columns)
                        showRefresh: false,                  //Show refresh button
                        minimumCountColumns: 2,             //Minimum allowed columns
                        clickToSelect: false,                //Enable click to select row
                        uniqueId: "id",                     //Unique identifier for each row, usually primary key
                        showToggle: false,                   //Show toggle button for detail/list view
                        cardView: false,                    //Show detail view
                        detailView: false,                  //Show parent-child table
                        locale: 'zh-CN',                    //Localization
                        data: data.rows,
                        columns: [{
                            title: gettext('Operations'),
                            field: 'operation_type_desc'
                        }, {
                            title: gettext('Operator'),
                            field: 'operator_display'
                        }, {
                            title: gettext('Operation Time'),
                            field: 'operation_time'
                        }, {
                            title: gettext('Operation Info'),
                            field: 'operation_info'
                        }],
                        onLoadSuccess: function () {
                        },
                        onLoadError: onLoadErrorCallback,
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            })
        }

        //Initialize data
        $(document).ready(function () {
            archive_apply_list();
        });

    </script>
{% endblock %}
