{% extends "base.html" %}
{% load i18n %}
{% load format_tags %}
{% block content %}
    <!-- Log -->
    <div id="tab-content" class="tab-content">
        <!-- Log -->
        <div id="logs" role="tabpanel" class="tab-pane fade table-responsive">
            <table id="tb-logs" data-toggle="table" class="table table-hover"
                   style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
            </table>
        </div>
    </div>
    <!-- Log -->
    <script>
        //tab切换,保留when前激活的标签id
        $(function () {
            $("#nav-tabs").on('shown.bs.tab', "li", function (e) {
                var active_li_id = $(e.target).parents().attr('id');
                sessionStorage.setItem('archive_active_li_id', active_li_id);
                //when前激活的标签id
                if (active_li_id === 'detail_tab') {
                } else if (active_li_id === 'logs_tab') {
                    get_logs();
                }
            });
        });
    </script>

{% endblock %}
