{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        选择操作
                    </div>
                    <div class="panel-body">
                        <form class="form">
                            <div id="div-config" class="form-group">
                                <h5 class="control-label text-bold">配置项：</h5>
                                <div class="form-group">
                                    <select id="config" name="confg"
                                            class="selectpicker show-tick form-control bs-select-hidden"
                                            data-name="配置项" data-placeholder="请选择配置项:" required>
                                        <option value="is-empty" disabled="">请选择配置项:</option>
                                        <option value="0" selected="selected">系统设置</option>
                                        <option value="1">工单审核流配置</option>
                                    </select>
                                </div>
                            </div>
                            <div id="div-workflow" class="form-group" style="display: none">
                                <h5 class="control-label text-bold">工单类型：</h5>
                                <div class="form-group">
                                    <select id="workflow_type" name="group"
                                            class="selectpicker show-tick form-control bs-select-hidden"
                                            data-name="工单类型" data-placeholder="请选择工单类型:" required>
                                        <option value="{{ WorkflowDict.workflow_type.sqlreview }}" selected="selected">
                                            {{ WorkflowDict.workflow_type.sqlreview_display }}</option>
                                        <option value="{{ WorkflowDict.workflow_type.query }}">
                                            {{ WorkflowDict.workflow_type.query_display }}</option>
                                    </select>
                                </div>
                                <h5 class="control-label text-bold">组：</h5>
                                <div class="form-group">
                                    <select id="group" name="group"
                                            class="selectpicker show-tick form-control bs-select-hidden"
                                            data-name="组" data-placeholder="请选择组:" data-live-search="true" required>
                                        {% for group in group_list %}
                                            <option value="{{ group.group_name }}">{{ group.group_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-9 column">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        操作
                    </div>
                    <div class="panel-body">
                        <form id="form-system-config" action="/changeconfig/" method="post">
                            {% csrf_token %}
                            <div id="div-system-config" class="form-group" style="display: none">
                                <h4 style="color: darkgrey"><b>Inception配置</b></h4>
                                <hr/>
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inception_host"
                                               class="col-sm-4 control-label">INCEPTION_HOST</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control"
                                                   id="inception_host"
                                                   key="inception_host"
                                                   value="{{ config.inception_host }}"
                                                   placeholder="Inception地址">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inception_port"
                                               class="col-sm-4 control-label">INCEPTION_PORT</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control"
                                                   id="inception_port"
                                                   key="inception_port"
                                                   value="{{ config.inception_port }}"
                                                   placeholder="Inception端口">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inception_remote_backup_host"
                                               class="col-sm-4 control-label">REMOTE_BACKUP_HOST</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control"
                                                   id="inception_remote_backup_host"
                                                   key="inception_remote_backup_host"
                                                   value="{{ config.inception_remote_backup_host }}"
                                                   placeholder="Inception备份库地址">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inception_remote_backup_port"
                                               class="col-sm-4 control-label">REMOTE_BACKUP_PORT</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control"
                                                   id="inception_remote_backup_port"
                                                   key="inception_remote_backup_port"
                                                   value="{{ config.inception_remote_backup_port }}"
                                                   placeholder="Inception备份库端口">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inception_remote_backup_user"
                                               class="col-sm-4 control-label">REMOTE_BACKUP_USER</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control"
                                                   id="inception_remote_backup_user"
                                                   key="inception_remote_backup_user"
                                                   value="{{ config.inception_remote_backup_user }}"
                                                   placeholder="Inception备份库用户">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inception_remote_backup_password"
                                               class="col-sm-4 control-label">REMOTE_BACKUP_PASSWORD</label>
                                        <div class="col-sm-5">
                                            <input type="password" class="form-control"
                                                   id="inception_remote_backup_password"
                                                   key="inception_remote_backup_password"
                                                   value="{{ config.inception_remote_backup_password }}"
                                                   placeholder="Inception备份库用户密码">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <h4 style="color: darkgrey"><b>功能模块配置</b></h4>
                                <hr/>
                                <h5 style="color: darkgrey"><b>SQL上线</b></h5>
                                <hr/>
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="critical_ddl"
                                               class="col-sm-4 control-label">CRITICAL_DDL</label>
                                        <div class="col-sm-8">
                                            <div class="switch switch-small">
                                                <label>
                                                    <input id="critical_ddl"
                                                           key="critical_ddl"
                                                           value="{{ config.critical_ddl }}"
                                                           checked="checked"
                                                           type="checkbox">
                                                    是否禁止DROP、TRUNCATE高危DDL操作
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="critical_ddl"
                                               class="col-sm-4 control-label">AUTO_REVIEW</label>
                                        <div class="col-sm-8">
                                            <div class="switch switch-small">
                                                <label>
                                                    <input id="auto_review"
                                                           key="auto_review"
                                                           value="{{ config.auto_review }}"
                                                           type="checkbox">
                                                    是否开启SQL上线自动审批
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="div-auto-review-config" style="display: none">
                                        <div class="form-group">
                                            <label for="critical_ddl"
                                                   class="col-sm-4 control-label">AUTO_REVIEW_REGEX</label>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control"
                                                       id="auto_review_regex"
                                                       key="auto_review_regex"
                                                       value="{{ config.auto_review_regex }}"
                                                       placeholder="非自动审批语句的正则判断条件">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inception_remote_backup_password"
                                                   class="col-sm-4 control-label">MAX_UPDATE_ROWS</label>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control"
                                                       id="auto_review_max_update_rows"
                                                       key="auto_review_max_update_rows"
                                                       value="{{ config.auto_review_max_update_rows }}"
                                                       placeholder="自动审核允许单条语句最大更新行数">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h5 style="color: darkgrey"><b>SQL查询</b></h5>
                                <hr/>
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="query"
                                               class="col-sm-4 control-label">QUERY</label>
                                        <div class="col-sm-8">
                                            <div class="switch switch-small">
                                                <label>
                                                    <input id="query" key="query"
                                                           value="{{ config.query }}"
                                                           type="checkbox"> 是否开启SQL查询功能
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="div-query-config" style="display: none">
                                        <div class="form-group">
                                            <label for="query_check"
                                                   class="col-sm-4 control-label">QUERY_CHECK</label>
                                            <div class="col-sm-8">
                                                <div class="switch switch-small">
                                                    <label>
                                                        <input id="query_check"
                                                               key="query_check"
                                                               value="{{ config.query_check }}" type="checkbox">
                                                        是否强制开启Inception检测
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="data_masking"
                                                   class="col-sm-4 control-label">DATA_MASKING</label>
                                            <div class="col-sm-8">
                                                <div class="switch switch-small">
                                                    <label>
                                                        <input id="data_masking"
                                                               key="data_masking"
                                                               value="{{ config.data_masking }}" type="checkbox">
                                                        是否开启动态脱敏
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="admin_query_limit"
                                                   class="col-sm-4 control-label">ADMIN_QUERY_LIMIT</label>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control" id="admin_query_limit"
                                                       key="admin_query_limit"
                                                       value="{{ config.admin_query_limit }}"
                                                       placeholder="管理员/DBA查询结果集限制">
                                            </div>
                                        </div>
                                    </div>
                                    <h5 style="color: darkgrey"><b>SQL优化</b></h5>
                                    <hr/>
                                    <div class="form-group">
                                        <label for="sqladvisor"
                                               class="col-sm-4 control-label">SQLADVISOR_PATH</label>
                                        <div class="col-sm-5">
                                            <div class="switch switch-small">
                                                <input type="text" class="form-control" id="sqladvisor" key="sqladvisor"
                                                       value="{{ config.sqladvisor }}"
                                                       placeholder="SQLADVISOR路径">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <h4 style="color: darkgrey"><b>通知配置</b></h4>
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="mail"
                                               class="col-sm-4 control-label">MAIL</label>
                                        <div class="col-sm-8">
                                            <div class="switch switch-small">
                                                <label>
                                                    <input id="mail" key="mail" value="{{ config.mail }}"
                                                           type="checkbox"> 是否开启邮件通知
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="div-mail-config" style="display: none">
                                        <div class="form-group">
                                            <label for="mail_smtp_server"
                                                   class="col-sm-4 control-label">MAIL_SMTP_SERVER</label>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control"
                                                       id="mail_smtp_server"
                                                       key="mail_smtp_server"
                                                       value="{{ config.mail_smtp_server }}"
                                                       placeholder="邮件smtp地址">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="mail_smtp_port"
                                                   class="col-sm-4 control-label">MAIL_SMTP_PORT</label>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control"
                                                       id="mail_smtp_port"
                                                       key="mail_smtp_port"
                                                       value="{{ config.mail_smtp_port }}"
                                                       placeholder="邮件smtp端口">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="mail_smtp_user"
                                                   class="col-sm-4 control-label">MAIL_SMTP_USER</label>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control"
                                                       id="mail_smtp_user"
                                                       key="mail_smtp_user"
                                                       value="{{ config.mail_smtp_user }}"
                                                       placeholder="邮箱账号">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="mail_smtp_password"
                                                   class="col-sm-4 control-label">MAIL_SMTP_PASSWORD</label>
                                            <div class="col-sm-5">
                                                <input type="password" class="form-control"
                                                       id="mail_smtp_password"
                                                       key="mail_smtp_password"
                                                       value="{{ config.mail_smtp_password }}"
                                                       placeholder="邮箱账号密码">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="mail"
                                               class="col-sm-4 control-label">DING</label>
                                        <div class="col-sm-8">
                                            <div class="switch switch-small">
                                                <label>
                                                    <input id="ding" key="ding" value="{{ config.ding }}"
                                                           type="checkbox"> 是否开启钉钉通知
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <h4 style="color: darkgrey"><b>其他配置</b></h4>
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="aliyun_rds_manage"
                                               class="col-sm-4 control-label">ALIYUN_RDS_MANAGE</label>
                                        <div class="col-sm-8">
                                            <div class="switch switch-small">
                                                <label>
                                                    <input id="aliyun_rds_manage" key="aliyun_rds_manage"
                                                           value="{{ config.aliyun_rds_manage }}"
                                                           type="checkbox"> 是否开启阿里云RDS管理
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="lock_time_threshold"
                                               class="col-sm-4 control-label">LOCK_TIME_THRESHOLD</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control"
                                                   id="lock_time_threshold"
                                                   key="lock_time_threshold"
                                                   value="{{ config.lock_time_threshold }}"
                                                   placeholder="账户登录失败锁定时间(秒)">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="lock_cnt_threshold"
                                               class="col-sm-4 control-label">LOCK_CNT_THRESHOLD</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control"
                                                   id="lock_cnt_threshold"
                                                   key="lock_cnt_threshold"
                                                   value="{{ config.lock_cnt_threshold }}"
                                                   placeholder="账户登录失败几次锁账户">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-10">
                                        <button id="saveconfig" type="button" class="btn btn-default">保存配置</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div id="div-workflow-config" class="form-inline form-group" style="display: none">
                            <h5 class="control-label text-bold" style="color: red">
                                规则：<b>选择多人即审核流为多级审核，按照选择顺序进行流转</b></h5>
                            <br>
                            <h6 class="control-label text-bold">当前审批流程：<b id="workflow_auditors"></b></h6>
                            <br>
                            <div><h6 style="float:left;" class="control-label text-bold">变更审批流程：</h6></div>
                            <div class="form-group form-inline">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="group_auditors_text"
                                           disabled="disabled" style="width: 283px">
                                </div>
                                <div class="form-group">
                                    <select id="group_auditors" name="group"
                                            class="selectpicker show-tick form-control bs-select-hidden"
                                            data-name="审批人" data-placeholder="审批人:" data-live-search="true"
                                            required>
                                        <option value="is-empty" disabled="" selected="selected">添加审批人</option>
                                        {% for user in user_list %}
                                            <option value="{{ user.username }}">{{ user.display }}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <button id="btn-workflow-config" class="btn btn-default">变更</button>
                                <button id="btn-workflow-config-clean" class="btn btn-default">刷新</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    {% load staticfiles %}
    <link href="{% static 'bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
    <script>
        //配置项切换
        $("#config").change(function () {
            sessionStorage.setItem('config_type', $("#config").val());
            if ($("#config").val() === '0') {
                $("#div-system-config").show();
                $("#div-workflow").hide();
                $("#div-workflow-config").hide();
                $('input[type="checkbox"]').each(function (i) {
                    if ($(this).val() === 'true') {
                        $(this).bootstrapSwitch('state', true);
                    }
                    else {
                        $(this).bootstrapSwitch('state', false);
                    }
                });
            }
            else if ($("#config").val() === '1') {
                $("#div-system-config").hide();
                $("#div-workflow").show();
                $("#div-workflow-config").show();
                $("#workflow_type").trigger("change");
            }
        });

        // 系统设置checkbox事件
        $('input[type="checkbox"]').on('switchChange.bootstrapSwitch', function (event, state) {
            if (state) {
                $(this).val(true);
                if ($(this).attr("id") === 'query') {
                    $("#div-query-config").show();
                }
                else if ($(this).attr("id") === 'mail') {
                    $("#div-mail-config").show();
                }
                else if ($(this).attr("id") === 'auto_review') {
                    $("#div-auto-review-config").show();
                }
            }
            else {
                $(this).val(false);
                if ($(this).attr("id") === 'query') {
                    $("#query_check").val(false);
                    $("#data_masking").val(false);
                    $("#admin_query_limit").val(0);
                    $("#div-query-config").hide();
                }
                else if ($(this).attr("id") === 'mail') {
                    $("#div-mail-config").hide();
                }
                else if ($(this).attr("id") === 'auto_review') {
                    $("#div-auto-review-config").hide();
                }
            }
        });

        // 修改系统设置
        $("#saveconfig").click(function () {
            var formSubmit = $("#form-system-config");
            var configs = [];
            formSubmit.find('[key]').each(
                function () {
                    var config_item = $(this).attr("key");
                    var config_value = $(this).val();
                    configs.push({
                        key: config_item,
                        value: config_value
                    });
                }
            );

            $.ajax({
                type: "post",
                url: "/config/change/",
                dataType: "json",
                data: {
                    configs: JSON.stringify(configs)
                },
                complete: function () {
                },
                success: function (data) {
                    if (data.status === 0) {
                        window.location.reload()
                    } else {
                        alert("status: " + data.status + "\nmsg: " + data.msg + data.data);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        // 切换组触发工单类型切换事件
        $("#group").change(function () {
            $("#workflow_type").trigger('change')
        });

        // 点击用户填充到group_auditors_text
        $("#group_auditors").change(function () {
            var user = $(this).find(':selected').attr("disabled", "disabled").val();
            var auditors = $("#group_auditors_text").val();
            if (auditors) {
                $("#group_auditors_text").val(auditors + ',' + user);
            }
            else {
                $("#group_auditors_text").val(user)
            }
            $('#group_auditors').selectpicker('render');
            $('#group_auditors').selectpicker('refresh');
        });

        // 清空审核人信息
        $("#btn-workflow-config-clean").click(function () {
            $("#group_auditors_text").val('');
            window.location.reload()
        });

        // 切换工单类型获取对应组负责人
        $("#workflow_type").change(function () {
            $("#div-workflow-config").show();
            $("#group_auditors_text").val('');
            if ($("#group").val()) {
                $.ajax({
                    type: "post",
                    url: "/group/auditors/",
                    dataType: "json",
                    data: {
                        group_name: $("#group").val(),
                        workflow_type: $("#workflow_type").val()
                    },
                    complete: function () {

                    },
                    success: function (data) {
                        if (data.status === 0) {
                            var result = data.data;
                            $("#workflow_auditors").text(result['auditors_display']);
                        } else {
                            alert("status: " + data.status + "\nmsg: " + data.msg + data.data);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            }
        });

        // 变更组工单负责人
        $("#btn-workflow-config").click(function () {
            if ($("#group").val() && $("#workflow_type").val()) {
                $(this).addClass('disabled');
                $(this).prop('disabled', true);
                $.ajax({
                    type: "post",
                    url: "/group/changeauditors/",
                    dataType: "json",
                    data: {
                        group_name: $("#group").val(),
                        audit_users: $("#group_auditors_text").val(),
                        workflow_type: $("#workflow_type").val()
                    },
                    complete: function () {
                        $("#btn-workflow-config").removeClass('disabled');
                        $("#btn-workflow-config").prop('disabled', false);
                    },
                    success: function (data) {
                        if (data.status === 0) {
                            //alert('修改成功');
                            $("#workflow_type").trigger("change")
                        } else {
                            alert("status: " + data.status + "\nmsg: " + data.msg + data.data);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            }
            else {
                alert('请选择组和工单类型！')
            }

        });

        //自动填充操作项
        $(document).ready(function () {
            if (sessionStorage.getItem('config_type')) {
                $("#config").val(sessionStorage.getItem('config_type')).trigger("change")
            }
            else if ($("#config").val()) {
                $("#config").trigger("change")
            }
        })
    </script>
{% endblock %}
