{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <!-- Custom buttons -->
    <div id="process-toolbar" class="btn-group right" style="display:none;">
        <button id="kill_process" class="btn btn-default" type="button">{% trans "Kill Session" %}</button>
    </div>
    <!-- Nav tabs -->
    <ul id="nav-tabs" class="nav nav-tabs" role="tablist">
        <li id="process_tab" class="active">
            <a href="#process" role="tab" data-toggle="tab">Process Status</a>
        </li>
        <li id="space_tab">
            <a href="#space" role="tab" data-toggle="tab">TopTablespace</a>
        </li>
        <li id="trx_tab">
            <a href="#trx" role="tab" data-toggle="tab">Transaction Info</a>
        </li>
        <li id="trxandlocks_tab">
            <a href="#trxandlocks" role="tab" data-toggle="tab">Lock Info</a>
        </li>
        <div class="form-inline pull-right">
            <div class="form-group ">
                <select id="instance_name" class="form-control selectpicker" name="instance_name_list"
                        title="{% trans 'Select Instance:' %}"
                        data-live-search="true">
                        <optgroup id="optgroup-mysql" label="MySQL"></optgroup>
                        <optgroup id="optgroup-mongo" label="MongoDB"></optgroup>
                        <optgroup id="optgroup-oracle" label="Oracle"></optgroup>
                        <optgroup id="optgroup-redis" label="Redis"></optgroup>
                        <optgroup id="optgroup-pgsql" label="PgSQL"></optgroup>
                        <optgroup id="optgroup-doris" label="Doris"></optgroup>
                </select>
            </div>
            <div id="command-div" class="form-group">
                <select id="command" class="form-control selectpicker" name="command_type" title="commandType">
                    <!--option value="All">All</option>
                    <option value="Query" selected="selected">Query</option>
                    <option value="Not Sleep">Not Sleep</option-->
                </select>
            </div>
        </div>
    </ul>
    <!-- Tab panes -->
    <div id="tab-content" class="tab-content">
        <!-- Process Status的Table格-->
        <div id="process" role="tabpanel" class="tab-pane fade in active table-responsive">
            <table id="process-list" data-toggle="table" class="table table-hover"
                   style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
            </table>
        </div>
        <!-- TopTablespace的Table格-->
        <div id="space" role="tabpanel" class="tab-pane fade table-responsive">
            <table id="tablespace-list" data-toggle="table" class="table table-hover"
                   style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
            </table>
        </div>
        <!-- Transaction Info的Table格-->
        <div id="trx" role="tabpanel" class="tab-pane fade table-responsive">
            <table id="trx-list" data-toggle="table" class="table table-hover"
                   style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
            </table>
        </div>
        <!-- Lock Info的Table格-->
        <div id="trxandlocks" role="tabpanel" class="tab-pane fade table-responsive">
            <table id="trxandlocks-list" data-toggle="table" class="table table-hover"
                   style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
            </table>
        </div>
    </div>
    <!-- ConfigInfo确认 -->
    <div class="modal fade" id="killComfirm">
        <div class="modal-dialog">
            <div class="modal-content message_align">
                <div class="modal-header ">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title text-danger">Confirm要Terminate所选会话吗？</h4>
                </div>
                <div class="modal-body">
                    <input type="text" id="request_params" hidden>
                    <b id="kill_sql"></b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">{% trans "Cancel" %}</button>
                    <button type="button" onclick="kill_session()" class="btn btn-danger" data-dismiss="modal">ConfirmTerminate
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}
    {% load static %}
    <script src="{% static 'bootstrap-table/js/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/js/tableExport.min.js' %}"></script>
    <script src="{% static 'dbdiagnostic/js/db_info.js' %}"></script>
    <script>
        // Get current locale for bootstrap-table
        var currentLocale = '{% if LANGUAGE_CODE == "zh-hans" %}zh-CN{% elif LANGUAGE_CODE == "es" %}es-ES{% else %}en-US{% endif %}';


        var processListColumns  = [];
        var tablespaceListColumns = [];
        var lockListColumns = [];
        var processListDetailFormatCallback = NaN;
        var lockListDetailFormatCallback = NaN;

        // get_process_list函数Table格的格式化Info
        // 0.Database Type； 1.Type过滤； 2.Column映射；  3.详细Info的处理函数
        var processListTableInfos = []

        if (typeof pgsqlDiagnosticInfo !== "undefined" && Array.isArray(pgsqlDiagnosticInfo.fieldsProcesslist)) {
            processListTableInfos.push(pgsqlDiagnosticInfo?.fieldsProcesslist);
        }
        if (typeof mysqlDiagnosticInfo !== "undefined" && Array.isArray(mysqlDiagnosticInfo.fieldsProcesslist)) {
            processListTableInfos.push(mysqlDiagnosticInfo?.fieldsProcesslist);
        }
        if (typeof mongoDiagnosticInfo !== "undefined" && Array.isArray(mongoDiagnosticInfo.fieldsProcesslist)) {
            processListTableInfos.push(mongoDiagnosticInfo?.fieldsProcesslist);
        }
        if (typeof redisDiagnosticInfo !== "undefined" && Array.isArray(redisDiagnosticInfo.fieldsProcesslist)) {
            processListTableInfos.push(redisDiagnosticInfo?.fieldsProcesslist);
        }
        if (typeof oracleDiagnosticInfo !== "undefined" && Array.isArray(oracleDiagnosticInfo.fieldsProcesslist)) {
            processListTableInfos.push(oracleDiagnosticInfo?.fieldsProcesslist);
        }
        if (typeof dorisDiagnosticInfo !== "undefined" && Array.isArray(dorisDiagnosticInfo.fieldsProcesslist)) {
            processListTableInfos.push(dorisDiagnosticInfo?.fieldsProcesslist);
        }
         

        
        function get_process_list() {
            $("#command-div").show();
            $("#process-toolbar").show();
            if ($("#instance_name").val()) {
                //Initializetable
                $('#process-list').bootstrapTable('destroy').bootstrapTable({
                    escape: true,
                    method: 'post',
                    contentType: "application/x-www-form-urlencoded",
                    url: "/db_diagnostic/process/",
                    striped: true,                      //Show row stripes
                    cache: false,                       //Use cache，Default istrue，so usually need to set this property（*）
                    pagination: true,                   //Show pagination（*）
                    sortable: true,                     //Enable sorting
                    sortOrder: "desc",                   //Sort order
                    sortName: 'time',                   
                    sidePagination: "client",           //Pagination mode：clientClient-side pagination，serverServer-side pagination（*）
                    pageNumber: 1,                      //Initialize load first page，Default first page,and record
                    pageSize: 100,                     //Records per page（*）
                    pageList: [20, 30, 50, 100, 1000],       //Selectable rows per page（*）
                    search: true,                      //Show table search
                    strictSearch: false,                //Exact match search
                    showColumns: true,                  //Show all columns（Select columns to display）
                    showRefresh: true,                  //Show refresh button
                    showExport: true,
                    exportDataType: "all",
                    minimumCountColumns: 2,             //Minimum columns allowed
                    clickToSelect: true,                //Enable click to select row
                    showToggle: true,                   //Show toggle button for detail/list view
                    cardView: false,                    //Show detail view
                    detailView: true,                  //Show parent-child table
                    
                    detailFormatter: processListDetailFormatCallback,
                    locale: currentLocale,                    //Localization
                    toolbar: "#process-toolbar",               //Specify customtoolbar
                    queryParamsType: 'limit',
                    //Parameters when requesting data
                    queryParams: function (params) {
                        return {
                            instance_name: $("#instance_name").val(),
                            command_type: $("#command").val()
                        }
                    },
                    columns: processListColumns,
                    onLoadSuccess: function (data) {
                        if (data.status !== 0) {
                            alert("数据加载Failed！" + data.msg);
                        }
                    },
                    onLoadError: onLoadErrorCallback,
                    onSearch: function (e) {
                        //Pass search params to server
                        queryParams(e)
                    },
                    responseHandler: function (res) {
                        
                        return res;
                    }
                });
            }
        }

        // get_space_list函数Table格的格式化Info
        // 0.Database Type； 1.Column映射
        let tablespaceListTableInfos = [
            [
                'mysql',
                [{
                     title: 'Database',
                     field: 'table_schema'
                 }, {
                     title: 'Table名',
                     field: 'table_name'
                 }, {
                     title: '存储引擎',
                     field: 'engine'
                 }, {
                     title: '总空间(MB)',
                     field: 'total_size'
                 }, {
                     title: '行数',
                     field: 'table_rows'
                 }, {
                     title: '数据空间(MB)',
                     field: 'data_size'
                 }, {
                     title: 'Index空间(MB)',
                     field: 'index_size'
                 }, {
                     title: '碎片空间(MB)',
                     field: 'data_free'
                 }, {
                     title: '碎片率(%)',
                     field: 'pct_free'
                 }]
            ],
            [
                'oracle',
                [{
                    title: 'Tablespace名',
                    field: 'TABLESPACE_NAME'
                }, {
                    title: 'TablespaceType',
                    field: 'TABLESPACE_TYPE'
                }, {
                    title: 'Status',
                    field: 'STATUS'
                }, {
                    title: '总空间(MB)',
                    field: 'TOTAL_SPACE'
                }, {
                    title: '已使用空间(MB)',
                    field: 'USED_SPACE'
                }, {
                    title: '使用率(%)',
                    field: 'PCT_USED'
                }]
            ]
        ]
        let dorisTableInfo = ['doris',tablespaceListTableInfos[0][1]]
        tablespaceListTableInfos.push(dorisTableInfo)

        
        function get_space_list() {
            $("#command-div").hide();
            $("#process-toolbar").hide();
            if ($("#instance_name").val()) {
                //Initializetable
                $('#tablespace-list').bootstrapTable('destroy').bootstrapTable({
                    escape: true,
                    method: 'post',
                    contentType: "application/x-www-form-urlencoded",
                    url: "/db_diagnostic/tablespace/",
                    striped: true,                      //Show row stripes
                    cache: false,                       //Use cache，Default istrue，so usually need to set this property（*）
                    pagination: true,                   //Show pagination（*）
                    sortable: true,                     //Enable sorting
                    sortName: 'total_size',
                    sortOrder: "desc",                   //Sort order
                    sidePagination: "server",           //Pagination mode：clientClient-side pagination，serverServer-side pagination（*）
                    pageNumber: 1,                      //Initialize load first page，Default first page,and record
                    pageSize: 20,                     //Records per page（*）
                    pageList: [14, 30, 50, 100, 500, 2000],       //Selectable rows per page（*）
                    search: true,                      //Show table search
                    strictSearch: false,                //Exact match search
                    showColumns: true,                  //Show all columns（Select columns to display）
                    showRefresh: true,                  //Show refresh button
                    minimumCountColumns: 2,             //Minimum columns allowed
                    clickToSelect: true,                //Enable click to select row
                    uniqueId: "id",                     //Unique identifier for each row，Usually primary key column
                    showToggle: true,                   //Show toggle button for detail/list view
                    showExport: true,
                    exportDataType: "all",
                    cardView: false,                    //Show detail view
                    detailView: false,                  //Show parent-child table
                    locale: currentLocale,                    //Localization
                    toolbar: "#toolbar",               //Specify customtoolbar
                    queryParamsType: 'limit',
                    //Parameters when requesting data
                    queryParams: function (params) {
                        return {
                            offset: params.offset,
                            limit: params.limit,
                            instance_name: $("#instance_name").val()
                        }
                    },
                    columns: tablespaceListColumns,
                    onLoadSuccess: function (data) {
                        if (data.status !== 0) {
                            alert("数据加载Failed！" + data.msg);
                        }
                    },
                    onLoadError: onLoadErrorCallback,
                    onSearch: function (e) {
                        //Pass search params to server
                        queryParams(e)
                    },
                    responseHandler: function (res) {
                        
                        return res;
                    }
                });
            }
        }

        
        function get_trx_list() {
            $("#command-div").hide();
            $("#process-toolbar").hide();
            if ($("#instance_name").val()) {
                //Initializetable
                $('#trx-list').bootstrapTable('destroy').bootstrapTable({
                    escape: true,
                    method: 'post',
                    contentType: "application/x-www-form-urlencoded",
                    url: "/db_diagnostic/innodb_trx/",
                    striped: true,                      //Show row stripes
                    cache: false,                       //Use cache，Default istrue，so usually need to set this property（*）
                    pagination: true,                   //Show pagination（*）
                    sortable: false,                     //Enable sorting
                    sidePagination: "client",           //Pagination mode：clientClient-side pagination，serverServer-side pagination（*）
                    pageNumber: 1,                      //Initialize load first page，Default first page,and record
                    pageSize: 30,                     //Records per page（*）
                    pageList: [20, 30, 50, 100],       //Selectable rows per page（*）
                    search: true,                      //Show table search
                    strictSearch: false,                //Exact match search
                    showColumns: true,                  //Show all columns（Select columns to display）
                    showRefresh: true,                  //Show refresh button
                    minimumCountColumns: 2,             //Minimum columns allowed
                    clickToSelect: true,                //Enable click to select row
                    uniqueId: "id",                     //Unique identifier for each row，Usually primary key column
                    showToggle: true,                   //Show toggle button for detail/list view
                    showExport: true,
                    exportDataType: "all",
                    cardView: false,                    //Show detail view
                    detailView: true,                  //Show parent-child table
                    
                    detailFormatter: function (index, row) {
                        var html = [];
                        $.each(row, function (key, value) {
                            if (key === 'info') {
                                var sql = window.sqlFormatter.format(value);
                                
                                sql = sql.replace(/\r\n/g, "<br>");
                                sql = sql.replace(/\n/g, "<br>");
                                
                                sql = sql.replace(/\s/g, "&nbsp;");
                                html.push('<span>' + sql + '</span>');
                            }
                        });
                        return html.join('');
                    },
                    locale: currentLocale,                    //Localization
                    toolbar: "#toolbar",               //Specify customtoolbar
                    queryParamsType: 'limit',
                    //Parameters when requesting data
                    queryParams: function (params) {
                        return {
                            instance_name: $("#instance_name").val()
                        }
                    },
                    columns: [{
                        title: 'trx_started',
                        field: 'trx_started',
                        sortable: true
                    }, {
                        title: 'trx_idle_time',
                        field: 'trx_idle_time',
                        sortable: true
                    }, {
                        title: 'trx_state',
                        field: 'trx_state',
                        sortable: true
                    }, {
                        title: 'user',
                        field: 'user',
                    }, {
                        title: 'host',
                        field: 'host'
                    }, {
                        title: 'db',
                        field: 'db'
                    }, {
                        title: 'trx_mysql_thread_id',
                        field: 'trx_mysql_thread_id',
                    }, {
                        title: 'trx_operation_state',
                        field: 'trx_operation_state'
                    }, {
                        title: 'trx_tables_locked',
                        field: 'trx_tables_locked',
                    }, {
                        title: 'trx_rows_locked',
                        field: 'trx_rows_locked',
                    }, {
                        title: 'trx_rows_modified',
                        field: 'trx_rows_modified',
                    }, {
                        title: 'trx_is_read_only',
                        field: 'trx_is_read_only'
                    }, {
                        title: 'trx_isolation_level',
                        field: 'trx_isolation_level'
                    }, {
                        title: 'thread_time',
                        field: 'thread_time',
                        sortable: true
                    }, {
                        title: 'info',
                        field: 'info',
                        formatter: function (value, row, index) {
                            if (value.length > 20) {
                                var sql = value.substr(0, 20) + '...';
                                return sql;
                            } else {
                                return value
                            }
                        }
                    }, {
                        title: '完整INFO',
                        field: 'info',
                        visible: false 
                    }],
                    onLoadSuccess: function (data) {
                        if (data.status !== 0) {
                            alert("数据加载Failed！" + data.msg);
                        }
                    },
                    onLoadError: onLoadErrorCallback,
                    onSearch: function (e) {
                        //Pass search params to server
                        queryParams(e)
                    }
                });
            }
        }

        // get_trxandlocks_list函数Table格的格式化Info
        // 0.Database Type； 1.Column映射，2.详细Info的处理函数
        let lockListTableInfos = [
            [
                'mysql',
                [{
                    title: '等待的Status',
                    field: '等待的Status'
                }, {
                    title: '等待事务StartTime',
                    field: '等待事务StartTime',
                    sortable: true
                }, {
                    title: '等待事务等待StartTime',
                    field: '等待事务等待StartTime'
                }, {
                    title: '等待事务ID',
                    field: '等待事务ID',
                }, {
                    title: '等待事务线程ID',
                    field: '等待事务线程ID',
                }, {
                    title: '等待事务的sql',
                    field: '等待事务的sql',
                }, {
                    title: '等待的TableInfo',
                    field: '等待的TableInfo',
                }, {
                    title: '等待的锁id',
                    field: '等待的锁id'
                }, {
                    title: '运行的事务id',
                    field: '运行的事务id'
                }, {
                    title: '运行的事务线程id',
                    field: '运行的事务线程id',
                }, {
                    title: '运行的TableInfo',
                    field: '运行的TableInfo'
                }, {
                    title: '运行的锁id',
                    field: '运行的锁id'
                }, {
                    title: '运行事务的Status',
                    field: '运行事务的Status'
                }, {
                    title: '运行事务的Time',
                    field: '运行事务的Time',
                }, {
                    title: '运行事务的等待StartTime',
                    field: '运行事务的等待StartTime',
                }, {
                    title: '运行事务的sql',
                    field: '运行事务的sql',
                }],
                 function (index, row) {
                    var html = [];
                    $.each(row, function (key, value) {
                        if (key === '等待事务的sql') {
                            var sql = window.sqlFormatter.format(value);
                            
                            sql = sql.replace(/\r\n/g, "<br>");
                            sql = sql.replace(/\n/g, "<br>");
                            
                            sql = sql.replace(/\s/g, "&nbsp;");
                            html.push('<span>' + sql + '</span>');
                        }
                    });
                    return html.join('');
                }
            ],
            [
                'oracle',
                [{
                    title: 'USERNAME',
                    field: 'USERNAME'
                }, {
                    title: 'OBJECT_OWNER',
                    field: 'OBJECT_OWNER'
                }, {
                    title: 'OBJECT_ID',
                    field: 'OBJECT_ID'
                }, {
                    title: 'OBJECT_NAME',
                    field: 'OBJECT_NAME'
                }, {
                    title: 'LOCKED_MODE',
                    field: 'LOCKED_MODE'
                }, {
                    title: 'RELATED_SID',
                    field: 'RELATED_SID'
                }, {
                    title: 'RELATED_SERIAL#',
                    field: 'RELATED_SERIAL#'
                }, {
                    title: 'MACHINE',
                    field: 'MACHINE'
                }, {
                    title: 'RELATED_SQL',
                    field: 'RELATED_SQL'
                }, {
                    title: 'RELATED_SQL_FULL',
                    field: 'RELATED_SQL_FULL',
                    visible: false
                }, {
                    title: 'RELATED_SQL_EXEC_START',
                    field: 'RELATED_SQL_EXEC_START'
                }],
                 function (index, row) {
                    var html = [];
                    $.each(row, function (key, value) {
                        if (key === 'RELATED_SQL_FULL') {
                            var sql = window.sqlFormatter.format(value);
                            
                            sql = sql.replace(/\r\n/g, "<br>");
                            sql = sql.replace(/\n/g, "<br>");
                            
                            sql = sql.replace(/\s/g, "&nbsp;");
                            html.push('<span>' + sql + '</span>');
                        }
                    });
                    return html.join('');
                }
            ]
        ]

        
        function get_trxandlocks_list() {
            $("#command-div").hide();
            $("#process-toolbar").hide();
            if ($("#instance_name").val()) {
                //Initializetable
                $('#trxandlocks-list').bootstrapTable('destroy').bootstrapTable({
                    escape: true,
                    method: 'post',
                    contentType: "application/x-www-form-urlencoded",
                    url: "/db_diagnostic/trxandlocks/",
                    striped: true,                      //Show row stripes
                    cache: false,                       //Use cache，Default istrue，so usually need to set this property（*）
                    pagination: true,                   //Show pagination（*）
                    sortable: true,                     //Enable sorting
                    sortName: 'total_size',
                    sortOrder: "desc",                   //Sort order
                    sidePagination: "client",           //Pagination mode：clientClient-side pagination，serverServer-side pagination（*）
                    pageNumber: 1,                      //Initialize load first page，Default first page,and record
                    pageSize: 30,                     //Records per page（*）
                    pageList: [20, 30, 50, 100],       //Selectable rows per page（*）
                    search: true,                      //Show table search
                    strictSearch: false,                //Exact match search
                    showColumns: true,                  //Show all columns（Select columns to display）
                    showRefresh: true,                  //Show refresh button
                    minimumCountColumns: 2,             //Minimum columns allowed
                    clickToSelect: true,                //Enable click to select row
                    uniqueId: "id",                     //Unique identifier for each row，Usually primary key column
                    showToggle: true,                   //Show toggle button for detail/list view
                    showExport: true,
                    exportDataType: "all",
                    cardView: false,                    //Show detail view
                    detailView: true,                  //Show parent-child table
                    detailFormatter: lockListDetailFormatCallback,
                    locale: currentLocale,                    //Localization
                    toolbar: "#toolbar",               //Specify customtoolbar
                    queryParamsType: 'limit',
                    //Parameters when requesting data
                    queryParams: function (params) {
                        return {
                            instance_name: $("#instance_name").val()
                        }
                    },
                    columns: lockListColumns,
                    onLoadSuccess: function (data) {
                        if (data.status !== 0) {
                            alert("数据加载Failed！" + data.msg);
                        }
                    },
                    onLoadError: onLoadErrorCallback,
                    onSearch: function (e) {
                        //Pass search params to server
                        queryParams(e)
                    }
                });
            }
        }


        
        $(function () {
            $("#kill_process").click(function () {
                var AllSelections = $("#process-list").bootstrapTable('getSelections');
                if (AllSelections.length > 0) {
                    //get选择的线程id
                    var AllSelectionIds = [];
                    for (var i = 0; i < AllSelections.length; i++) {
                        if (AllSelections[i]['id']){
                            AllSelectionIds.push(AllSelections[i]['id'])    // mysql
                        } else if (AllSelections[i]['opid']) {
                            AllSelectionIds.push(AllSelections[i]['opid'])  // mongo
                        } else if (AllSelections[i]['SID']) {
                            AllSelectionIds.push([AllSelections[i]['SID'],AllSelections[i]['SERIAL#']])  // oracle
                        }
                    }
                    var instance_name = $("#instance_name").val();

                    
                    $.ajax({
                        type: "post",
                        url: "/db_diagnostic/create_kill_session/",
                        dataType: "json",
                        data: {
                            instance_name: instance_name,
                            ThreadIDs: JSON.stringify(AllSelectionIds)
                        },
                        traditional: true,
                        complete: function () {

                        },
                        success: function (data) {
                            if (data.status === 0) {
                                var result = data.data;
                                
                                $("#request_params").val(result);
                                $("#kill_sql").text(result);
                                
                                $("#killComfirm").modal();
                            } else {
                                alert(data.msg);
                            }
                        }
                    })
                } else {
                    alert("请先选择要Terminate的会话")
                }
            });
        });

        //Terminate会话
        function kill_session() {
            var AllSelections = $("#process-list").bootstrapTable('getSelections');
            if (AllSelections.length > 0) {
                //get选择的线程id
                var AllSelectionIds = [];
                for (var i = 0; i < AllSelections.length; i++) {
                    if (AllSelections[i]['id']){
                        AllSelectionIds.push(AllSelections[i]['id'])    // mysql
                    } else if (AllSelections[i]['opid']) {
                        AllSelectionIds.push(AllSelections[i]['opid'])  // mongo
                    } else if (AllSelections[i]['SID']) {
                        AllSelectionIds.push([AllSelections[i]['SID'],AllSelections[i]['SERIAL#']])  // oracle
                    }
                }
                var instance_name = $("#instance_name").val();
                var request_params = $("#request_params").val();
                if (request_params) {
                    
                    $.ajax({
                        type: "post",
                        url: "/db_diagnostic/kill_session/",
                        dataType: "json",
                        data: {
                            instance_name: instance_name,
                            ThreadIDs: JSON.stringify(AllSelectionIds)
                        },
                        traditional: true,
                        complete: function () {
                            //Refresh页面
                            get_process_list();
                            $("#command-div").show();
                            $("#process-toolbar").show();
                        },
                        success: function (data) {
                            if (data.status === 0) {
                            }
                        }
                    })
                } else {
                    alert("所选会话Terminated！")
                }
            } else {
                alert("请先选择要Terminate的会话")
            }
        }

        var allInstances = NaN;
        $(document).ready(function () {
                //getUserInstancelist
                $(function () {
                    
                    supportedDbType=['mysql','mongo', 'oracle','redis','pgsql','doris']
                    $.ajax({
                        type: "get",
                        url: "/group/user_all_instances/",
                        dataType: "json",
                        data: {
                            db_type: supportedDbType
                        },
                        complete: function () {
                            
                            sessionStorage.setItem('diagnostic_active_li_id', 'process_tab');
                            if (sessionStorage.getItem('diagnostic_instance_name')) {
                                $("#instance_name").val(sessionStorage.getItem('diagnostic_instance_name')).trigger("change");
                                $("#command-div").show();
                                $("#process-toolbar").show();
                            }
                        },
                        success: function (data) {
                            if (data.status === 0) {
                                let result = data['data'];
                                allInstances = result;
                                supportedDbType.forEach(function(db) {
                                    $("#optgroup-" + db).empty();
                                });
                                for (let i = 0; i < result.length; i++) {
                                    let instance = "<option value=\"" + result[i]['instance_name'] + "\">" + result[i]['instance_name'] + "</option>";
                                    var dbType = result[i]['db_type'];
                                    $("#optgroup-" + dbType).append(instance);
                                }
                                $('#instance_name').selectpicker('render');
                                $('#instance_name').selectpicker('refresh');
                            } else {
                                alert(data.msg);
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
                });
            }
        );
        //tab切换,保留when前激活的标签id
        $(function () {
            $("#nav-tabs").on('shown.bs.tab', "li", function (e) {
                var active_li_id = $(e.target).parents().attr('id');
                sessionStorage.setItem('diagnostic_active_li_id', active_li_id);
                //when前激活的标签id
                if ($("#instance_name").val()) {
                    if (active_li_id === 'process_tab') {
                        get_process_list();
                    } else if (active_li_id === 'space_tab') {
                        get_space_list();
                    } else if (active_li_id === 'trxandlocks_tab') {
                        get_trxandlocks_list();
                    } else if (active_li_id === 'trx_tab') {
                        get_trx_list();
                    }
                }
            });
        });

        
        $("#instance_name").change(function () {
            
            $("#command").empty();
            
            let command_types = NaN;
            let db_type = NaN;
            allInstances.forEach((instanceInfo,i) => {
                if (instanceInfo["instance_name"] === $("#instance_name").val()) {
                    db_type = instanceInfo["db_type"];
                }
            })
            processListTableInfos.forEach((processListTableInfo,i) =>{
                if (processListTableInfo[0] === db_type) {
                    command_types = processListTableInfo[1];
                    processListColumns = processListTableInfo[2];
                    processListDetailFormatCallback = processListTableInfo[3];
                }
            })
            tablespaceListTableInfos.forEach((tablespaceListTableInfo,i) =>{
                if (tablespaceListTableInfo[0] === db_type) {
                    tablespaceListColumns = tablespaceListTableInfo[1];
                }
            })
            lockListTableInfos.forEach((lockListTableInfo,i) =>{
                if (lockListTableInfo[0] === db_type) {
                    lockListColumns = lockListTableInfo[1];
                    lockListDetailFormatCallback = lockListTableInfo[2];
                }
            })
            
            // console.log(command_types);
            for (let i = 0; i < command_types.length; i++) {
                let instance = "<option value=\"" + command_types[i]+ "\">" + command_types[i] + "</option>";
                $("#command").append(instance);
            }

            $('#command').selectpicker('render');
            $('#command').selectpicker('refresh');
            
            sessionStorage.setItem('diagnostic_instance_name', $("#instance_name").val());
            var active_li_id = sessionStorage.getItem('diagnostic_active_li_id');
            if (active_li_id === 'process_tab') {
                get_process_list();
            } else if (active_li_id === 'space_tab') {
                get_space_list();
            } else if (active_li_id === 'trxandlocks_tab') {
                get_trxandlocks_list();
            } else if (active_li_id === 'trx_tab') {
                get_trx_list();
            }

        });

        
        $("#command").change(function () {
            get_process_list();
        });
    </script>
{% endblock %}

