{% extends "base.html" %}

{% block content %}
    <h4 style="display: inline;">单子名称：<span>{{ workflow_detail.workflow_name }}</span></h4>
    &nbsp;&nbsp;&nbsp;
    <!--只允许发起人提交其他实例-->
    {% if user.username == workflow_detail.engineer %}
        <a type='button' id="btnSubmitOtherCluster" class='btn btn-warning' href="/submitotherinstance/">上线其他实例</a>
    {% endif %}
    {% if is_can_review or user.is_superuser %}
        <a type='button' id="btnViewSql" class='btn btn-default' onclick="loading(this)" href="/editsql/">查看提交信息</a>
    {% endif %}
    <input type="hidden" id="sqlMaxRowNumber" value="{{ rows|length }}">
    <input type="hidden" id="editSqlContent" value="{{ workflow_detail.sql_content }}"/>
    <hr>
    <table data-toggle="table" class="table table-striped table-hover">
        <thead>
        <tr>
            <th>
                发起人
            </th>
            <th>
                审批流程
            </th>
            <th>
                当前审批
            </th>
            <th>
                目标实例
            </th>
            <th>
                数据库
            </th>
            <th>
                发起时间
            </th>
            <th>
                结束时间
            </th>
            <th>
                备份
            </th>
            <th>
                当前状态
            </th>
            <th>
                组
            </th>
            <th>
                类型
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="success">
            <td>
                {{ workflow_detail.engineer_display }}
            </td>
            <td>
                {{ audit_auth_group }}
            </td>
            <td>
                {{ current_audit_auth_group }}
            </td>
            <td>
                {{ workflow_detail.instance_name }}
            </td>
            <td>
                {{ workflow_detail.db_name }}
            </td>
            <td>
                {{ workflow_detail.create_time }}
            </td>
            <td>
                {{ workflow_detail.finish_time }}
            </td>
            <td>
                {{ workflow_detail.is_backup }}
            </td>
            <td>
                {% if workflow_detail.status == "workflow_finish" %}
                    <font color="green">
                {% else %}
                    <font color="red">
                {% endif %}
                <B id="workflow_detail_status">{{ workflow_detail.get_status_display }}</B></font>
            </td>
            <td>
                {{ workflow_detail.group_name }}
            </td>
            <td>
                {% if workflow_detail.sql_syntax == 1 %}
                    DDL
                {% elif workflow_detail.sql_syntax == 2 %}
                    DML
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <table id="tb-detail" data-toggle="table" class="table table-condensed"></table>

    {% if workflow_detail.is_manual == 1 and workflow_detail.execute_result %}
        <table data-toggle="table" class="table table-striped table-hover">
            <thead>
            <tr>
                <th>
                    执行结果
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {{ workflow_detail.execute_result }}
                </td>
            </tr>
            </tbody>
        </table>
        <br>
    {% endif %}
    {% if workflow_detail.audit_remark %}
        <table data-toggle="table" class="table table-striped table-hover">
            <thead>
            <tr>
                <th>
                    审核备注/终止原因
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {{ workflow_detail.audit_remark }}
                </td>
            </tr>
            </tbody>
        </table>
        <br>
    {% endif %}
    {% if workflow_detail.status == 'workflow_timingtask' %}
        <table data-toggle="table" class="table table-striped table-hover">
            <thead>
            <tr>
                <th>
                    定时执行时间
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {{ run_date }}
                </td>
            </tr>
            </tbody>
        </table>
        <br>
    {% endif %}

    <!--审核备注输入框-->
    {% if is_can_review or is_can_cancel %}
        <textarea id="remark" name="remark" class="form-control" data-name="审核备注"
                  placeholder="请填写审核备注/终止原因" rows=3></textarea>
        <br>
    {% endif %}
    <!--审核通过按钮-->
    {% if is_can_review %}
        <form id="from-passed" action="/passed/" method="post" style="display:inline-block;">
            {% csrf_token %}
            <input type="hidden" name="workflow_id" value="{{ workflow_detail.id }}">
            <input type="hidden" id="audit_remark" name="audit_remark" value="">
            <input type="button" id="btnPass" class="btn btn-success" value="审核通过"/>
        </form>
    {% endif %}
    <!--立即执行按钮-->
    {% if is_can_execute %}
        <form id="from-execute" action="/execute/" method="post" style="display:inline-block;">
            {% csrf_token %}
            <input type="hidden" name="workflow_id" value="{{ workflow_detail.id }}">
            <input type="button" id="btnExecuteOnly" class="btn btn-danger"
                   value="立即执行"/>
        </form>
    {% endif %}
    <!--定时执行按钮-->
    {% if is_can_timingtask %}
        {% if workflow_detail.status == 'workflow_review_pass' %}
            <input type="button" class="btn btn-info" data-toggle="modal" data-target="#cronComfirm" value="定时执行"/>
        {% elif workflow_detail.status == 'workflow_timingtask' %}
            <input type="button" class="btn btn-info" data-toggle="modal" data-target="#cronComfirm" value="执行时间变更"/>
        {% endif %}
    {% endif %}
    <!--终止执行按钮-->
    {% if is_can_review or is_can_cancel %}
        <form id="form-cancel" action="/cancel/" method="post" style="display:inline-block;">
            {% csrf_token %}
            <input type="hidden" name="workflow_id" value="{{ workflow_detail.id }}">
            <input type="hidden" id="cancel_remark" name="cancel_remark" value="">
            <input type="button" id="btnCancel" class="btn btn-default" value="终止流程"/>
        </form>
    {% endif %}
    <!--查看回滚按钮-->
    {% if workflow_detail.is_backup == '是' %}
        {% if  workflow_detail.status == 'workflow_finish' or  workflow_detail.status == 'workflow_exception' %}
            <form action="/rollback/" method="get" style="display:inline-block;">
                {% csrf_token %}
                <input type="hidden" name="workflow_id" value="{{ workflow_detail.id }}">
                <input type="submit" id="btnRollback" onclick="loading(this)" class="btn btn-default"
                       value="查看回滚SQL"/>
            </form>
        {% endif %}
    {% endif %}
    <!--重新修改按钮-->
    {% if workflow_detail.status == 'workflow_autoreviewwrong' or workflow_detail.status == 'workflow_abort' or workflow_detail.status == 'workflow_exception' %}
        {% if user.username == workflow_detail.engineer %}
            <!--只允许发起人修改工单-->
            {% csrf_token %}
            <a type='button' id="btnEditSql" onclick="loading(this)" class='btn btn-default'
               href="/editsql/">重新修改</a>
        {% endif %}
    {% endif %}

    <!-- 手动执行确认 -->
    <div class="modal fade" id="executeComfirm">
        <div class="modal-dialog">
            <div class="modal-content message_align">
                <div class="modal-header ">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title text-danger">确定要手工执行吗？</h4>
                </div>
                <div class="modal-body">
                    <p>手工执行将会跳过inception直接执行sql，无法生成备份，请谨慎操作！</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
                    <form action="/execute_skipinc/" method="post" style="display:inline-block;">
                        {% csrf_token %}
                        <input type="hidden" name="workflow_id" value="{{ workflow_detail.id }}">
                        <input type="submit" id="btnExecuteSkipinc" onclick="loading(this)"
                               class="btn btn-danger" value="确认执行"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 定时执行弹出框 -->
    <form id="from-addsqlcronjob" action="/timingtask/" method="post" style="display:inline-block;">
        <div class="modal fade" id="cronComfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header ">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h4 class="modal-title text-danger">定时执行SQL</h4>
                    </div>
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="hidden" name="workflow_id" value="{{ workflow_detail.id }}">
                            <div class='input-group date' id='datetimepicker'>
                                <input id="run_date" name="run_date" type='text' autocomplete="off" class="form-control"
                                       placeholder="请选择执行时间"/>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>

                        <input type="hidden" name="workflow_id" value="{{ workflow_detail.id }}">
                        <input type="button" id="btnAddsqlcronjob" class="btn btn-danger" value="确认提交"/>
                    </div>

                </div>
            </div>
        </div>
    </form>


{% endblock content %}

{% block js %}
    {% load staticfiles %}
    <link href="{% static 'datetimepicker/css/bootstrap-datetimepicker.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'daterangepicker/js/moment.min.js' %}"></script>
    <script src="{% static 'datetimepicker/js/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'datetimepicker/js/bootstrap-datetimepicker.zh-CN.js' %}"></script>
    <!--初始化时间控件 -->
    <script>
        var date = new Date();
        $("#datetimepicker").datetimepicker({
            format: "yyyy-mm-dd hh:ii",
            autoclose: true,
            todayBtn: true,
            pickerPosition: "bottom-left",
            language: 'zh-CN',//中文，需要引用zh-CN.js包
            startView: 1,//天视图
            minView: 0,//分钟
            startDate: date,
            inline: true,
            sideBySide: true,
            minuteStep: 5,
        })
    </script>
    <!--按钮控制 -->
    <script>
        var editWorkflowNname = "{{ workflow_detail.workflow_name }}";
        var editSqlContent = $("#editSqlContent").val();
        var editGroup = "{{ workflow_detail.group_name }}";
        var editClustername = "{{ workflow_detail.instance_name }}";
        var editDbname = "{{ workflow_detail.db_name }}";
        var editIsbackup = "{{ workflow_detail.is_backup }}";

        $("#btnEditSql").click(function () {
            sessionStorage.setItem('editWorkflowNname', editWorkflowNname);
            sessionStorage.setItem('editSqlContent', editSqlContent);
            sessionStorage.setItem('editGroup', editGroup);
            sessionStorage.setItem('editClustername', editClustername);
            sessionStorage.setItem('editDbname', editDbname);
            sessionStorage.setItem('editIsbackup', editIsbackup);
        });
        $("#btnViewSql").click(function () {
            sessionStorage.removeItem('editWorkflowDetailId');
            sessionStorage.setItem('editWorkflowNname', editWorkflowNname);
            sessionStorage.setItem('editSqlContent', editSqlContent);
            sessionStorage.setItem('editGroup', editGroup);
            sessionStorage.setItem('editClustername', editClustername);
            sessionStorage.setItem('editDbname', editDbname);
            sessionStorage.setItem('editIsbackup', editIsbackup);
        });
        $("#btnSubmitOtherCluster").click(function () {
            sessionStorage.setItem('editWorkflowNname', editWorkflowNname);
            sessionStorage.setItem('editSqlContent', editSqlContent);
            sessionStorage.setItem('editGroup', editGroup);
            sessionStorage.setItem('editIsbackup', editIsbackup);
        });

        // 执行确认
        $("#btnExecuteOnly").click(function () {
            if ({{ workflow_detail.is_manual }}) {
                var isContinue = confirm("平台不支持该语句备份，将不会自动备份数据，请确认是否立即执行？");
            }
            else {
                var isContinue = confirm("请确认是否立即执行？");
            }
            var formExecuteOnly = $("#from-execute");
            if (isContinue) {
                var element = $(this);
                var sqlNum = element.val();
                formExecuteOnly.submit();
                loading(this)
            }
        });

        //审核通过
        $("#btnPass").click(function () {
            //获取form对象，判断输入，通过则提交
            $("#audit_remark").val($("#remark").val());
            var formPassed = $("#from-passed");
            $(this).button('loading').delay(2500).queue(function () {
                $(this).button('reset');
                $(this).dequeue();
            });
            formPassed.submit();
        });

        // 审核不通过
        $("#btnCancel").click(function () {
            //获取form对象，判断输入，通过则提交
            $("#cancel_remark").val($("#remark").val());
            var formCancel = $("#form-cancel");
            if ($("#cancel_remark").val()) {
                $(this).button('loading').delay(2500).queue(function () {
                    $(this).button('reset');
                    $(this).dequeue();
                });
                formCancel.submit();
            }
            else {
                alert('请填写终止原因')
            }
        });

        // 定时时间校验
        $("#btnAddsqlcronjob").click(function () {
            //获取form对象，判断输入，通过则提交
            var formAddsqlcronjo = $("#from-addsqlcronjob");
            if ($("#run_date").val()) {
                $(this).button('loading').delay(2500).queue(function () {
                    $(this).button('reset');
                    $(this).dequeue();
                });
                formAddsqlcronjo.submit();
            }
            else {
                alert('请填写定时执行时间')
            }
        });

        // 按钮禁用
        function loading(obj) {
            $(obj).button('loading').delay(2500).queue(function () {
                $(obj).button('reset');
                $(obj).dequeue();
            });
        }
    </script>
    <!--表格初始化 -->
    <script>
        $('#tb-detail').bootstrapTable('destroy').bootstrapTable({
            escape: false,
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: true,                     //是否启用排序
            sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
            pageSize: 500,                       //每页的记录行数（*）
            pageList: [500, 1000, 5000],        //可供选择的每页的行数（*）
            search: false,                       //是否显示表格搜索
            strictSearch: false,                //是否全匹配搜索
            showColumns: false,                  //是否显示所有的列（选择显示的列）
            showRefresh: false,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: false,                //是否启用点击选中行
            uniqueId: "id",                     //每一行的唯一标识，一般为主键列
            showToggle: false,                   //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: true,                  //是否显示父子表
            //格式化详情
            detailFormatter: function (index, row) {
                var html = [];
                $.each(row, function (key, value) {
                    if (key === 'sql') {
                        var sql = value;
                        //替换所有的换行符
                        sql = sql.replace(/\r\n/g, "<br>");
                        sql = sql.replace(/\n/g, "<br>");
                        //替换所有的空格
                        sql = sql.replace(/\s/g, "&nbsp;");
                        html.push('<span>' + sql + '</span>');
                    }
                });
                return html.join('');
            },
            locale: 'zh-CN',                    //本地化
            data:{{ rows|safe }},
            columns: [{
                title: 'ID',
                field: 'id',
                sortable: true
            }, {
                title: 'SQL内容',
                field: 'sql',
                formatter: function (value, row, index) {
                    if (value.length > 80) {
                        return value.substr(0, 80) + '...';
                    }
                    else {
                        return value
                    }
                },
                sortable: false
            }, {
                title: '审核状态',
                field: 'errlevel',
                formatter: function (value, row, index) {
                    if (value === 0) {
                        return 'pass'
                    }
                    else if (value === 1) {
                        return 'warning'
                    }
                    else if (value === 2) {
                        return 'error'
                    }
                },
                sortable: true
            }, {
                title: '审核结果',
                field: 'errormessage',
                formatter: function (value, row, index) {
                    return value.replace(/\n/g, '<br>');
                },
                sortable: true
            }, {
                title: '扫描/影响行数',
                field: 'affected_rows',
                sortable: true
            }, {
                title: '执行耗时',
                field: 'execute_time',
                sortable: true
            }, {
                title: '执行状态',
                field: 'stagestatus',
                sortable: true
            }],
            rowStyle: function (row, index) {
                var style = "";
                if (row.errlevel === 1) {
                    style = 'warning';
                }
                else if (row.errlevel === 2) {
                    style = 'danger';
                }
                return {classes: style}
            },
            onLoadSuccess: function () {
            },
            onLoadError: function () {
                alert("数据加载失败！请检查接口返回信息和错误日志！");
            }
        });
    </script>
    <!--状态控制 -->
    <script>
        var workflow_id = "{{ workflow_detail.id }}";
        var status = $("#workflow_detail_status").text();
        var key;
        var retryCnt = 1;
        $(document).ready(function () {
            if (status === "执行中") {
                getWorkflowStatus(workflow_id);
            }
        });

        function getWorkflowStatus(workflow_id) {
            document.getElementById("workflow_detail_status").innerHTML = "确认中...";
            if (retryCnt <= 120) {
                clearTimeout(key);
                key = setTimeout(function () {
                    getWorkflowStatus(workflow_id);
                }, 1000);
                retryCnt++;
            }
            else {
                retryCnt = 1;
                alert("该工单2分钟仍然未执行完毕，请稍后尝试手动刷新本页面");
            }

            if (workflow_id > 0) {
                // console.log('get workflow status');
                $.ajax({
                    type: "post",
                    async: false,
                    url: "/getWorkflowStatus/",
                    dataType: "json",
                    data: {
                        workflow_id: workflow_id
                    },
                    complete: function () {
                        if (wfStatus !== -1 && wfStatus !== "执行中") {
                            window.location.reload(true);
                        }
                    },
                    success: function (data) {
                        wfStatus = data.status;
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            }
            else {
                alter("参数不正确")
            }
        }


    </script>
{% endblock %}
