<div class="form-group is-focused">
    <label class="control-label" for="inputUsername">Username</label>
    <input class="form-control ng-valid ng-dirty ng-touched" id="inputUsername" name="username" type="text"
           required>
</div>
<div class="form-group is-focused">
    <label class="control-label" for="inputPassword">Password</label>
    <input class="form-control ng-valid ng-dirty ng-touched" id="inputPassword" name="password"
           type="password" required>
</div>
<br/>
<div class="form-group">
    <button class="btn btn-primary btn-block" id="btnLogin" type="button"><i class="fa-lock"></i>登录{{ custom_title_suffix  }}</button>
</div>