<div class="form-group is-focused" style="margin-top: 15px;">
    <label class="control-label" for="inputUsername" i18n="label.username"> </label>
    <input class="form-control ng-valid ng-dirty ng-touched" id="inputUsername" name="username" type="text"
           required>
</div>
<div class="form-group is-focused">
    <label class="control-label" for="inputPassword" i18n="label.password"> </label>
    <input class="form-control ng-valid ng-dirty ng-touched" id="inputPassword" name="password"
           type="password" required>
</div>
<br/>
<div class="form-group">
    <button class="btn btn-primary btn-block" id="btnLogin" type="button" i18n="btn.confirm"> </button>
</div>