{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <!-- Custom operation buttons -->
    <div id="toolbar" class="btn-group">
        <a type="button" class="btn btn-default" href="/queryuserprivileges/">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            <span aria-hidden="true"></span>{% trans "Permission Management" %}</a>
        <button id="btn_add" type="button" class="btn btn-default"
                data-toggle="modal" data-target="#apply">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span aria-hidden="true"></span>{% trans "Apply for Permission" %}
        </button>
    </div>
    <!-- Application list table-->
    <div class="table-responsive">
        <table id="dbauthapply-list" data-toggle="table" class="table table-striped table-hover"
               style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
        </table>
    </div>
    <!-- Apply for permission modal-->
    <div class="modal fade" id="apply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans "Apply for Database Query Permission" %}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" autocomplete="off" class="form-control" id="title" placeholder="{% trans 'Brief description of permission usage' %}">
                    </div>
                    <div class="form-group">
                        <select id="group_name" name="group_name"
                                class="selectpicker show-tick form-control bs-select-hidden"
                                title="{% trans 'Please select group:' %}"
                                data-live-search="true" required>
                            {% for group in group_list %}
                                <option value="{{ group.group_name }}">{{ group.group_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="instance_name" name="instance_name"
                                class="selectpicker show-tick form-control bs-select-hidden"
                                title="Please select instance:"
                                data-live-search="true" required>
                            // TODO Use choices from models to render
                            {% for name, engine in engines.items %}
                                <optgroup id="optgroup-{{ name }}" label="{{ engine.name }}"></optgroup>
                            {%  endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="priv_type" name="db_name" data-live-search="true"
                                title="{% trans 'Permission level:' %}"
                                class="form-control selectpicker show-tick bs-select-hidden">
                        </select>
                    </div>
                    <div id="db_name_div" class="form-group">
                        <select id="db_name" name="db_name" data-live-search="true"
                                title="Please select database:"
                                class="form-control selectpicker show-tick bs-select-hidden ">
                        </select>
                    </div>
                    <div id="db_name_multiple_div" class="form-group" style="display: none">
                        <select id="db_name_multiple" name="db_name" data-live-search="true" multiple="multiple"
                                title="Please select database:" required
                                class="form-control selectpicker show-tick bs-select-hidden ">
                        </select>
                    </div>

                    <div id="table_div" class="form-group">
                        <select id="table_name" name="table_name"
                                class="form-control selectpicker show-tick bs-select-hidden" data-live-search="true"
                                multiple='multiple' data-max-options="999"
                                title="{% trans 'Please select table:' %}" required>
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="valid_date" name="valid_date"
                                title="{% trans 'Please select authorization period:' %}"
                                class="form-control selectpicker show-tick bs-select-hidden ">
                            <option value="day">{% trans "One day" %}</option>
                            <option value="week">{% trans "One week" %}</option>
                            <option value="month">{% trans "One month" %}</option>
                            <option value="year">{% trans "Long term (one year)" %}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input id="limit_num" list="limits" type="number"
                               class="form-control "
                               placeholder="{% trans 'Please select query row limit:' %}">
                        <datalist id="limits">
                            <option value=100>100</option>
                            <option value=500>500</option>
                            <option value=1000>1000</option>
                        </datalist>
                    </div>
                    <!--Approval process-->
                    <div id="div-workflow_auditors" class="form-group" style="display: none">
                        <p class="bg-primary">&nbsp&nbsp&nbspApproval process：<b id="workflow_auditors"></b></p>
                    </div>
                    <p class="text-info">{% trans "Note: After permission approval, you can perform online queries. Please wait patiently." %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success" onclick="applyforprivileges()">Submit application</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Log information -->
    <div class="modal fade" id="logs">
        <div class="modal-dialog">
            <div class="modal-content message_align">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title text-danger">{% trans "Workflow Log" %}</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table id="log-list" data-toggle="table" class="table table-striped table-hover"
                               style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <!--group -->
    <script>
        // Get instance information and approval process
        $("#group_name").change(function () {
            $.ajax({
                type: "post",
                url: "/group/instances/",
                dataType: "json",
                data: {
                    group_name: $("#group_name").val(),
                    tag_code: 'can_read'
                },
                complete: function () {
                },
                success: function (data) {
                    if (data.status === 0) {
                        $("optgroup[id^='optgroup']").empty();
                        let result = data['data']
                        const supportDb = [ {% for name in engines.keys %}"{{ name }}", {% endfor %}]
                        for (let i of result) {
                            let instance = "<option value=\"" + i.instance_name + "\" instance-id=" + i.id + ">" + i.instance_name + "</option>";
                            if (supportDb.indexOf(i.db_type) !== -1) {
                                $("#optgroup-" + i.db_type).append(instance);
                            }
                        }
                        $('#instance_name').selectpicker('render').selectpicker('refresh');
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
            $.ajax({
                type: "post",
                url: "/group/auditors/",
                dataType: "json",
                data: {
                    group_name: $("#group_name").val(),
                    workflow_type: 1
                },
                complete: function () {
                },
                success: function (data) {
                    if (data.status === 0) {
                        var result = data.data;
                        $("#div-workflow_auditors").show();
                        $("#workflow_auditors").val(result['auditors']);
                        $("#workflow_auditors").text(result['auditors_display']);
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

    </script>
    <script>
        //Select control initialization
        $("#table_name").selectpicker({
            actionsBox: true, //Add select all and cancel buttons to dropdown
            countSelectedText: gettext("{0} items selected"),
            selectedTextFormat: "count > 5"
        });
        $("#db_name_multiple").selectpicker({
            actionsBox: true, //Add select all and cancel buttons to dropdown
            countSelectedText: gettext("{0} items selected"),
            selectedTextFormat: "count > 5"
        });

        //Get application list
        function queryapplylist() {
            //Use asynchronous request
            //Initialize table
            $('#dbauthapply-list').bootstrapTable('destroy').bootstrapTable({
                escape: true,
                method: 'post',
                contentType: "application/x-www-form-urlencoded",
                url: "/query/applylist/",
                striped: true,                      //Show row striping
                cache: false,                       //Use cache, default is true, so generally need to set this property (*)
                pagination: true,                   //Show pagination (*)
                sortable: true,                     //Enable sorting
                sortOrder: "asc",                   //Sort order
                sidePagination: "server",           //Pagination method: client-side or server-side (*)
                pageNumber: 1,                      //Initialize first page, default first page
                pageSize: 20,                     //Records per page (*)
                pageList: [20, 30, 50, 100],       //Selectable rows per page (*)
                search: true,                      //Show table search
                strictSearch: false,                //Full match search
                showColumns: true,                  //Show all columns (select visible columns)
                showRefresh: true,                  //Show refresh button
                minimumCountColumns: 2,             //Minimum allowed columns
                clickToSelect: true,                //Enable click to select row
                uniqueId: "id",                     //Unique identifier for each row, usually primary key
                showToggle: true,                   //Show toggle button for detail/list view
                cardView: false,                    //Show detail view
                detailView: true,                  //Show parent-child table
                locale: 'zh-CN',                    //Localization
                toolbar: "#toolbar",               //Specify custom toolbar
                queryParamsType: 'limit',
                //Parameters passed when requesting service data
                queryParams:
                    function (params) {
                        return {
                            limit: params.limit,
                            offset: params.offset,
                            search: params.search
                        }
                    },
                //Format details
                detailFormatter: function (index, row) {
                    var html = [];
                    if (row.priv_type === 2) {
                        $.each(row, function (key, value) {
                            if (key === 'table_list') {
                                var sql = gettext('Table list:') + '<br>' + value;
                                //Replace separator with line break
                                sql = sql.replace(/,/g, "<br>");
                                html.push('<span>' + sql + '</span>');
                            }
                        });
                        return html.join('');
                    } else {
                        $.each(row, function (key, value) {
                            if (key === 'db_list') {
                                var sql = gettext('Database list:') + '<br>' + value;
                                //Replace separator with line break
                                sql = sql.replace(/,/g, "<br>");
                                html.push('<span>' + sql + '</span>');
                            }
                        });
                        return html.join('');
                    }
                },
                columns: [{
                    title: gettext('Workflow Name'),
                    field: 'title',
                    formatter: function (value, row, index) {
                        var span = document.createElement('span');
                        span.setAttribute('title', value);
                        if (value.length > 10) {
                            span.innerHTML = "<a href=\"/queryapplydetail/" + row.apply_id + "/\">" + value.substr(0, 10) + '...';
                            +"</a>";
                        } else {
                            span.innerHTML = "<a href=\"/queryapplydetail/" + row.apply_id + "/\">" + value + "</a>";
                        }
                        return span.outerHTML;
                    }
                }, {
                    title: gettext('Instance'),
                    field: 'instance__instance_name'
                }, {
                    title: gettext('Database'),
                    field: 'db_list',
                    formatter: function (value, row, index) {
                        if (value.length > 30) {
                            var db_list = value.substr(0, 30) + '...';
                            return db_list;
                        } else {
                            return value
                        }
                    }
                }, {
                    title: gettext('Permission Level'),
                    field: 'priv_type',
                    formatter: function (value, row, index) {
                        if (String(value) === '1') {
                            return 'DATABASE';
                        } else {
                            return 'TABLE';
                        }
                    }
                }, {
                    title: gettext('Result Set'),
                    field: 'limit_num'
                }, {
                    title: gettext('Valid Until'),
                    field: 'valid_date'
                }, {
                    title: gettext('Workflow Status'),
                    field: 'status',
                    formatter: function (value, row, index) {
                        return workflow_status_formatter(value)
                    }
                }, {
                    title: gettext('Applicant'),
                    field: 'user_display'
                }, {
                    title: gettext('Application Time'),
                    field: 'create_time'
                }, {
                    title: gettext('Group'),
                    field: 'group_name'
                }, {
                    title: gettext('Operations'),
                    field: 'operation',
                    formatter: function (value, row, index) {
                        return "<button class=\"btn btn-info btn-xs\" workflow_id=\"" + row.apply_id + "\"\n" + "onclick=\"getLog(this)\" >" + gettext("Operation Log") + "\n" + "</button>"
                    }
                }],
                onLoadSuccess: function () {
                },
                onLoadError: onLoadErrorCallback,
                onSearch: function (e) {
                    //Pass search parameters to server
                    queryParams(e)
                },
                responseHandler: function (res) {
                    //Modify data source before ajax retrieves data and renders table
                    return res;
                }
            });

        }

        //Get database list/permission type on instance change
        $("#instance_name").change(function () {
            $.ajax({
                type: "get",
                url: "/instance/instance_resource/",
                dataType: "json",
                data: {
                    instance_name: $("#instance_name").val(),
                    resource_type: "database"
                },
                complete: function () {
                    // Only MySQL supports table-level permissions
                    var optgroup = $('#instance_name :selected').parent().attr('label');
                    $("#priv_type").empty();
                    if (optgroup === "MySQL") {
                        $('#priv_type').append("<option value=\"1\">DATABASE</option>");
                        $('#priv_type').append("<option value=\"2\" selected=\"selected\">TABLE</option>");
                    } else {
                        $('#priv_type').append("<option value=\"1\" selected=\"selected\">DATABASE</option>");
                    }
                    $('#priv_type').prepend("<option value=\"is-empty\" disabled=\"\">" + gettext('Permission level:') + "</option>");
                    $('#priv_type').selectpicker('render');
                    $('#priv_type').selectpicker('refresh');
                    $('#priv_type').selectpicker().trigger("change")
                },
                success: function (data) {
                    if (data.status === 0) {
                        var result = data.data;
                        $("#db_name").empty();
                        $("#db_name_multiple").empty();
                        for (var i = 0; i < result.length; i++) {
                            var name = "<option value=\"" + result[i] + "\">" + result[i] + "</option>";
                            $("#db_name").append(name);
                            $("#db_name_multiple").append(name);
                        }
                        $('#db_name').selectpicker('render');
                        $('#db_name').selectpicker('refresh');
                        $('#db_name_multiple').selectpicker('render');
                        $('#db_name_multiple').selectpicker('refresh');
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        //Get table names on database change
        $("#db_name").change(function () {
            $.ajax({
                type: "get",
                url: "/instance/instance_resource/",
                dataType: "json",
                data: {
                    instance_name: $("#instance_name").val(),
                    db_name: $("#db_name").val(),
                    resource_type: "table"
                },
                complete: function () {
                },
                success: function (data) {
                    if (data.status === 0) {
                        var result = data.data;
                        $("#table_name").empty();
                        for (var i = 0; i < result.length; i++) {
                            var name = "<option>" + result[i] + "</option>";
                            $("#table_name").append(name);
                        }
                        $('#table_name').selectpicker('render');
                        $('#table_name').selectpicker('refresh');
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        //Determine page display
        $("#priv_type").change(function () {
            //Database permission
            if ($("#priv_type").val() === '1') {
                $("#table_div").hide();
                $("#db_name_div").hide();
                $("#db_name_multiple_div").show();
            }
            //Table permission
            else if ($("#priv_type").val() === '2') {
                $("#table_div").show();
                $("#db_name_div").show();
                $("#db_name_multiple_div").hide();
            }
        });

        //Time calculation
        function addDate(date, days) {
            var d = new Date(date);
            d.setDate(d.getDate() + days);
            var m = d.getMonth() + 1;
            return d.getFullYear() + '-' + m + '-' + d.getDate();
        }

        //Submit parameter validation
        function applyvalidate() {
            var title = $("#title").val();
            var priv_type = $("#priv_type").val();
            var instance_name = $("#instance_name").val();
            var db_name = $("#db_name").val();
            var db_name_multiple = $("#db_name_multiple").val();
            var table_name = $("#table_name").val();
            var valid_date = $("#valid_date").val();
            var limit_num = $("#limit_num").val();
            var apply_remark = $("#apply_remark").val();
            var workflow_auditors = $("#workflow_auditors").val();
            var group_name = $("#group_name").val();

            // Parameter validation
            if (priv_type) {
                if (priv_type === '1') {
                    if (title && group_name && workflow_auditors && instance_name && db_name_multiple && valid_date && limit_num) {
                        return true
                    } else {
                        alert(gettext("Information incomplete or approval process not configured"));
                        return false
                    }
                } else if (priv_type === '2') {
                    if (title && group_name && workflow_auditors && instance_name && db_name && table_name && valid_date && limit_num) {
                        return true
                    } else {
                        alert(gettext("Information incomplete or approval process not configured"));
                        return false
                    }
                }
            } else if (priv_type == null) {
                alert(gettext("Please select permission type"));
                return false
            }
        }

        //Submit apply for permission
        function applyforprivileges() {
            var title = $("#title").val();
            var priv_type = $("#priv_type").val();
            var instance_name = $("#instance_name").val();
            var db_name = $("#db_name").val();
            var db_name_multiple = $("#db_name_multiple").val();
            var table_list = $("#table_name").val();
            var valid_date = $("#valid_date").val();
            var limit_num = $("#limit_num").val();
            var apply_remark = $("#apply_remark").val();
            var workflow_auditors = $("#workflow_auditors").val();
            var group_name = $("#group_name").val();

            // Parameter validation
            if (applyvalidate()) {
                //Time formatting
                var date = new Date();
                if (valid_date === 'day') {
                    valid_date = addDate(date, 1);

                } else if (valid_date === 'week') {
                    valid_date = addDate(date, 7);
                } else if (valid_date === 'month') {
                    valid_date = addDate(date, 30);
                } else if (valid_date === 'year') {
                    valid_date = addDate(date, 365);
                } else {
                    valid_date = addDate(date, 1);
                }

                //Disable button
                $('button[type=button]').addClass('disabled');
                $('button[type=button]').prop('disabled', true);
                //Submit request
                $.ajax({
                    type: "post",
                    url: "/query/applyforprivileges/",
                    dataType: "json",
                    data: {
                        title: title,
                        instance_name: instance_name,
                        priv_type: priv_type,
                        db_name: db_name,
                        db_list: db_name_multiple,
                        table_list: table_list,
                        valid_date: valid_date,
                        limit_num: limit_num,
                        apply_remark: apply_remark,
                        workflow_auditors: workflow_auditors,
                        group_name: group_name
                    },
                    complete: function () {
                        $('button[type=button]').removeClass('disabled');
                        $('button[type=button]').prop('disabled', false);
                    },
                    success: function (data) {
                        if (data.status === 0) {
                            $('#apply').modal('hide');
                            location.href = '/queryapplylist/'
                        } else {
                            alert(data.msg)
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            }
        }

        // Get operation log
        function getLog(obj) {
            var workflow_id = $(obj).attr("workflow_id");
            var workflow_type = 1;
            $.ajax({
                type: "post",
                url: "/workflow/log/",
                dataType: "json",
                data: {
                    workflow_id: workflow_id,
                    workflow_type: workflow_type,
                },
                complete: function () {
                },
                success: function (data) {
                    //Initialize table
                    $('#logs').modal('show');
                    $('#log-list').bootstrapTable('destroy').bootstrapTable({
                        escape: true,
                        striped: true,                      //Show row striping
                        cache: false,                       //Use cache, default is true, so generally need to set this property (*)
                        pagination: false,                   //Show pagination (*)
                        sortable: false,                     //Enable sorting
                        sortOrder: "asc",                   //Sort order
                        sidePagination: "client",           //Pagination method: client-side or server-side (*)
                        pageNumber: 1,                      //Initialize first page, default first page
                        pageSize: 20,                     //Records per page (*)
                        pageList: [20, 30, 50, 100],       //Selectable rows per page (*)
                        search: false,                      //Show table search
                        strictSearch: false,                //Full match search
                        showColumns: false,                  //Show all columns (select visible columns)
                        showRefresh: false,                  //Show refresh button
                        minimumCountColumns: 2,             //Minimum allowed columns
                        clickToSelect: false,                //Enable click to select row
                        uniqueId: "id",                     //Unique identifier for each row, usually primary key
                        showToggle: false,                   //Show toggle button for detail/list view
                        cardView: false,                    //Show detail view
                        detailView: false,                  //Show parent-child table
                        locale: 'zh-CN',                    //Localization
                        data: data.rows,
                        columns: [{
                            title: gettext('Operations'),
                            field: 'operation_type_desc'
                        }, {
                            title: gettext('Operator'),
                            field: 'operator_display'
                        }, {
                            title: gettext('Operation Time'),
                            field: 'operation_time'
                        }, {
                            title: gettext('Operation Info'),
                            field: 'operation_info'
                        }],
                        onLoadSuccess: function () {
                        },
                        onLoadError: onLoadErrorCallback,
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            })
        }

        //Initialize data
        $(document).ready(function () {
            queryapplylist();
        });

    </script>
{% endblock %}
