{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <!-- Custom buttons -->
    <div id="toolbar" class="btn-group right">
        <a type='button' id="btnSubmitRollback" class="btn btn-warning" href="/editsql/">Submit Rollback Request</a>
    </div>
    <table id="tb-rollback" data-toggle="table" class="table table-condensed"
           style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"></table>
{% endblock content %}

{% block js %}
    {% load static %}
    <script src="{% static 'bootstrap-table/js/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/js/tableExport.min.js' %}"></script>
    <script>
        // Get current locale for bootstrap-table
        var currentLocale = '{% if LANGUAGE_CODE == "zh-hans" %}zh-CN{% elif LANGUAGE_CODE == "es" %}es-ES{% else %}en-US{% endif %}';

        $('#tb-rollback').bootstrapTable('destroy').bootstrapTable({
            escape: true,
            method: 'get',
            contentType: "application/x-www-form-urlencoded",
            url: "/sqlworkflow/backup_sql/",
            striped: true,                      //Show row stripes
            cache: false,                       //Use cache，Default istrue，so usually need to set this property（*）
            pagination: true,                   //Show pagination（*）
            sortable: true,                     //Enable sorting
            sidePagination: "client",           //Pagination mode：clientClient-side pagination，serverServer-side pagination（*）
            pageNumber: 1,                      //Initialize load first page，Default first page,and record
            pageSize: 20,                       //Records per page（*）
            pageList: [10, 30, 50, 100, 500],        //Selectable rows per page（*）
            showExport: true,                   //Show export button
            exportOptions: {
                ignoreColumn: [0],  
            },
            search: true,                       //Show table search
            strictSearch: false,                //Exact match search
            showColumns: true,                  //Show all columns（Select columns to display）
            showRefresh: true,                  //Show refresh button
            minimumCountColumns: 1,             //Minimum columns allowed
            clickToSelect: false,                //Enable click to select row
            uniqueId: "id",                     //Unique identifier for each row，Usually primary key column
            showToggle: false,                   //Show toggle button for detail/list view
            cardView: false,                    //Show detail view
            toolbar: "#toolbar",               //Specify customtoolbar
            detailView: true,                  //Show parent-child table
            
            detailFormatter: function (index, row) {
                var html = [];
                $.each(row, function (index, key) {
                        if (index === 1) {
                            //let sql = window.sqlFormatter.format(key);
                            let sql = key;
                            
                            sql = sql.replace(/&/g, "&amp;");
                            sql = sql.replace(/</g, "&lt;");
                            sql = sql.replace(/>/g, "&gt;");
                            sql = sql.replace(/"/g, "&quot;");
                            
                            sql = sql.replace(/\r\n/g, "<br>");
                            sql = sql.replace(/\n/g, "<br>");
                            
                            sql = sql.replace(/\s/g, "&nbsp;");
                            html.push('<span>' + sql + '</span>');
                        }
                    }
                );
                return html.join('');
            },
            queryParamsType: 'limit',
            //Parameters when requesting data
            queryParams:
                function (params) {
                    return {
                        workflow_id: "{{ workflow_detail.id }}",
                    }
                },
            locale: currentLocale,                    //Localization
            columns: [{
                title: gettext('Execute Statement'),
                field: 0,
                formatter: function (value, row, index) {
                    if (value.length > 50) {
                        return value.substr(0, 50) + '...';
                    } else {
                        return value
                    }
                }
            }, {
                title: gettext('Complete Execute Statement'),
                field: 0,
                visible: false
            }, {
                title: gettext('Rollback Statement'),
                field: 1,
                formatter: function (value, row, index) {
                    var sql=row[1];
                    if (sql.length > 80) {
                        return sql.substr(0, 80) + '...';
                    } else {
                        return sql
                    }
                }
            }, {
                title: gettext('Complete Rollback Statement'),
                field: 1,
                visible: false
            }],
            onLoadSuccess: function (data) {
                
                if (data.status !== 0) {
                    alert(gettext("Data loading failed!") + " " + data.msg);
                } else {
                    let backup_sql = '';
                    for (let sql of data.rows) {
                        backup_sql += sql[1] + '\n'
                    }
                    sessionStorage.setItem('editSqlContent', backup_sql);
                }
            },
            onLoadError: onLoadErrorCallback,
        });
        $(document).ready(function () {
            var isRollback = window.location.pathname.indexOf("rollback");
            if (isRollback != -1) {
                $("#btnSubmitRollback").click(function () {
                    $(this).button('loading').delay(2500).queue(function () {
                        $(this).button('reset');
                        $(this).dequeue();
                    });
                    var editWorkflowNname = "{{ rollback_workflow_name }}";
                    var editGroup = "{{ workflow_detail.group_name }}";
                    var editClustername = "{{ workflow_detail.instance.instance_name }}";
                    var editDbname = "{{ workflow_detail.db_name }}";
                    var editIsbackup = "{{ workflow_detail.is_backup }}";
                    sessionStorage.removeItem('editWorkflowDetailId');
                    sessionStorage.setItem('editWorkflowNname', editWorkflowNname);
                    sessionStorage.setItem('editGroup', editGroup);
                    sessionStorage.setItem('editClustername', editClustername);
                    sessionStorage.setItem('editDbname', editDbname);
                    sessionStorage.setItem('editIsbackup', editIsbackup);
                });
            }
        });
    </script>
{% endblock %}
