{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <!-- Log -->
    <script>
        
        $(function () {
            $('#slowsql-list').on('click-row.bs.table', function (e, row, element) {
                sessionStorage.setItem('SQLId', row.SQLId);
                $('#nav-tabs a[href="#slowsqlinfo"]').tab('show')
            });
        });

        
        $(function () {
            $("#sqladvisor").click(function () {
                if ($("#slowsqlinfo-list").bootstrapTable('getSelections')[0]) {
                    var advisor_sql_content = $("#slowsqlinfo-list").bootstrapTable('getSelections')[0]['SQLText'] + ';';
                    var advisor_db_name = $("#slowsqlinfo-list").bootstrapTable('getSelections')[0]['DBName'];
                    var advisor_instance_name = $("#instance_name").val();
                    sessionStorage.setItem('advisor_sql_content', advisor_sql_content);
                    sessionStorage.setItem('advisor_db_name', advisor_db_name);
                    sessionStorage.setItem('advisor_instance_name', advisor_instance_name);
                    location.href = '/slowquery_advisor/';
                } else {
                    alert("请先选择需要Optimize的sql")
                }
            });
        });
    </script>
    <!-- Get list数据 -->
    <script>
        // getSlow Log Statistics
        function slowquery_review() {
            $("#sqladvisor-toolbar").hide();
            var instance_name = $("#instance_name").val();
            if (instance_name) {
                //Initializetable
                $('#slowsql-list').bootstrapTable('destroy').bootstrapTable({
                    escape: true,
                    method: 'post',
                    contentType: "application/x-www-form-urlencoded",
                    url: "/slowquery/review/",
                    striped: true,                      //Show row stripes
                    cache: false,                       //Use cache，Default istrue，so usually need to set this property（*）
                    pagination: true,                   //Show pagination（*）
                    sortable: true,                     
                    sortName: "MySQLTotalExecutionCounts", 
                    sortOrder: "desc",                   
                    sidePagination: "server",           //Pagination mode：clientClient-side pagination，serverServer-side pagination（*）
                    pageNumber: 1,                      //Initialize load first page，Default first page,and record
                    pageSize: 30,                     //Records per page（*）
                    pageList: [30, 50, 100, 1000],       //Selectable rows per page（*）
                    search: true,                      //Show table search
                    strictSearch: false,                //Exact match search
                    showColumns: true,                  //Show all columns（Select columns to display）
                    showRefresh: true,                  //Show refresh button
                    showExport: true,                   //Show export button
                    exportTypes: ['json', 'sql', 'csv', 'txt', 'xml', 'xlsx'],
                    exportOptions: {
                        ignoreColumn: [0],  
                        fileName: 'slowquery_review'  //File name setting
                    },
                    minimumCountColumns: 2,             //Minimum columns allowed
                    clickToSelect: true,                //Enable click to select row
                    uniqueId: "id",                     //Unique identifier for each row，Usually primary key column
                    showToggle: true,                   //Show toggle button for detail/list view
                    cardView: false,                    //Show detail view
                    detailView: true,                  //Show parent-child table
                    queryParamsType: 'limit',
                    queryParams: function (params) {
                        var instance_name = $("#instance_name").val();
                        var db_name = $("#db_name").val();
                        var StartTime = $('#reservation').data('daterangepicker').startDate.format('YYYY-MM-DD');
                        var EndTime = $("#reservation").data('daterangepicker').endDate.format('YYYY-MM-DD');
                        //console.info(params);
                        //console.info('params='+JSON.stringify(params));

                        return {
                            instance_name: instance_name,
                            db_name: db_name,
                            StartTime: StartTime,
                            EndTime: EndTime,
                            limit: params.limit,
                            offset: params.offset,
                            search: params.search,
                            sortName: params.sort,
                            sortOrder: params.order
                        }
                    },
                    
                    detailFormatter: function (index, row) {
                        let html = [];
                        $.each(row, function (key, value) {
                            if (key === 'SQLText') {
                                let sql = window.sqlFormatter.format(value);
                                
                                sql = sql.replace(/\r\n/g, "<br>");
                                sql = sql.replace(/\n/g, "<br>");
                                
                                sql = sql.replace(/\s/g, "&nbsp;");
                                html.push('<div class="col-lg-4">' + sql + '</div>');
                            }
                        });
                        $.ajax({
                            type: "get",
                            url: "/slowquery/report/",
                            async: false,
                            dataType: "json",
                            data: {
                                checksum: row.SQLId,
                            },
                            complete: function () {
                            },
                            success: function (data) {
                                if (data.status === 0) {
                                    let chart = data.data;
                                    html.push('<div class="col-lg-8">' + chart + '</div>')
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert(errorThrown);
                            }
                        });
                        return html.join('');
                    },
                    columns: [{
                        title: '日志统计Time',
                        field: 'CreateTime',
                        sortable:true
                    }, {
                        title: 'Database名',
                        field: 'DBName',
                        sortable:true
                    }, {
                        title: 'SQL语句',
                        field: 'SQLText',
                        cellStyle:      
                            function formatTableUnit(value, row, index) {
                                return {
                                    css: {
                                        "color": '#06C',
                                        "text-decoration": 'underline',
                                        "cursor": 'pointer'
                                    }
                                }
                            },
                        formatter: function (value, row, index) {
                            if (value.length > 100) {
                                var sql = value.substr(0, 100) + '...';
                                return sql;
                            } else {
                                return value
                            }
                        }
                    }, {
                        title: '完整SQL语句',
                        field: 'SQLText',
                        visible: false 
                    }, {
                        title: 'Execute总次数',
                        field: 'MySQLTotalExecutionCounts',
                        sortable:true
                    }, {
                        title: 'Execute总时长(seconds)',
                        field: 'MySQLTotalExecutionTimes',
                        sortable:true
                    }, {
                        title: '平均Execute时长(seconds)',
                        field: 'QueryTimeAvg',
                        sortable:true
                    }, {
                        title: '扫描总行数',
                        field: 'ParseTotalRowCounts',
                        sortable:true
                    }, {
                        title: 'returns总行数',
                        field: 'ReturnTotalRowCounts',
                        sortable:true
                    }, {
                        title: '平均扫描行数',
                        field: 'ParseRowAvg',
                        sortable:true
                    }, {
                        title: '平均returns行数',
                        field: 'ReturnRowAvg',
                        sortable:true
                    }],
                    locale: currentLocale,
                    onLoadError: onLoadErrorCallback,
                    onSearch: function(e) {
                        //Pass search params to server
                        //console.info('search='+e);
                        //queryParams(e);
                    },
                    responseHandler: function(res) {
                        
                        return res;
                    },onSort: function(sortName,order){
                        //console.info('onSort: name='+sortName+'; order='+order+';');
                    }
                });
            } else {
                alert('Select Instance')
            }
        }

        // getSlow Log Details
        function slowquery_review_history() {
            $("#sqladvisor-toolbar").show();
            var instance_name = $("#instance_name").val();
            if (instance_name) {
                //Initializetable
                $('#slowsqlinfo-list').bootstrapTable('destroy').bootstrapTable({
                    escape: true,
                    method: 'post',
                    contentType: "application/x-www-form-urlencoded",
                    url: "/slowquery/review_history/",
                    striped: true,                      //Show row stripes
                    cache: false,                       //Use cache，Default istrue，so usually need to set this property（*）
                    pagination: true,                   //Show pagination（*）
                    sortable: true,                     
                    sortName: "ParseRowCounts",         
                    sortOrder: "desc",                   
                    sidePagination: "server",           //Pagination mode：clientClient-side pagination，serverServer-side pagination（*）
                    pageNumber: 1,                      //Initialize load first page，Default first page,and record
                    pageSize: 30,                     //Records per page（*）
                    pageList: [30, 50, 100, 1000],       //Selectable rows per page（*）
                    search: true,                      //Show table search
                    strictSearch: false,                //Exact match search
                    showColumns: true,                  //Show all columns（Select columns to display）
                    showRefresh: true,                  //Show refresh button
                    showExport: true,                   //Show export button
                    exportTypes: ['json', 'sql', 'csv', 'txt', 'xml', 'xlsx'],
                    exportOptions: {
                        ignoreColumn: [0],  
                        fileName: 'slowquery_review_history'  //File name setting
                    },
                    minimumCountColumns: 2,             //Minimum columns allowed
                    clickToSelect: true,                //Enable click to select row
                    uniqueId: "id",                     //Unique identifier for each row，Usually primary key column
                    showToggle: true,                   //Show toggle button for detail/list view
                    cardView: false,                    //Show detail view
                    detailView: true,                  //Show parent-child table
                    queryParamsType: 'limit',
                    queryParams: function (params) {
                        var instance_name = $("#instance_name").val();
                        var db_name = $("#db_name").val();
                        var SQLId = sessionStorage.getItem('SQLId');
                        var StartTime = $('#reservation').data('daterangepicker').startDate.format('YYYY-MM-DD');
                        var EndTime = $("#reservation").data('daterangepicker').endDate.format('YYYY-MM-DD');
                        //console.info(params);
                        //console.info('params='+JSON.stringify(params));

                        return {
                            instance_name: instance_name,
                            db_name: db_name,
                            SQLId: SQLId,
                            StartTime: StartTime,
                            EndTime: EndTime,
                            limit: params.limit,
                            offset: params.offset,
                            search: params.search,
                            sortName: params.sort,
                            sortOrder: params.order
                        }
                    },
                    
                    detailFormatter: function (index, row) {
                        var html = [];
                        $.each(row, function (key, value) {
                            if (key === 'SQLText') {
                                var sql = window.sqlFormatter.format(value);
                                
                                sql = sql.replace(/\r\n/g, "<br>");
                                sql = sql.replace(/\n/g, "<br>");
                                
                                sql = sql.replace(/\s/g, "&nbsp;");
                                html.push('<span>' + sql + '</span>');
                            }
                        });
                        return html.join('');
                    },
                    columns: [{
                        title: '',
                        field: 'checkbox',
                        checkbox: true
                    }, {
                        title: 'ExecuteStartTime',
                        field: 'ExecutionStartTime',
                        sortable:true
                    }, {
                        title: 'Database名',
                        field: 'DBName',
                        sortable:true
                    }, {
                        title: 'User名',
                        field: 'HostAddress',
                        sortable:true
                    }, {
                        title: 'SQL语句',
                        field: 'SQLText',
                        formatter: function (value, row, index) {
                            if (value.length > 100) {
                                var sql = value.substr(0, 100) + '...';
                                return sql;
                            } else {
                                return value
                            }
                        }
                    }, {
                        title: '完整SQL语句',
                        field: 'SQLText',
                        visible: false 
                    }, {
                        title: 'Execute总次数',
                        field: 'TotalExecutionCounts',
                        sortable:true
                    }, {
                        title: 'Execute时长(95%)',
                        field: 'QueryTimePct95',
                        sortable:true
                    }, {
                        title: 'Execute总时长(seconds)',
                        field: 'QueryTimes',
                        sortable:true
                    }, {
                        title: '锁定总时长(seconds)',
                        field: 'LockTimes',
                        sortable:true
                    }, {
                        title: 'Parse总行数',
                        field: 'ParseRowCounts',
                        sortable:true
                    }, {
                        title: 'returns总行数',
                        field: 'ReturnRowCounts',
                        sortable:true
                    }],
                    singleSelect: true,
                    toolbar: "#sqladvisor-toolbar", //Specify customtoolbar
                    locale: currentLocale,
                    onLoadError: onLoadErrorCallback,
                    onSearch: function (e) {
                        //Pass search params to server
                        queryParams(e)
                    },onSort: function(sortName,order){
                        //console.info('onSort: name='+sortName+'; order='+order+';');
                    },
                    responseHandler: function (res) {
                        
                        return res;
                    }
                });
            } else {
                alert("Select Instance")
            }
        }
    </script>
{% endblock %}

