{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% trans "Analysis Options" %}
                </div>
                <div class="panel-body form-inline">
                    <div class="form-group">
                        <input id="sql-upload" name="sql-upload" accept=".sql,.xml" type="file" class="file-loading">
                    </div>
                    <div class="form-group">
                        <select id="instance_name" name="instance_name"
                                class="selectpicker show-tick form-control bs-select-hidden" data-live-search="true"
                                title="{% trans 'Select Instance:' %}"
                                data-placeholder="{% trans 'Select Instance:' %}" required>
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="db_name" name="db_name" class="form-control selectpicker show-tick bs-select-hidden"
                                title="{% trans 'Select Database:' %}"
                                data-live-search="true" data-placeholder="{% trans 'Select Database:' %}" required>
                            <option value="all">{% trans "All" %}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input id="btn-analyze" type="button" class="btn btn-warning" value="{% trans 'Start Analysis' %}"
                               onclick="analyze()"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% trans "SQL List" %}
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="analyze-sql" data-toggle="table" class="table table-striped table-hover"
                               style="table-layout:inherit;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Analysis Report Modal -->
    <div class="modal fade" id="reports">
        <div class="modal-dialog modal-lg">
            <div class="modal-content message_align">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title text-danger">{% trans "Analysis Report" %}</h4>
                </div>
                <div id="reports-body" class="modal-body">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}
    {% load static %}
    {% get_current_language as LANGUAGE_CODE %}
    <link href="{% static 'bootstrap-fileinput/css/fileinput.min.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap-fileinput/js/fileinput.min.js' %}"></script>
    {% if LANGUAGE_CODE == 'zh-hans' %}
    <script src="{% static 'bootstrap-fileinput/js/locales/zh.js' %}"></script>
    {% elif LANGUAGE_CODE == 'es' %}
    <script src="{% static 'bootstrap-fileinput/js/locales/es.js' %}"></script>
    {% endif %}
    <script src="{% static 'bootstrap-table/js/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/js/tableExport.min.js' %}"></script>
    <script src="{% static 'dist/js/marked.min.js' %}"></script>
    <script>
        // Get current locale for bootstrap-table
        var currentLocale = '{% if LANGUAGE_CODE == "zh-hans" %}zh-CN{% elif LANGUAGE_CODE == "es" %}es-ES{% else %}en-US{% endif %}';
        var fileinputLang = '{% if LANGUAGE_CODE == "zh-hans" %}zh{% elif LANGUAGE_CODE == "es" %}es{% else %}en{% endif %}';

        // Initialize upload control
        $(function init_upload() {
            $("#sql-upload").fileinput({
                language: fileinputLang,
                allowedFileExtensions: ['sql', 'xml'],
                showCaption: true,
                initialCaption: 'SQL/MyBatis3 Mapper XML file',
                captionClass: "",
                showUpload: false,
                showPreview: false,
            }).on('fileloaded', function (event, data, previewId, index) {
                if (data.size <= 10240 * 512) {
                    loadsql();
                } else {
                    $('#sql-upload').fileinput('reset');
                    alert(gettext('File size exceeds 5MB, please select again'));
                }
            }).on('fileclear', function (event) {
                generate();
            });
        });


        // Read file and display in input area
        function loadsql() {
            $('#sql-upload').fileinput('disable');
            var file = $("#sql-upload")[0].files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                var text = e.target.result;
                generate(text);
            };
            reader.readAsText(file);
        }

        // Get parsed SQL list
        function generate(text) {
            $('#analyze-sql').bootstrapTable('destroy').bootstrapTable({
                escape: true,
                method: 'post',
                contentType: "application/x-www-form-urlencoded",
                url: "/sql_analyze/generate/",
                striped: true,
                cache: false,
                pagination: true,
                sortable: false,
                sortOrder: "asc",
                sidePagination: "client",
                pageNumber: 1,
                pageSize: 20,
                pageList: [20, 30, 50, 100],
                showExport: true,
                exportOptions: {},
                search: true,
                strictSearch: false,
                showColumns: true,
                showRefresh: false,
                minimumCountColumns: 2,
                clickToSelect: false,
                showToggle: true,
                cardView: false,
                detailView: true,
                detailFormatter: function (index, row) {
                    var html = [];
                    $.each(row, function (key, value) {
                        if (key === 'sql') {
                            var sql = window.sqlFormatter.format(value);
                            sql = sql.replace(/&/g, "&amp;");
                            sql = sql.replace(/</g, "&lt;");
                            sql = sql.replace(/>/g, "&gt;");
                            sql = sql.replace(/"/g, "&quot;");
                            sql = sql.replace(/\r\n/g, "<br>");
                            sql = sql.replace(/\n/g, "<br>");
                            sql = sql.replace(/\s/g, "&nbsp;");
                            html.push('<span>' + sql + '</span>');
                        }
                    });
                    return html.join('');
                },
                locale: currentLocale,
                toolbar: "#toolbar",
                queryParamsType: 'limit',
                queryParams:
                    function (params) {
                        return {
                            text: text,
                            offset: params.offset,
                        }
                    },
                columns: [{
                    title: 'SQLID',
                    field: 'sql_id'
                }, {
                    title: gettext('SQL Content'),
                    field: 'sql',
                    formatter: function (value, row, index) {
                        if (value.length > 100) {
                            var sql = value.substr(0, 100) + '...';
                            return sql;
                        } else {
                            return value
                        }
                    }
                }, {
                    title: gettext('Full SQL Content'),
                    field: 'sql',
                    visible: false
                }],
                onLoadSuccess: function () {
                    $('#sql-upload').fileinput('enable');
                    sessionStorage.setItem('analyze_text', text);
                },
                onLoadError: onLoadErrorCallback,
                responseHandler: function (res) {
                    return res;
                }
            });

        }
    </script>
    <!-- Get database names -->
    <script>
        $("#instance_name").change(function () {
            $.ajax({
                type: "get",
                url: "/instance/instance_resource/",
                dataType: "json",
                data: {
                    instance_name: $("#instance_name option:selected").text(),
                    resource_type: "database"
                },
                complete: function () {
                },
                success: function (data) {
                    if (data.status === 0) {
                        var result = data.data;
                        $("#db_name").empty();
                        for (var i = 0; i < result.length; i++) {
                            var name = "<option>" + result[i] + "</option>";
                            $("#db_name").append(name);
                        }
                        $('#db_name').selectpicker('render');
                        $('#db_name').selectpicker('refresh');
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });
    </script>
    <!-- Execute analysis and get results -->
    <script>
        function analyze() {
            var analyze_text = sessionStorage.getItem('analyze_text');
            if (analyze_text !== "undefined") {
                $('#btn-analyze').addClass('disabled');
                $('#btn-analyze').prop('disabled', true);
                $('#analyze-sql').bootstrapTable('destroy').bootstrapTable({
                    escape: true,
                    method: 'post',
                    contentType: "application/x-www-form-urlencoded",
                    url: "/sql_analyze/analyze/",
                    striped: true,
                    cache: false,
                    pagination: true,
                    sortable: false,
                    sortOrder: "asc",
                    sidePagination: "client",
                    pageNumber: 1,
                    pageSize: 20,
                    pageList: [20, 30, 50, 100],
                    showExport: true,
                    exportOptions: {},
                    search: true,
                    strictSearch: false,
                    showColumns: true,
                    showRefresh: false,
                    minimumCountColumns: 2,
                    clickToSelect: false,
                    uniqueId: "id",
                    showToggle: true,
                    cardView: false,
                    detailView: true,
                    detailFormatter: function (index, row) {
                        var html = [];
                        $.each(row, function (key, value) {
                            if (key === 'report') {
                                var report = value;
                                var rendererMD = new marked.Renderer();
                                marked.setOptions({
                                    renderer: rendererMD,
                                    gfm: true,
                                    tables: true,
                                    breaks: true,
                                    pedantic: false,
                                    sanitize: false,
                                    smartLists: false,
                                    smartypants: false
                                });
                                rendererMD.table = function (header, body) {
                                    return '<div class="table-responsive"><table class="table table-condensed">' + header + body + '</table></div>'
                                };
                                html.push(marked(report))
                            }
                        });
                        return html.join('');
                    },
                    locale: currentLocale,
                    toolbar: "#toolbar",
                    queryParamsType: 'limit',
                    queryParams:
                        function (params) {
                            return {
                                text: sessionStorage.getItem('analyze_text'),
                                instance_name: $("#instance_name").val(),
                                db_name: $("#db_name").val(),
                                offset: params.offset,
                            }
                        },
                    columns: [{
                        title: 'SQLID',
                        field: 'sql_id'
                    }, {
                        title: gettext('SQL Content'),
                        field: 'sql',
                        formatter: function (value, row, index) {
                            if (value.length > 100) {
                                var sql = value.substr(0, 100) + '...';
                                return sql;
                            } else {
                                return value
                            }
                        }
                    }, {
                        title: gettext('Full SQL Content'),
                        field: 'sql',
                        visible: false
                    }, {
                        title: gettext('Analysis Report'),
                        field: 'operation',
                        formatter: function (value, row, index) {
                            return "<button class=\"btn btn-info btn-xs\" report=\"" + row.report.replace(/"<>\.*/gm,'<> is the standard SQL not-equal operator') + "\"\n" + "onclick=\"getReport(this)\" >" + gettext('View') + "\n" + "</button>"
                        }
                    }],
                    onLoadSuccess: function () {
                        $('#btn-analyze').removeClass('disabled');
                        $('#btn-analyze').prop('disabled', false);
                    },
                    onLoadError: function (status, jqXHR) {
                        $('#btn-analyze').removeClass('disabled');
                        $('#btn-analyze').prop('disabled', false);
                        onLoadErrorCallback(status, jqXHR);
                    },
                    responseHandler: function (res) {
                        return res;
                    }
                });
                // Alert message
                if ($('#instance_name').val() && $('#db_name').val()) {
                    alert(gettext('SOAR analysis submitted, please wait for results!'));
                } else {
                    alert(gettext('SOAR analysis submitted. Without selecting instance and database, execution plan and index suggestions will not be shown. Please wait for results!'));
                }
            } else {
                alert(gettext('Please parse SQL/MyBatis3 Mapper XML file first'));
            }

        }
    </script>
    <!-- View analysis report -->
    <script>
        function getReport(obj) {
            var report = $(obj).attr("report");
            var rendererMD = new marked.Renderer();
            marked.setOptions({
                renderer: rendererMD,
                gfm: true,
                tables: true,
                breaks: true,
                pedantic: false,
                sanitize: false,
                smartLists: false,
                smartypants: false
            });
            rendererMD.table = function (header, body) {
                return '<div class="table-responsive"><table class="table table-condensed">' + header + body + '</table></div>'
            };
            $("#reports-body").html(marked(report));
            $('#reports').modal('show');
        }
    </script>
    <script>
        $(document).ready(function () {
            // Get user instance list
            $(function () {
                $.ajax({
                    type: "get",
                    url: "/group/user_all_instances/",
                    dataType: "json",
                    data: {
                        db_type: ['mysql']
                    },
                    complete: function () {
                    },
                    success: function (data) {
                        if (data.status === 0) {
                            let result = data['data'];
                            $("#instance_name").empty();
                            for (let i = 0; i < result.length; i++) {
                                let instance = "<option value=\"" + result[i]['instance_name'] + "\">" + result[i]['instance_name'] + "</option>";
                                $("#instance_name").append(instance);
                            }
                            $('#instance_name').selectpicker('render');
                            $('#instance_name').selectpicker('refresh');
                        } else {
                            alert(data.msg);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            });
            sessionStorage.setItem('analyze_text', '');
            generate();
        })
    </script>
{% endblock %}
