{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Data Export" %}</div>
                <div class="panel-body">
                    <form id="form-submitsql" class="form-horizontal">
                        {% csrf_token %}
                        <input type="hidden" id="workflow_id" name="workflow_id"/>
                        <div class="col-md-9 column">
                            <pre id="sql_content_editor" style="min-height:450px"></pre>
                            <!-- Validation tips -->
		      	            <div class="validation-notice" id="validationNotice">
                                <div class="notice-icon" id="noticeIcon">
                                </div>
			                    <div class="notice-content">
			                        <div class="notice-title">Counting rows...</div>
			                        <div class="notice-message">ValidatingSQLsyntax and count result rows，Please wait...</div>
			                    </div>
			                    <button class="close-notice" id="closeNotice" title="{% trans 'Close' %}">
			                        &times;
			                    </button>
                                <div class="progress-bar">
                                    <div class="progress-bar-inner"></div>
                                </div>
			                </div>
                        </div>
                        <div style="display: none" class="col-md-8 column">
                            <textarea id="sql_content" name="sql_content" class="form-control" data-name="SQLContent"
                                      data-placeholder="SQLContent cannot be empty！"
                                      placeholder="Please submit hereSQL，Please end with semicolon。" rows=20
                                      required></textarea>
                        </div>
                        <div class="col-md-3 column">
                            <div class="form-group">
                                <input id="sql-upload" name="sql-upload" accept=".sql" type="file" class="file-loading">
                            </div>
                            <div class="form-group">
                                <input id="workflow_name" type="text" autocomplete="off" name="workflow_name"
                                       class="form-control"
                                       data-name="Deployment ticket name" data-placeholder="Please enterDeployment ticket name!"
                                       placeholder="Please enterDeployment ticket name，如:XX项目会员功能建Table"
                                       required>
                            </div>
                            <div class="form-group toggleable">
                                <select id="export_format" name="export_format"
                                        class="selectpicker show-tick form-control bs-select-hidden"
                                        data-name="OfflineExport数据格式" data-placeholder="Please selectExport数据格式！"
                                        title="Please selectExport数据格式"
                                        data-live-search="true" data-live-search-placeholder="Search您所在的Group" required>
                                    <option value="csv">CSV</option>
                                    <option value="xlsx">Excel</option>
                                    <option value="sql">SQL</option>
                                    <option value="json">JSON</option>
                                    <option value="xml">XML</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select id="group_name" name="group_name"
                                        class="selectpicker show-tick form-control bs-select-hidden"
                                        data-name="Group" data-placeholder="Select Group！"
                                        title="Select Group"
                                        data-live-search="true" data-live-search-placeholder="Search您所在的Group" required>
                                    {% for group in group_list %}
                                        <option value="{{ group.group_name }}"
                                                group-id="{{ group.group_id }}">{{ group.group_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select id="instance_name" name="instance_name"
                                        class="selectpicker show-tick form-control bs-select-hidden"
                                        data-name="{% trans 'Instances' %}" data-placeholder="Select Instance！"
                                        title="Select Instance"
                                        data-live-search="true" data-live-search-placeholder="{% trans 'Search instances in your group' %}" required>
                                {% for name, engine in engines.items %}
                                    <optgroup id="optgroup-{{ name }}" label="{{ engine.name }}"></optgroup>
                                {%  endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select id="db_name" name="db_name"
                                        class="form-control selectpicker show-tick bs-select-hidden"
                                        data-name="Database" data-placeholder="Select Database！"
                                        data-live-search="true" data-live-search-placeholder="Search要Submit的Database"
                                        title="Select Database"
                                        required>
                                    <option value="is-empty" disabled="" selected="selected">{% trans "Select Database:" %}</option>
                                </select>
                            </div>
                            {% if enable_backup_switch %}
                                <div id="div-backup" class="form-group">
                                    <select id="is_backup" name="is_backup"
                                            class="selectpicker show-tick form-control bs-select-hidden"
                                            data-name="YesNo选择备份"
                                            title="Please selectYesNo需要备份"
                                            data-placeholder="Please selectYesNo要备份" required>
                                        <option value=True selected="selected">备份SQL</option>
                                        <option value=False>不备份SQL</option>
                                    </select>
                                </div>
                            {% endif %}
                            <!--可Execute范围Time-->
                            <div class='form-group'>
                                <input type="hidden" id="run_date_start" name="run_date_start">
                                <input type="hidden" id="run_date_end" name="run_date_end">
                                <div class='input-group date'>
                                    <input type="text" id="run_date_range" readonly
                                           value="Please select可Execute Time范围"
                                           style="background-color: #fff;color: #999 "
                                           class="form-control "/>
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-time"></span></span>
                                </div>
                            </div>
                            <!--Approval Flow程-->
                            <input type="hidden" id="workflow_auditors" name="workflow_auditors" data-name="Approval Flow程"
                                   data-placeholder="请ConfigApproval Flow程！" required>
                            <div id="div-workflow_auditors" class="form-group" style="display: none">
                                <p class="bg-primary">&nbsp&nbsp&nbspApproval Flow程：<b id="workflow_auditors_display"></b></p>
                            </div>
                            <!--button-->
                            <div class="form-group">
                                <button type="button" id="btn-format" class="btn btn-info">{% trans "Format" %}</button>
                                <button type="button" id="btn-autoreview" data-loading-text="检测中..."
                                        class="btn btn-danger">SQL检测
                                </button>
                                <button type="button" id="btn-submitsql" data-loading-text="Submit中..."
                                        class="btn btn-success" disabled>
                                    ExportSubmit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}
    {% load static %}
    <link href="{% static 'bootstrap-fileinput/css/fileinput.min.css' %}" rel="stylesheet">
    <link href="{% static 'daterangepicker/css/daterangepicker.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'ace/ace.js' %}"></script>
    <script src="{% static 'ace/ext-language_tools.js' %}"></script>
    <script src="{% static 'ace/mode-mysql.js' %}"></script>
    <script src="{% static 'ace/theme-github.js' %}"></script>
    <script src="{% static 'ace/snippets/mysql.js' %}"></script>
    <script src="{% static 'ace/ace-init.js' %}"></script>
    <script src="{% static 'bootstrap-fileinput/js/fileinput.min.js' %}"></script>
    <script src="{% static 'bootstrap-fileinput/js/locales/zh.js' %}"></script>
    <script src="{% static 'daterangepicker/js/moment.min.js' %}"></script>
    <script src="{% static 'daterangepicker/js/daterangepicker.js' %}"></script>

    <!-- Validation tips  notice/css/notice.css-->
    <script>
	    const validationNotice = document.getElementById('validationNotice');
	    const closeNotice = document.getElementById('closeNotice');
	    const successMessage = document.getElementById('successMessage');
        const noticeIcon = document.getElementById('noticeIcon');
        const progressBar = document.querySelector('.progress-bar-inner');
	    validationNotice.style.display = 'none';
        let timeoutId;
        
        
        function resetValidationNotice() {
            clearTimeout(timeoutId);
            closeNotice.style.display = 'none';
            validationNotice.style.display = 'flex';
            noticeIcon.classList.remove('icon-loading','icon-success','icon-error');
            noticeIcon.classList.add('icon-loading');
            validationNotice.className = 'validation-notice visible';
            validationNotice.querySelector('.notice-title').textContent = "Counting rows...";
            validationNotice.querySelector('.notice-message').textContent = "ValidatingSQLsyntax and count result rows，Please wait...";
            validationNotice.classList.remove('status-success', 'status-error', 'status-warning');
        }

        // CloseTip按钮
        closeNotice.addEventListener('click', function(e) {
            e.preventDefault();
            validationNotice.style.display = 'none';
        });

        function showStatusNotice(options = {}) {
            
            const {
                element = validationNotice,   
                noticeIconClass = '',         
                statusClass = 'status-error', // Status类名
                title = 'ValidateFailed',            
                message = '',                 
                params = {},                  
                delay = 5000,                 
            } = options;
            
            clearTimeout(timeoutId);

            
            const formatMessage = (msg, values) => {
                return msg.replace(/\{(\w+)\}/g, (_, key) => values[key] || '');
            };
        
            const formattedMessage = formatMessage(message, params);

            
            closeNotice.style.display = 'flex';
            noticeIcon.classList.remove('icon-loading');
            noticeIcon.classList.add(noticeIconClass);
            element.classList.add(statusClass);
            element.querySelector('.notice-title').textContent = title;
            element.querySelector('.notice-message').textContent = formattedMessage;

            
            progressBar.style.width = '100%';
            progressBar.style.transition = 'none';
            void progressBar.offsetWidth;
            progressBar.style.transition = `width ${delay}ms linear`;
            progressBar.style.width = '0'

            setAutoClose(delay);
        }

        
        function setAutoClose(delay) {
            clearTimeout(timeoutId);
            timeoutId = setTimeout(() => {
                validationNotice.style.display = 'none';
                validationNotice.classList.remove('visible');
            }, delay);
        }

        
        validationNotice.addEventListener('mouseenter', () => {
            if (validationNotice.classList.contains('status-success') || validationNotice.classList.contains('status-error')) {
                clearTimeout(timeoutId);
                progressBar.style.transition = 'none';
                progressBar.style.width = '100%';
            }
        });
        
        validationNotice.addEventListener('mouseleave', () => {
            if (validationNotice.classList.contains('status-success') || validationNotice.classList.contains('status-error')) {
                const remainingWidth = progressBar.offsetWidth;
                const delay = (remainingWidth / validationNotice.offsetWidth) * 5000;
                progressBar.style.transition = `width ${delay}ms linear`;
                progressBar.style.width = '0';
                setAutoClose(delay);
            }
        });
    </script>

    <!--InitializeTime控件 -->
    <script>
        $("#run_date_range").daterangepicker({
            timePicker: true,
            timePicker24Hour: true,
            autoApply: true,
            autoUpdateInput: false,
            opens: "left",
            drops: "up",
            minDate: moment().startOf('minutes'),
            startDate: moment().startOf('hour'),
            endDate: moment().startOf('hour'),
            locale: {
                "applyLabel": "Confirm",
                "cancelLabel": "清空",
                "daysOfWeek": ["日", "一", "二", "三", "四", "五", "六"],
                "monthNames": ["一months", "二months", "三months", "四months", "五months", "六", "七months", "八months", "九months", "十months", "十一months", "十二months"],
                "firstDay": 1
            },
        }).on('apply.daterangepicker', function (ev, picker) {
            $(this).css("color", "#333");
            $("#run_date_start").val(picker.startDate.format('YYYY-MM-DD HH:mm'));
            $("#run_date_end").val(picker.endDate.format('YYYY-MM-DD HH:mm'));
            $(this).val(picker.startDate.format('MM-DD HH:mm') + ' / ' + picker.endDate.format('MM-DD HH:mm'));
        }).on('cancel.daterangepicker', function (ev, picker) {
            $(this).css("color", "#999");
            $(this).val('Please select可Execute Time范围');
            $("#run_date_start").val('');
            $("#run_date_end").val('');
        });
    </script>
    <!--ace -->
    <script>
        
        $("#instance_name").change(function () {
            var optgroup = $('#instance_name :selected').parent().attr('label');
            $("#div-backup").show();
            if (optgroup != "MySQL" && optgroup != "Oracle") {
                $("#div-backup").hide();
                $("#is_backup").val("False");
            }
            
            $.ajax({
                type: "get",
                url: "/instance/instance_resource/",
                dataType: "json",
                data: {
                    instance_name: $("#instance_name").val(),
                    resource_type: "database"
                },
                complete: function () {
                    const urlParams = new URLSearchParams(window.location.search);
                    const urlSource = urlParams.get('source');
                    if (urlSource === "resubmit") {
                        
                        $("#db_name").selectpicker('val', sessionStorage.getItem('editDbname'));
                        if ($("#db_name").val()) {
                            $("#db_name").selectpicker().trigger("change");
                        }
                    }
                },
                success: function (data) {
                    if (data.status === 0) {
                        var result = data.data;
                        $("#db_name").empty();
                        for (var i = 0; i < result.length; i++) {
                            var name = "<option value=\"" + result[i] + "\">" + result[i] + "</option>";
                            $("#db_name").append(name);
                        }
                        $('#db_name').selectpicker('render');
                        $('#db_name').selectpicker('refresh');
                        
                        setDbsCompleteData(result)
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });
        //Database变更getTableName补全Tip
        $("#db_name").change(function () {
            
            $.ajax({
                type: "get",
                url: "/instance/instance_resource/",
                dataType: "json",
                data: {
                    instance_name: $("#instance_name").val(),
                    db_name: $("#db_name").val(),
                    resource_type: "table"
                },
                complete: function () {
                },
                success: function (data) {
                    if (data.status === 0) {
                        
                        setTablesCompleteData(data.data)
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });
    </script>
    <!--validate -->
    <script>
        function validateForm(element) {
            var result = true;
            element.find('[required]').each(
                function () {
                    var fieldElement = $(this);
                    var fieldId = $(this).attr('id');
                    
                    var value = fieldElement.val() || '';
                    if (value) {
                        value = value.trim();
                    }
                    if (!value || value === fieldElement.attr('data-placeholder')) {
                        alert(fieldElement.attr('data-placeholder'));
                        result = false;
                        return result;
                    }
                    if(fieldId == "workflow_name" && value.length>=50){
                        alert("Deployment ticket name/Ticket Name不能超过50个字符！");
                        result = false;
                        return result;
                    }
                }
            );
            return result;
        }

        
        $("#btn-format").click(function () {
                var select_sqlContent = editor.session.getTextRange(editor.getSelectionRange());
                if (select_sqlContent) {
                    var sqlContent = select_sqlContent
                } else {
                    var sqlContent = editor.getValue();

                }
                var sqlContent = window.sqlFormatter.format(sqlContent);
                editor.setValue(sqlContent);
                editor.clearSelection();
            }
        );
    </script>
    <!--check-->
    <script>
        
        editor.getSession().on('change', function(e) {
            $("#btn-submitsql").prop("disabled", true);
        });

        
        editor.getSession().selection.on('changeSelection', function(e) {
            $("#btn-submitsql").prop("disabled", true);
        });

        function checkRunDate(gap = 60) {
            
            var start = $("#run_date_start").val();
            var end = $("#run_date_end").val();
            if (start && end) {
                var realGap = ((new Date(end)).getTime() - (new Date(start)).getTime()) / (1000 * 60)
                if (realGap >= gap) {
                    return true
                } else {
                    alert("可Execute Time范围不应该短于" + gap + "minutes");
                    return false
                }
            }
            return true
        }
        
        function removeStartsWith(str,prefix) {
            if (typeof str !== 'string' || str === null) {
                return str;
            }
            if (str.startsWith(prefix)) {
                return str.substring(prefix.length);
            }
            return str;
        };
        $("#btn-autoreview").click(function () {
            if (sqlquery_validate()) {
                $("#btn-submitsql").prop("disabled", true);
                resetValidationNotice()
                editor.container.style.pointerEvents = "none";
                editor.container.style.opacity = 0.6;
                $("#db_name").attr("disabled", true);
                $("#instance_name").attr("disabled", true);
                $("#group_name").attr("disabled", true);
                sqlcount('explain')
            }
        });

        
        function sqlquery_validate() {
            var result = true;
            var instance_name = $("#instance_name").val();
            var db_name = $("#db_name").val();
            var sqlContent = editor.getValue();
            var select_sqlContent = editor.session.getTextRange(editor.getSelectionRange());
            if (select_sqlContent) {
                sqlContent = select_sqlContent
            }
            var isOfflineExport = $("#btn-submitsql").is(':hidden') ? 0 : 1;
            // remove单行Note释和多行Note释后再统计语句Count
            let processedSql = sqlContent.replace(/--.*$/gm, ''); // remove单行Note释
            processedSql = processedSql.replace(/\/\*[\s\S]*?\*\//gm, ''); // remove多行Note释
            var totalSqlCnt = processedSql.split(';')
                .map(stmt => stmt.trim()) 
                .filter(stmt => stmt.length > 0) 
                .length; 

            // CheckSQL开头
            let trimmedSQL = sqlContent.trim().toUpperCase();
            
            while (true) {
                
                if (trimmedSQL.startsWith("--")) {
                    const nlIndex = trimmedSQL.indexOf('\n');
                    trimmedSQL = (nlIndex > -1) 
                        ? trimmedSQL.substring(nlIndex + 1).trim() 
                        : "";
                    continue;
                }
                
                if (trimmedSQL.startsWith("/*")) {
                    const endIndex = trimmedSQL.indexOf("*/");
                    if (endIndex === -1) break; 
                    trimmedSQL = trimmedSQL.substring(endIndex + 2).trim();
                    continue;
                }
                break;
            }
            if (!instance_name) {
                alert("Select Instance！");
                return result = false;
            } else if (!db_name) {
                alert("Select Database！");
                return result = false;
            } else if (!sqlContent) {
                alert("SQLContent cannot be empty！");
                return result = false;
            } else if (!trimmedSQL.startsWith("SELECT") && !trimmedSQL.startsWith("WITH")) {
                alert("SQL必须Yes查询语句！");
                return result = false;
            } else if (isOfflineExport === 1 && totalSqlCnt > 1) {
                alert("检测到多个SQL语句，只能Submit一个SQL，请选中要SubmitExport工单的SQL重试。");
                return result = false;
            }
            return result;
        }
        
        //count行数统计
        function sqlcount(sql) {
            var result = true;
            var optgroup = $('#instance_name :selected').parent().attr('label');
            var select_sqlContent = editor.session.getTextRange(editor.getSelectionRange());
            if (select_sqlContent) {
                sqlContent = select_sqlContent
            } else {
                var sqlContent = editor.getValue();
            }

            var sqlContent = sqlContent.trim().replace(/;$/, '');
            var sqlContent = 'select count(1) from (' + sqlContent + '\n) t'
             
            
            $.ajax({
                type: "post",
                url: "/query/",
                dataType: "json",
                data: {
                    instance_name: $("#instance_name").val(),
                    db_name: $("#db_name").val(),
                    schema_name: $("#schema_name").val(),
                    tb_name: $("#table_name").val(),
                    sql_content: sqlContent,
                    limit_num: $("#limit_num").val()
                },
                complete: function () {
                    $("#db_name").attr("disabled", false);
                    $("#instance_name").attr("disabled", false);
                    $("#group_name").attr("disabled", false);
                    editor.container.style.pointerEvents = "auto";
                    editor.container.style.opacity = 1;
                },
                success: function (data) {
                    validate_data(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }

        //SQLSubmit
        $("#btn-submitsql").click(function () {
            //getformobject，check输入，ApprovethenSubmit
            $("#sql_content").val(editor.getValue());
            if (validateForm($("#form-submitsql")) && checkRunDate()) {
                resetValidationNotice()
                validationNotice.querySelector('.notice-title').textContent = "工单Submit中...";
                validationNotice.querySelector('.notice-message').textContent = "后台二次Validate，Please wait...";
                editor.container.style.pointerEvents = "none";
                editor.container.style.opacity = 0.6;
                sqlSubmit()
            }
        });

        
        function validate_data(data) {
            var result = data.data;
            if (data.status === 0) {
                var ActualRows = 0;
                var maxExportRows = "{{ max_export_rows }}";
                ActualRows = parseFloat(result['rows'][0][0]);
                if (ActualRows > maxExportRows) {
                    $("#btn-submitsql").prop("disabled", true);
                    showStatusNotice({
                        noticeIconClass: 'icon-error',
                        statusClass: 'status-error',
                        title: 'ValidateFailed',
                        message: '统计查询Result：{ActualRows} 行数据，超过了阈Value：{maxExportRows}',
                        params: { ActualRows: ActualRows, maxExportRows: maxExportRows },
                        delay: 5000
                    });
                } else if (ActualRows <= maxExportRows) {
                    $("#btn-submitsql").prop("disabled", false);
                    showStatusNotice({
                        noticeIconClass: 'icon-success',
                        statusClass: 'status-success',
                        title: 'ValidateSuccess',
                        message: '统计查询Result：{ActualRows} 行数据，点击SubmitExport按钮ApplyExport。',
                        params: { ActualRows: ActualRows},
                        delay: 5000
                    });
                } else {
                    $("#btn-submitsql").prop("disabled", true);
                }
            } else {
                showStatusNotice({
                    noticeIconClass: 'icon-error',
                    statusClass: 'status-error',
                    title: 'ValidateFailed',
                    message: 'error：{msg}',
                    params: { msg: data.msg },
                    delay: 5000
                });
            }
        }

        
        function sqlSubmit() {
            let formData = $('#form-submitsql').serializeArray().reduce(function (obj, item) {
                obj[item.name] = item.value;
                return obj;
            }, {})
            var sqlContent = editor.getValue();
            var select_sqlContent = editor.session.getTextRange(editor.getSelectionRange());
            if (select_sqlContent) {
                sqlContent = select_sqlContent
            }
            $.ajax({
                type: "post",
                url: "/api/v1/workflow/",
                dataType: "json",
                contentType: 'application/json;',
                data: JSON.stringify({
                        workflow: {
                            workflow_name: formData.workflow_name,
                            export_format: formData.export_format,
                            is_offline_export: 1,
                            group_id: $("#group_name option:selected").attr("group-id"),
                            instance: $("#instance_name option:selected").attr("instance-id"),
                            db_name: formData.db_name,
                            is_backup: 'False',
                            run_date_start: formData.run_date_start,
                            run_date_end: formData.run_date_end,
                        },
                        sql_content: sqlContent
                    }
                ),
                beforeSend: function (xhr) {
                    $('#btn-submitsql').button('loading')
                },
                complete: function () {
                    $('#btn-submitsql').button('reset')
                    editor.container.style.pointerEvents = "auto";
                    editor.container.style.opacity = 1;
                },
                success: function (data) {
                    window.location.href = "/detail/"+ data.workflow_id
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    if (XMLHttpRequest.responseJSON) {
                        alert(XMLHttpRequest.responseText)
                    } else {
                        alert(errorThrown);
                    }
                }
            });

        }
    </script>
    <!--group -->
    <script>
        // getInstanceInfo和Approval Flow程
        $("#group_name").change(function () {
            $.ajax({
                type: "post",
                url: "/group/instances/",
                dataType: "json",
                data: {
                    group_name: $("#group_name").val(),
                    tag_code: 'can_read'
                },
                complete: function () {
                    const urlParams = new URLSearchParams(window.location.search);
                    const urlSource = urlParams.get('source');
                    if (urlSource === "resubmit") {
                        
                        $('#instance_name').selectpicker('val', sessionStorage.getItem('editClustername'));
                        if ($("#instance_name").val()) {
                            $("#instance_name").selectpicker().trigger("change");
                        }
                    }
                },
                success: function (data) {
                    if (data.status === 0) {
                        $("optgroup[id^='optgroup']").empty();
                        let result = data['data']
                        const supportDb = [ {% for name in engines.keys %}"{{ name }}", {% endfor %}]
                        for (let i of result) {
                            let instance = "<option value=\"" + i.instance_name + "\" instance-id=" + i.id + ">" + i.instance_name + "</option>";
                            if (supportDb.indexOf(i.db_type) !== -1) {
                                $("#optgroup-" + i.db_type).append(instance);
                            }
                        }
                        $('#instance_name').selectpicker('render').selectpicker('refresh');
                        $("#db_name").empty().selectpicker('render').selectpicker('refresh');
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
            $.ajax({
                type: "post",
                url: "/group/auditors/",
                dataType: "json",
                data: {
                    group_name: $("#group_name").val(),
                    workflow_type: 2
                },
                complete: function () {
                },
                success: function (data) {
                    if (data.status === 0) {
                        var result = data.data;
                        $("#workflow_auditors").val(result['auditors']);
                        $("#workflow_auditors_display").text(result['auditors_display']);
                        $("#div-workflow_auditors").show();
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });
    </script>
    <!--init -->
    <script>
        $(document).ready(function () {
            
            sessionStorage.removeItem('editWorkflowDetailId');
            //geturlParameter置入对应的InitializeContent
            const urlParams = new URLSearchParams(window.location.search);
            const urlSource = urlParams.get('source');
            if (urlSource == "resubmit") {
                $("#workflow_name").val(sessionStorage.getItem('editWorkflowNname'));
                $("#group_name").val(sessionStorage.getItem('editGroup'));
                editor.setValue(sessionStorage.getItem('editSqlContent'));
                editor.clearSelection();
            } else if (urlSource === "query") {
                editor.setValue(sessionStorage.getItem('submitSqlContent'));
                editor.clearSelection();
            } else {
                
                editor.setValue("");
                $(".selectpicker").selectpicker('val', '');
                $(".selectpicker").selectpicker('render');
                $(".selectpicker").selectpicker('refresh');
            }
            if ($("#group_name").val()) {
                $("#group_name").trigger("change");
            }
        });
    </script>
{% endblock %}
