{% extends "base.html" %}




{% block content %}

    <!-- 表格-->
    <div class="table-responsive">
        <table id="user-list" data-toggle="table" class="table table-striped table-hover"
               style="table-layout:inherit;overflow:hidden;text-overflow:ellipsis;">
        </table>
    </div>
    <!-- 修改密码模态框 -->
    <div class="modal fade" id="edit-review" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">编辑详情</h4>
                </div>
                <div class="modal-body form-group">
                    <div class="form-group row">
                        <label for="comments" class="col-sm-3 col-form-label">
                            <span style="color:red">*</span>内容</label>
                        <div class="col-sm-9">
                            <input type="text" id="comments" class="form-control"
                                   placeholder="请填写详情">
                            </small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="reviewed-status" class="col-sm-3 col-form-label">
                            <span style="color:red">*</span>状态</label>
                        <div class="col-sm-9">
                            <select id="reviewed-status" name="reviewed-status-name">
                                <option value="open">open</option>
                                <option value="resolved">resolved</option>
                                <option value="pending">pending</option>
                                <option value="closed">closed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" id="editRevBtn">修改</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block js %}
    {% load static %}
    <script src="{% static 'bootstrap-table/js/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/js/tableExport.min.js' %}"></script>
    <script>
        //获取优化详情列表
        function review_list() {
            var pathname = window.location.pathname;
            if (pathname == "/sqlreview/") {
                var review_checksum = sessionStorage.getItem('review_checksum');
                }
            //初始化table
            $('#user-list').bootstrapTable('destroy').bootstrapTable({
                escape: false,
                method: 'post',
                contentType: "application/x-www-form-urlencoded",
                url: "/sqlreview/list/",
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
                pageSize: 14,                     //每页的记录行数（*）
                pageList: [20, 30, 50, 100],       //可供选择的每页的行数（*）
                showExport: true,                   //是否显示导出按钮
                exportOptions: {
                    fileName: 'checksum'  //文件名称设置
                },
                search: true,                      //是否显示表格搜索
                strictSearch: false,                //是否全匹配搜索
                showColumns: true,                  //是否显示所有的列（选择显示的列）
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                uniqueId: 'checksum',               //每一行的唯一标识，一般为主键列
                showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                  //是否显示父子表
                locale: 'zh-CN',                    //本地化
                toolbar: "#toolbar",               //指明自定义的toolbar
                queryParamsType: 'limit',
                //请求服务数据时所传参数
                queryParams:
                    function (params) {
                        if (review_checksum) {
                            return {
                                search: params.search,
                                review_checksum: review_checksum
                            }
                        }
                    },
                columns: [{
                    title: 'SQLID',
                    field: 'checksum'
                },{
                    title: '优化内容',
                    field: 'comments',
                    width: "30",
                    widthUnit: "%"
                },{
                    title: '优化状态',
                    field: 'reviewed_status'
                },{
                    title: '提交人',
                    field: 'reviewed_by'
                },{
                    title: '提交日期',
                    field: 'reviewed_on'
                },{
                    title: '操作',
                    field: '',
                    formatter: function (value, row, index) {
                        let btn_edit_review = "<button class=\"btn btn-warning btn-xs\" review_checksum=\"" + row.checksum + "\" onclick=\"review_edit(this)" + "\">编辑</button>\n";
                        return btn_edit_review
                    }
                }],
                onLoadSuccess: function (data) {
                    if (data.status !== 0) {
                        alert("数据加载失败！" + data.msg);
                }},
                onLoadError: onLoadErrorCallback,
                onSearch: function (e) {
                    //传搜索参数给服务器
                    queryParams(e)
                }
            });

        }

        //编辑页面
        function review_edit(obj) {
            review_checksum = $(obj).attr("review_checksum");
            user=  user;
            $("#edit-review").modal('show');
            //编辑详情
            $("#editRevBtn").unbind("click").click(function () {
                var dt = new Date(+new Date()+8*3600*1000);
                currenttime = dt.toISOString().slice(0, 19).replace('T', ' ');
                $.ajax({
                    type: "post",
                    url: "/sqlreview/edit/",
                    dataType: "json",
                    data: {
                        checksum: review_checksum,
                        reviewed_by: user,
                        reviewed_on: currenttime,
                        comments: $("#comments").val(),
                        reviewed_status: $("#reviewed-status").val(),
                    },
                    complete: function () {
                    },
                    success: function (data) {
                        if (data.status === 0) {
                            $('#edit-review').modal('hide');
                            $("#edit-review input").val("");
                            review_list()
                        } else {
                            alert(data.msg);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            });
        }
        //初始化数据
        $(document).ready(function () {
            review_list();
        });
    </script>
{% endblock %}
