{% load i18n %}
{# review_info should be ReviewInfo object, 本模板为所Yes用到 audit 工作流的审批共用 #}
{% for n in review_info.nodes %}
    {% if n.is_auto_pass %}
        <span class="text-success">No approval needed</span>
    {% elif n.is_passed_node %}
        <span class="text-success">{{ n.group.name }}</span>
    {% elif n.is_current_node %}
    <!-- when前节点 -->
        <u class="text-danger">
            {{ n.group.name }}(
                <span class="text-primary">{{ current_reviewers|join:", " }}</span>
            )
        </u>
    {% else %}
        {{ n.group.name }}
    {% endif %}
    {% if not forloop.last %}
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    {% endif %}
{% endfor %}
