<!DOCTYPE html>
<html lang="cn">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Archery-SQL审核查询平台</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>

    <!-- 引入 Bootstrap -->
    <link href="{% static 'sb-admin-2/css/sb-admin-2.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'metisMenu/css/metisMenu.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-select/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-table/css/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <!-- django i18n -->
    <script type="text/javascript" src="{% url 'sql:javascript-catalog' %}"></script>
</head>
<body>
<div id="wrapper">

    <!-- Sidebar -->
    {% include 'includes/sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            {% include 'includes/topbar.html' %}
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                {% block content %}
                {% endblock content %}
            </div>

        </div>

    </div>

</div>

{% include 'includes/modals.html' %}

<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'metisMenu/js/metisMenu.min.js' %}"></script>
<script src="{% static 'sb-admin-2/js/sb-admin-2.js' %}"></script>
<script src="{% static 'bootstrap-select/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'bootstrap-select/js/i18n/defaults-zh_CN.min.js' %}"></script>
<script src="{% static 'bootstrap-table/js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'bootstrap-table/js/bootstrap-table-zh-CN.min.js' %}"></script>
<script src="{% static 'bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
<script src="{% static 'sql-formatter/sql-formatter.min.js' %}"></script>
<script src="{% static 'dist/js/formatter.js' %}"></script>
<script src="{% static 'dist/js/utils.js' %}"></script>

{% if watermark_enabled %}
    <script src="{% static 'watermark/shuiyin.js' %}"></script>
    <script type="text/javascript">
        var now = getNow();
        var user = '{{ user }}';
        watermark.init({watermark_txt: user + " " + now})
        window.onscroll = function () {
            watermark.load({watermark_txt: user + " " + now})
        }
    </script>
{% endif %}

<script>
    function twofa(enable, auth_type) {
        // 配置2fa
        let result;
        $.ajax({
            type: "post",
            url: "/api/v1/user/2fa/",
            dataType: "json",
            data: {
                engineer: '{{ user.username }}',
                enable: enable,
                auth_type: auth_type,
                phone: $("#phone").val()
            },
            async: false,
            complete: function () {
            },
            success: function (data) {
                result = data
                if (data.status === 0) {
                    $("#2fa").modal('hide');
                } else {
                    alert(data.msg);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown + ' : ' + XMLHttpRequest.responseText);
            }
        })
        return result
    }

    function save() {
        $.ajax({
            type: "post",
            url: "/api/v1/user/2fa/save/",
            dataType: "json",
            data: {
                engineer: '{{ user.username }}',
                auth_type: $("#auth_type").val(),
                key: $("#qrcode-img").attr('key'),
                phone: $("#phone").val()
            },
            complete: function () {
            },
            success: function (data) {
                if (data.status === 0) {
                    alert("已开启两步验证！");
                    $("#2fa-auth").modal("hide");
                } else {
                    alert(data.msg)
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown + ' : ' + XMLHttpRequest.responseText)
            }
        });
    }

    function authOTP(otp) {
        $.ajax({
            type: "post",
            url: "/api/v1/user/2fa/verify/",
            dataType: "json",
            data: {
                engineer: '{{ user.username }}',
                auth_type: $("#auth_type").val(),
                key: $("#qrcode-img").attr('key'),
                phone: $("#phone").val(),
                otp: otp
            },
            complete: function () {
            },
            success: function (data) {
                if (data.status === 0) {
                    alert("验证成功！");
                    save();
                } else {
                    alert(data.msg)
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown + ' : ' + XMLHttpRequest.responseText)
            }
        });
    }

    function auth(username, password) {
        // 用户认证校验
        let result = false;
        $.ajax({
            type: "post",
            url: "/api/v1/user/auth/",
            dataType: "json",
            data: {
                engineer: username,
                password: password
            },
            async: false,
            complete: function () {
            },
            success: function (data) {
                if (data.status === 0) {
                    result = true
                } else {
                    alert(data.msg);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown + ' : ' + XMLHttpRequest.responseText);
            }
        });
        return result
    }

    $("#auth_type").change(function () {
        let auth_type = $("#auth_type").val();
        if (auth_type === 'totp') {
            $("#totp-form").show();
            $("#sms-form").hide();
            $("#get_captcha").hide();
            $("#myModalLabel2").text('扫码绑定')
        } else if (auth_type === 'sms') {
            $("#totp-form").hide();
            $("#sms-form").show();
            $("#get_captcha").show();
            $("#myModalLabel2").text('绑定手机号')
        }
    })

    $("#2fa-menu").click(function () {
        $("#2fa").modal('show');
    })

    $("#binding").click(function () {
        let otp = $('#otp').val();
        if (!otp) {
            alert('请输入验证码！')
            return
        }
        authOTP(otp);
    })

    $('#2fa-auth').on('hide.bs.modal', function () {
        $("#otp").val('');
        $("#phone").val('')
    });

    $('#passwd-auth').on('hide.bs.modal', function () {
        $("#passwd").val('')
    });

    $("#btnConfirm").click(function () {
        let auth_type = $("#auth_type").val();
        let enable = $("#enable").val();
        let password = $("#passwd").val();
        password = password.replace(/(^\s*)|(\s*$)/g, "");
        if (!password) {
            alert('请输入密码！')
            return
        }
        $("#passwd").val('');
        let isAuthenticated = auth('{{ user.username }}', password);
        if (isAuthenticated) {
            $("#passwd-auth").modal("hide");
            if (enable === 'false') {
                let data = twofa(enable, auth_type);
                if (data.status === 0) {
                    alert('配置成功')
                } else {
                    alert(data.msg)
                }
            } else {
                if (auth_type === 'sms') {
                    $("#2fa-auth").modal("show");
                } else {
                    let data = twofa(enable, auth_type);
                    if (data.status === 0) {
                        if (auth_type === 'totp') {
                            let key = data.data.key;
                            $("#qrcode-img").attr("key", key)
                            $("#qrcode-img").attr("src", "/user/qrcode/" + key)
                        }
                        $("#2fa-auth").modal("show");
                    } else {
                        alert(data.msg)
                    }
                }
            }
        }
    })

    $("#get_captcha").click(function () {
        let phone = $("#phone").val();
        let enable = $("#enable").val();
        if (!phone) {
            alert('请输入手机号！')
            return
        }

        let auth_type = $("#auth_type").val();
        let data = twofa(enable, auth_type);
        if (data.status === 0) {
            init_countdown(this);
            alert('验证码已发送，5分钟内有效');
        }
    })

    $("#2fa").on('show.bs.modal', function () {
        $('input[name="2fa"]').each(function (i) {
            $(this).bootstrapSwitch({
                onText: "启用",
                offText: "禁用",
                onColor: "success",
                size: "small",
            })
        })
        $.ajax({
            type: "post",
            url: "/api/v1/user/2fa/state/",
            dataType: "json",
            data: {
                engineer: '{{ user.username }}'
            },
            complete: function () {
            },
            success: function (data) {
                if (data.status === 0) {
                    if (data.data.totp === 'enabled') {
                        $("#totp-switch").val('true');
                    } else {
                        $("#totp-switch").val('false');
                    }
                    if (data.data.sms === 'enabled') {
                        $("#sms-switch").val('true');
                    } else {
                        $("#sms-switch").val('false');
                    }
                } else {
                    alert(data.msg)
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown + ' : ' + XMLHttpRequest.responseText)
            }
        })
    })

    $("#2fa").on('shown.bs.modal', function () {
        $("#state").val('initial');
        $('input[name="2fa"]').each(function (i) {
            if ($(this).val() === 'true') {
                $(this).bootstrapSwitch('state', true);
            } else {
                $(this).bootstrapSwitch('state', false);
            }
        });
        $("#state").val('')
    })

    $('input[name="2fa"]').on('switchChange.bootstrapSwitch', function (event, state) {
        if ($("#state").val() !== 'initial') {
            $("#auth_type").val($(this).attr('auth_type'));
            $("#auth_type").trigger('change');
            $("#enable").val(state);
            $("#2fa").modal("hide");
            $("#passwd-auth").modal("show");
            if (state) {
                $(this).val(true);
            } else {
                $(this).val(false);
            }
        }
    })


</script>
</body>

<script>
    <!-- 解决CSRF-->
    $(function () {
        $.ajaxSetup({
            headers: {"X-CSRFToken": getCookie("csrftoken")}
        });
    });

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    // 解决下拉筛选项被表格遮挡
    // https://github.com/twbs/bootstrap/issues/11037#issuecomment-274870381
    $('.table-responsive').on('shown.bs.dropdown', function (e) {
        var t = $(this),
            m = $(e.target).find('.dropdown-menu'),
            tb = t.offset().top + t.height(),
            mb = m.offset().top + m.outerHeight(true),
            d = 20; // Space for shadow + scrollbar.
        if (t[0].scrollWidth > t.innerWidth()) {
            if (mb + d > tb) {
                t.css('padding-bottom', ((mb + d) - tb));
            }
        } else {
            t.css('overflow', 'visible');
        }
    }).on('hidden.bs.dropdown', function () {
        $(this).css({'padding-bottom': '', 'overflow': ''});
    }).on('page-change.bs.table', function () {
        $(this).css({'padding-bottom': '', 'overflow': ''});
    });
</script>
{% block js %}
{% endblock %}
</html>
