{% extends "base.html" %}

{% block content %}
    <div class="row clearfix">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    选择操作
                </div>
                <div class="panel-body">
                    <div id="div-config" class="form-group">
                        <h5 class="control-label text-bold">配置项：</h5>
                        <div class="form-group">
                            <select id="config" name="confg"
                                    class="selectpicker show-tick form-control bs-select-hidden"
                                    data-name="配置项" data-placeholder="请选择配置项:" required>
                                <option value="is-empty" disabled="">请选择配置项:</option>
                                <option value="0" selected="selected">系统设置</option>
                                <option value="1">工单审核流配置</option>
                            </select>
                        </div>
                    </div>
                    <div id="div-workflow" class="form-group" style="display: none">
                        <h5 class="control-label text-bold">工单类型：</h5>
                        <div class="form-group">
                            <select id="workflow_type" name="group"
                                    class="selectpicker show-tick form-control bs-select-hidden"
                                    data-name="工单类型" data-placeholder="请选择工单类型:" required>
                                <option value="{{ WorkflowDict.workflow_type.sqlreview }}" selected="selected">
                                    {{ WorkflowDict.workflow_type.sqlreview_display }}</option>
                                <option value="{{ WorkflowDict.workflow_type.query }}">
                                    {{ WorkflowDict.workflow_type.query_display }}</option>
                            </select>
                        </div>
                        <h5 class="control-label text-bold">组：</h5>
                        <div class="form-group">
                            <select id="group" name="group"
                                    class="selectpicker show-tick form-control bs-select-hidden"
                                    data-name="组" data-placeholder="请选择组:" data-live-search="true" required>
                                {% for group in group_list %}
                                    <option value="{{ group.group_name }}">{{ group.group_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    操作
                </div>
                <div class="panel-body">
                    <div id="div-system-config" class="form-group" style="display: none">
                        <h4 style="color: darkgrey; display: inline;"><b>Inception配置</b></h4>&nbsp;&nbsp;&nbsp;
                        <button id='check_incption' class='btn-sm btn-info'>测试Inception连接</button>
                        <button id='check_goincption' class='btn-sm btn-info' style="display: none">测试goInception连接
                        </button>
                        <hr/>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="go_inception"
                                       class="col-sm-4 control-label">GO_INCEPTION</label>
                                <div class="col-sm-8">
                                    <div class="switch switch-small">
                                        <label>
                                            <input id="go_inception"
                                                   key="go_inception"
                                                   value="{{ config.go_inception }}"
                                                   type="checkbox">
                                            是否启用goInception
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div id="div-inception-config">
                                <div class="form-group">
                                    <label for="inception_host"
                                           class="col-sm-4 control-label">INCEPTION_HOST</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control"
                                               id="inception_host"
                                               key="inception_host"
                                               value="{{ config.inception_host }}"
                                               placeholder="Inception地址">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inception_port"
                                           class="col-sm-4 control-label">INCEPTION_PORT</label>
                                    <div class="col-sm-5">
                                        <input type="number" class="form-control"
                                               id="inception_port"
                                               key="inception_port"
                                               value="{{ config.inception_port }}"
                                               placeholder="Inception端口">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inception_remote_backup_host"
                                           class="col-sm-4 control-label">REMOTE_BACKUP_HOST</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control"
                                               id="inception_remote_backup_host"
                                               key="inception_remote_backup_host"
                                               value="{{ config.inception_remote_backup_host }}"
                                               placeholder="Inception备份库地址">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inception_remote_backup_port"
                                           class="col-sm-4 control-label">REMOTE_BACKUP_PORT</label>
                                    <div class="col-sm-5">
                                        <input type="number" class="form-control"
                                               id="inception_remote_backup_port"
                                               key="inception_remote_backup_port"
                                               value="{{ config.inception_remote_backup_port }}"
                                               placeholder="Inception备份库端口">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inception_remote_backup_user"
                                           class="col-sm-4 control-label">REMOTE_BACKUP_USER</label>
                                    <div class="col-sm-5">
                                        <input type="text" autocomplete="new-password" class="form-control"
                                               id="inception_remote_backup_user"
                                               key="inception_remote_backup_user"
                                               value="{{ config.inception_remote_backup_user }}"
                                               placeholder="Inception备份库用户">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inception_remote_backup_password"
                                           class="col-sm-4 control-label">REMOTE_BACKUP_PASSWORD</label>
                                    <div class="col-sm-5">
                                        <input type="password" autocomplete="new-password" class="form-control"
                                               id="inception_remote_backup_password"
                                               key="inception_remote_backup_password"
                                               value="{{ config.inception_remote_backup_password }}"
                                               placeholder="Inception备份库用户密码">
                                    </div>
                                </div>
                            </div>

                            <div id="div-go-inception-config" style="display: none">
                                <hr/>
                                <div class="form-group">
                                    <label for="go_inception_host"
                                           class="col-sm-4 control-label">GO_INCEPTION_HOST</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control"
                                               id="go_inception_host"
                                               key="go_inception_host"
                                               value="{{ config.go_inception_host }}"
                                               placeholder="goInception地址">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="go_inception_port"
                                           class="col-sm-4 control-label">GO_INCEPTION_PORT</label>
                                    <div class="col-sm-5">
                                        <input type="number" class="form-control"
                                               id="go_inception_port"
                                               key="go_inception_port"
                                               value="{{ config.go_inception_port }}"
                                               placeholder="goInception端口">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br>
                        <h4 style="color: darkgrey"><b>功能模块配置</b></h4>
                        <hr/>
                        <h5 style="color: darkgrey"><b>SQL上线</b></h5>
                        <hr/>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="critical_ddl_regex"
                                       class="col-sm-4 control-label">CRITICAL_DDL_REGEX</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control"
                                           id="critical_ddl_regex"
                                           key="critical_ddl_regex"
                                           value="{{ config.critical_ddl_regex }}"
                                           placeholder="正则条件，匹配的语句会禁止提交">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="auto_review_wrong"
                                       class="col-sm-4 control-label">AUTO_REVIEW_WRONG</label>
                                <div class="col-sm-5">
                                    <input type="number" class="form-control"
                                           id="auto_review_wrong"
                                           key="auto_review_wrong"
                                           value="{{ config.auto_review_wrong }}"
                                           placeholder="自动驳回的等级，1表示警告驳回，2和空表示错误才驳回，其他表示不驳回">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="enable_backup_switch"
                                       class="col-sm-4 control-label">ENABLE_BACKUP_SWITCH</label>
                                <div class="col-sm-8">
                                    <div class="switch switch-small">
                                        <label>
                                            <input id="enable_backup_switch"
                                                   key="enable_backup_switch"
                                                   value="{{ config.enable_backup_switch }}"
                                                   type="checkbox">
                                            开启备份选项(建议不开启, 强制要求备份)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="auto_review"
                                       class="col-sm-4 control-label">AUTO_REVIEW</label>
                                <div class="col-sm-8">
                                    <div class="switch switch-small">
                                        <label>
                                            <input id="auto_review"
                                                   key="auto_review"
                                                   value="{{ config.auto_review }}"
                                                   type="checkbox">
                                            是否开启SQL上线自动审批
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div id="div-auto-review-config" style="display: none">
                                <div class="form-group">
                                    <label for="auto_review_regex"
                                           class="col-sm-4 control-label">AUTO_REVIEW_REGEX</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control"
                                               id="auto_review_regex"
                                               key="auto_review_regex"
                                               value="{{ config.auto_review_regex }}"
                                               placeholder="正则条件，匹配的语句需要人工审批">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="auto_review_max_update_rows"
                                           class="col-sm-4 control-label">MAX_UPDATE_ROWS</label>
                                    <div class="col-sm-5">
                                        <input type="number" class="form-control"
                                               id="auto_review_max_update_rows"
                                               key="auto_review_max_update_rows"
                                               value="{{ config.auto_review_max_update_rows }}"
                                               placeholder="自动审批允许工单最大更新行数">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="manual"
                                       class="col-sm-4 control-label">MANNUAL</label>
                                <div class="col-sm-8">
                                    <div class="switch switch-small">
                                        <label>
                                            <input id="manual"
                                                   key="manual"
                                                   value="{{ config.manual }}"
                                                   type="checkbox">
                                            是否开启SQL上线手工执行确认
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 style="color: darkgrey"><b>SQL查询</b></h5>
                        <hr/>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="query_check"
                                       class="col-sm-4 control-label">QUERY_CHECK</label>
                                <div class="col-sm-8">
                                    <div class="switch switch-small">
                                        <label>
                                            <input id="query_check"
                                                   key="query_check"
                                                   value="{{ config.query_check }}" type="checkbox">
                                            是否开启Inception检测(表权限和脱敏校验)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="disable_star"
                                       class="col-sm-4 control-label">DISABLE_STAR</label>
                                <div class="col-sm-8">
                                    <div class="switch switch-small">
                                        <label>
                                            <input id="disable_star"
                                                   key="disable_star"
                                                   value="{{ config.disable_star }}" type="checkbox">
                                            禁止在查询时使用 *
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="data_masking"
                                       class="col-sm-4 control-label">DATA_MASKING</label>
                                <div class="col-sm-8">
                                    <div class="switch switch-small">
                                        <label>
                                            <input id="data_masking"
                                                   key="data_masking"
                                                   value="{{ config.data_masking }}" type="checkbox">
                                            是否开启动态脱敏
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inception_remote_backup_port"
                                       class="col-sm-4 control-label">MAX_EXECUTION_TIME</label>
                                <div class="col-sm-5">
                                    <input type="number" class="form-control" id="max_execution_time"
                                           key="max_execution_time"
                                           value="{{ config.max_execution_time }}"
                                           placeholder="在线查询超时时间阈值，单位秒，默认60">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="admin_query_limit"
                                       class="col-sm-4 control-label">ADMIN_QUERY_LIMIT</label>
                                <div class="col-sm-5">
                                    <input type="number" class="form-control" id="admin_query_limit"
                                           key="admin_query_limit"
                                           value="{{ config.admin_query_limit }}"
                                           placeholder="管理员/DBA查询结果集限制">
                                </div>
                            </div>
                            <h5 style="color: darkgrey"><b>SQL优化</b></h5>
                            <hr/>
                            <div class="form-group">
                                <label for="sqladvisor"
                                       class="col-sm-4 control-label">SQLADVISOR_PATH</label>
                                <div class="col-sm-5">
                                    <div class="switch switch-small">
                                        <input type="text" class="form-control" id="sqladvisor" key="sqladvisor"
                                               value="{{ config.sqladvisor }}"
                                               placeholder="SQLADVISOR路径">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="soar"
                                       class="col-sm-4 control-label">SOAR_PATH</label>
                                <div class="col-sm-5">
                                    <div class="switch switch-small">
                                        <input type="text" class="form-control" id="soar" key="soar"
                                               value="{{ config.soar }}"
                                               placeholder="SOAR路径">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="soar_test_dsn"
                                       class="col-sm-4 control-label">SOAR_TEST_DSN</label>
                                <div class="col-sm-5">
                                    <div class="switch switch-small">
                                        <input type="text" class="form-control" id="soar_test_dsn" key="soar_test_dsn"
                                               value="{{ config.soar_test_dsn }}"
                                               placeholder="SOAR测试实例：user:pwd@host:port/db">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <h4 style="color: darkgrey;display: inline"><b>通知配置</b></h4>&nbsp;&nbsp;&nbsp;
                        <button id='check_email' class='btn-sm btn-info'>测试EMAIL连接</button>
                        <hr/>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="archery_base_url"
                                       class="col-sm-4 control-label">ARCHERY_BASE_URL</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control"
                                           id="archery_base_url"
                                           key="archery_base_url"
                                           value="{{ config.archery_base_url }}"
                                           placeholder="系统HOST地址, 用于通知链接，如https://archery.com">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mail"
                                       class="col-sm-4 control-label">MAIL</label>
                                <div class="col-sm-8">
                                    <div class="switch switch-small">
                                        <label>
                                            <input id="mail" key="mail" value="{{ config.mail }}"
                                                   type="checkbox"> 是否开启邮件通知
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div id="div-mail-config" style="display: none">
                                <div class="form-group">
                                    <label for="mail_ssl"
                                           class="col-sm-4 control-label">MAIL_SSL</label>
                                    <div class="col-sm-8">
                                        <div class="switch switch-small">
                                            <label>
                                                <input id="mail_ssl" key="mail_ssl"
                                                       value="{{ config.mail_ssl }}"
                                                       type="checkbox"> 是否使用SSL
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="mail_smtp_server"
                                           class="col-sm-4 control-label">MAIL_SMTP_SERVER</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control"
                                               id="mail_smtp_server"
                                               key="mail_smtp_server"
                                               value="{{ config.mail_smtp_server }}"
                                               placeholder="邮件smtp地址">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="mail_smtp_port"
                                           class="col-sm-4 control-label">MAIL_SMTP_PORT</label>
                                    <div class="col-sm-5">
                                        <input type="number" class="form-control"
                                               id="mail_smtp_port"
                                               key="mail_smtp_port"
                                               value="{{ config.mail_smtp_port }}"
                                               placeholder="邮件smtp端口">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="mail_smtp_user"
                                           class="col-sm-4 control-label">MAIL_SMTP_USER</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control"
                                               id="mail_smtp_user"
                                               key="mail_smtp_user"
                                               value="{{ config.mail_smtp_user }}"
                                               placeholder="邮箱账号">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="mail_smtp_password"
                                           class="col-sm-4 control-label">MAIL_SMTP_PASSWORD</label>
                                    <div class="col-sm-5">
                                        <input type="password" class="form-control"
                                               id="mail_smtp_password"
                                               key="mail_smtp_password"
                                               value="{{ config.mail_smtp_password }}"
                                               placeholder="邮箱账号密码">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ddl_notify_auth_group"
                                           class="col-sm-4 control-label">DDL_NOTIFY_AUTH_GROUP</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control"
                                               id="ddl_notify_auth_group"
                                               key="ddl_notify_auth_group"
                                               value="{{ config.ddl_notify_auth_group }}"
                                               placeholder="DDL工单通知权限组名，为空则不通知">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ding"
                                       class="col-sm-4 control-label">DING</label>
                                <div class="col-sm-8">
                                    <div class="switch switch-small">
                                        <label>
                                            <input id="ding" key="ding" value="{{ config.ding }}"
                                                   type="checkbox"> 是否开启钉钉通知
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <h4 style="color: darkgrey"><b>其他配置</b></h4>
                        <hr/>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="index_path_url"
                                       class="col-sm-4 control-label">INDEX_PATH_URL</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control"
                                           id="index_path_url"
                                           key="index_path_url"
                                           value="{{ config.index_path_url }}"
                                           placeholder="系统首页路径，默认SQL工单页面：sqlworkflow">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lock_time_threshold"
                                       class="col-sm-4 control-label">SCHEMASYNC</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control"
                                           id="schemasync"
                                           key="schemasync"
                                           value="{{ config.schemasync }}"
                                           placeholder="schemasync调用路径">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lock_time_threshold"
                                       class="col-sm-4 control-label">BINLOG2SQL</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control"
                                           id="binlog2sql"
                                           key="binlog2sql"
                                           value="{{ config.binlog2sql }}"
                                           placeholder="binlog2sql调用路径，类似/opt/binlog2sql.py">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="default_auth_group"
                                       class="col-sm-4 control-label">DEFAULT_AUTH_GROUP</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control"
                                           id="default_auth_group"
                                           key="default_auth_group"
                                           value="{{ config.default_auth_group }}"
                                           placeholder="默认权限组名，新用户首次登录自动关联, 老用户请手动配置">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="default_resource_group"
                                       class="col-sm-4 control-label">DEFAULT_RESOURCE_GROUP</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control"
                                           id="default_resource_group"
                                           key="default_resource_group"
                                           value="{{ config.default_resource_group }}"
                                           placeholder="默认资源组名，新用户首次登录自动关联, 老用户请手动配置">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lock_time_threshold"
                                       class="col-sm-4 control-label">LOCK_TIME_THRESHOLD</label>
                                <div class="col-sm-5">
                                    <input type="number" class="form-control"
                                           id="lock_time_threshold"
                                           key="lock_time_threshold"
                                           value="{{ config.lock_time_threshold }}"
                                           placeholder="账户登录失败锁定时间(秒)">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lock_cnt_threshold"
                                       class="col-sm-4 control-label">LOCK_CNT_THRESHOLD</label>
                                <div class="col-sm-5">
                                    <input type="number" class="form-control"
                                           id="lock_cnt_threshold"
                                           key="lock_cnt_threshold"
                                           value="{{ config.lock_cnt_threshold }}"
                                           placeholder="账户登录失败几次锁账户">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sign_up_enabled"
                                       class="col-sm-4 control-label">SIGN_UP_ENABLED</label>
                                <div class="col-sm-8">
                                    <div class="switch switch-small">
                                        <label>
                                            <input id="sign_up_enabled" key="sign_up_enabled"
                                                   value="{{ config.sign_up_enabled }}"
                                                   type="checkbox"> 是否开启注册功能
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-10">
                                <button id="saveconfig" type="button" class="btn btn-default">保存配置</button>
                            </div>
                        </div>
                    </div>
                    <div id="div-workflow-config" class="form-inline form-group" style="display: none">
                        <h5 class="control-label text-bold" style="color: red">
                            规则：<b>选择多个权限组即审批流程为多级审核，按照选择顺序进行流转，权限组内用户都可审核</b></h5>
                        <br>
                        <h5 class="control-label text-bold">当前审批流程：<b id="workflow_auditors"></b></h5>
                        <br>
                        <div><h5 style="float:left;" class="control-label text-bold">变更审批流程：</h5></div>
                        <div class="form-group form-inline">
                            <div class="form-group">
                                <input type="text" class="form-control" id="workflow_auditors_text"
                                       disabled="disabled" style="width: 283px">
                            </div>
                            <div class="form-group">
                                <select id="group_auditors" name="group"
                                        class="selectpicker show-tick form-control bs-select-hidden"
                                        data-name="审批人" data-placeholder="审批人:" data-live-search="true"
                                        required>
                                    <option value="is-empty" disabled="" selected="selected">添加审批权限组</option>
                                    {% for auth_group in auth_group_list %}
                                        <option value="{{ auth_group.name }}">{{ auth_group.name }}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <button id="btn-workflow-config" class="btn btn-default">变更</button>
                            <button id="btn-workflow-config-clean" class="btn btn-default">刷新</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    {% load staticfiles %}
    <link href="{% static 'bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
    <script>
        //配置项切换
        $("#config").change(function () {
            sessionStorage.setItem('config_type', $("#config").val());
            if ($("#config").val() === '0') {
                $("#div-system-config").show();
                $("#div-workflow").hide();
                $("#div-workflow-config").hide();
                $('input[type="checkbox"]').each(function (i) {
                    if ($(this).val() === 'true') {
                        $(this).bootstrapSwitch('state', true);
                    } else {
                        $(this).bootstrapSwitch('state', false);
                    }
                });
            } else if ($("#config").val() === '1') {
                $("#div-system-config").hide();
                $("#div-workflow").show();
                $("#div-workflow-config").show();
                $("#workflow_type").trigger("change");
            }
        });

        // 系统设置checkbox事件
        $('input[type="checkbox"]').on('switchChange.bootstrapSwitch', function (event, state) {
            if (state) {
                $(this).val(true);
                if ($(this).attr("id") === 'mail') {
                    $("#div-mail-config").show();
                } else if ($(this).attr("id") === 'auto_review') {
                    $("#div-auto-review-config").show();
                } else if ($(this).attr("id") === 'go_inception') {
                    $("#div-go-inception-config").show();
                    $("#check_goincption").show()
                }
            } else {
                $(this).val(false);
                if ($(this).attr("id") === 'mail') {
                    $("#mail_ssl").val(false);
                    $("#div-mail-config").hide();
                } else if ($(this).attr("id") === 'auto_review') {
                    $("#div-auto-review-config").hide();
                } else if ($(this).attr("id") === 'go_inception') {
                    $("#div-go-inception-config").hide();
                    $("#check_goincption").hide()
                }
            }
        });

        // 修改系统设置
        $("#saveconfig").click(function () {
            var sys_config = $("#div-system-config");
            var configs = [];
            sys_config.find('[key]').each(
                function () {
                    var config_item = $(this).attr("key");
                    var config_value = $(this).val();
                    configs.push({
                        key: config_item,
                        value: config_value
                    });
                }
            );

            $.ajax({
                type: "post",
                url: "/config/change/",
                dataType: "json",
                data: {
                    configs: JSON.stringify(configs)
                },
                complete: function () {
                },
                success: function (data) {
                    if (data.status === 0) {
                        window.location.reload()
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        // 切换组触发工单类型切换事件
        $("#group").change(function () {
            $("#workflow_type").trigger('change')
        });

        // 点击用户填充到workflow_auditors_text
        $("#group_auditors").change(function () {
            var auth_group = $(this).find(':selected').attr("disabled", "disabled").val();
            var auditors = $("#workflow_auditors_text").val();
            if (auditors) {
                $("#workflow_auditors_text").val(auditors + '->' + auth_group);
            } else {
                $("#workflow_auditors_text").val(auth_group)
            }
            $('#group_auditors').selectpicker('render');
            $('#group_auditors').selectpicker('refresh');
        });

        // 清空审核人信息
        $("#btn-workflow-config-clean").click(function () {
            $("#workflow_auditors_text").val('');
            window.location.reload()
        });

        // 切换工单类型获取对应组负责人
        $("#workflow_type").change(function () {
            $("#div-workflow-config").show();
            $("#workflow_auditors_text").val('');
            if ($("#group").val()) {
                $.ajax({
                    type: "post",
                    url: "/group/auditors/",
                    dataType: "json",
                    data: {
                        group_name: $("#group").val(),
                        workflow_type: $("#workflow_type").val()
                    },
                    complete: function () {

                    },
                    success: function (data) {
                        if (data.status === 0) {
                            var result = data.data;
                            $("#workflow_auditors").text(result['auditors_display']);
                        } else {
                            alert(data.msg);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            }
        });

        // 变更组工单审批流程
        $("#btn-workflow-config").click(function () {
            if ($("#group").val() && $("#workflow_type").val() && $("#workflow_auditors_text").val()) {
                $(this).addClass('disabled');
                $(this).prop('disabled', true);
                var audit_auth_groups = $("#workflow_auditors_text").val().replace(/->/g, ",");
                $.ajax({
                    type: "post",
                    url: "/group/changeauditors/",
                    dataType: "json",
                    data: {
                        group_name: $("#group").val(),
                        audit_auth_groups: audit_auth_groups,
                        workflow_type: $("#workflow_type").val()
                    },
                    complete: function () {
                        $("#btn-workflow-config").removeClass('disabled');
                        $("#btn-workflow-config").prop('disabled', false);
                    },
                    success: function (data) {
                        if (data.status === 0) {
                            //alert('修改成功');
                            $("#workflow_type").trigger("change")
                        } else {
                            alert(data.msg);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            } else {
                alert('请选择组、工单类型和审批流程！')
            }

        });

        // 检测inception
        $("#check_incption").click(function () {
            $(this).addClass('disabled');
            $(this).prop('disabled', true);
            $.ajax({
                type: "post",
                url: "/check/inception/",
                dataType: "json",
                data: {
                    inception_host: $("#inception_host").val(),
                    inception_port: $("#inception_port").val(),
                    inception_remote_backup_host: $("#inception_remote_backup_host").val(),
                    inception_remote_backup_port: $("#inception_remote_backup_port").val(),
                    inception_remote_backup_user: $("#inception_remote_backup_user").val(),
                    inception_remote_backup_password: $("#inception_remote_backup_password").val(),
                },
                complete: function () {
                    $("#check_incption").removeClass('disabled');
                    $("#check_incption").prop('disabled', false);
                },
                success: function (data) {
                    if (data.status === 0) {
                        alert('inception和备份库测试连接成功，请点击保存生效！')
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        // 检测goInception
        $("#check_goincption").click(function () {
            $(this).addClass('disabled');
            $(this).prop('disabled', true);
            $.ajax({
                type: "post",
                url: "/check/go_inception/",
                dataType: "json",
                data: {
                    go_inception_host: $("#go_inception_host").val(),
                    go_inception_port: $("#go_inception_port").val(),
                    inception_remote_backup_host: $("#inception_remote_backup_host").val(),
                    inception_remote_backup_port: $("#inception_remote_backup_port").val(),
                    inception_remote_backup_user: $("#inception_remote_backup_user").val(),
                    inception_remote_backup_password: $("#inception_remote_backup_password").val(),
                },
                complete: function () {
                    $("#check_goincption").removeClass('disabled');
                    $("#check_goincption").prop('disabled', false);
                },
                success: function (data) {
                    if (data.status === 0) {
                        alert('inception和备份库测试连接成功，请点击保存生效！')
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        // 检测邮件
        $("#check_email").click(function () {
            $(this).addClass('disabled');
            $(this).prop('disabled', true);
            $.ajax({
                type: "post",
                url: "/check/email/",
                dataType: "json",
                data: {
                    mail: $("#mail").val(),
                    mail_ssl: $("#mail_ssl").val(),
                    mail_smtp_server: $("#mail_smtp_server").val(),
                    mail_smtp_port: $("#mail_smtp_port").val(),
                    mail_smtp_user: $("#mail_smtp_user").val(),
                    mail_smtp_password: $("#mail_smtp_password").val(),
                },
                complete: function () {
                    $("#check_email").removeClass('disabled');
                    $("#check_email").prop('disabled', false);
                },
                success: function (data) {
                    if (data.status === 0) {
                        alert('测试邮件已成功发送给当前用户，注意查收，请点击保存生效！')
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        //自动填充操作项
        $(document).ready(function () {
            if (sessionStorage.getItem('config_type')) {
                $("#config").val(sessionStorage.getItem('config_type')).trigger("change")
            } else if ($("#config").val()) {
                $("#config").trigger("change")
            }
        })
    </script>
{% endblock %}
