{% extends "base.html" %}

{% load cache %}

{% block content %}
    {% cache 600 dashboard %}
        <!-- /.row -->
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters m-0 align-items-center">
                            <div class="col mr-2">
                                <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">
                                    <a href="/sqlworkflow/" style="color: inherit">SQL上线工单</a>
                                </div>
                                <div class="h5 mb-0 font-weight-bold dashboard-stat-value">{{ count_stats.sql_wf_cnt }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-calendar fa-3x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters m-0 align-items-center">
                            <div class="col mr-2">
                                <div class="text-lg font-weight-bold text-success text-uppercase mb-1">
                                    <a href="/queryapplylist/" style="color: inherit">SQL查询工单</a>
                                </div>
                                <div class="h5 mb-0 font-weight-bold dashboard-stat-value">{{ count_stats.query_wf_cnt }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-search-plus fa-3x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters m-0 align-items-center">
                            <div class="col mr-2">
                                <div class="text-lg font-weight-bold text-info text-uppercase mb-1">
                                    <a href="/admin/sql/users/" style="color: inherit">平台用户</a>
                                </div>
                                <div class="h5 mb-0 font-weight-bold dashboard-stat-value">{{ count_stats.user_cnt }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-user-plus fa-3x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters m-0 align-items-center">
                            <div class="col mr-2">
                                <div class="text-lg font-weight-bold text-warning text-uppercase mb-1">
                                    <a href="/instance/" style="color: inherit">实例数量</a>
                                </div>
                                <div class="h5 mb-0 font-weight-bold dashboard-stat-value">{{ count_stats.ins_cnt }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-database fa-3x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.row -->
        <div class="row">
            <div class="col-lg-8">
                <!-- /.panel -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0">SQL查询统计</h6>
                    </div>
                    <div class="card-body">
                        {{ chart.line1|safe }}
                    </div>
                </div>
                <!-- /.panel -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0">SQL上线数量</h6>
                    </div>
                    <div class="card-body">
                        {{ chart.bar1|safe }}
                    </div>
                </div>
                <!-- /.panel -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0">SQL上线用户</h6>
                    </div>
                    <div class="card-body">
                        {{ chart.bar2|safe }}
                    </div>
                </div>
                <!-- /.panel -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0">24h慢查询db维度统计</h6>
                    </div>
                    <div class="card-body">
                        {{ chart.bar3|safe }}
                    </div>
                </div>
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <!-- /.panel -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0">SQL上线统计</h6>
                    </div>
                    <div class="card-body">
                        {{ chart.pie1|safe }}
                    </div>
                </div>
                <!-- /.panel -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0">DB检索行数</h6>
                    </div>
                    <div class="card-body">
                        {{ chart.pie5|safe }}
                    </div>
                </div>
                <!-- /.panel -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0">SQL查询用户</h6>
                    </div>
                    <div class="card-body">
                        {{ chart.pie4|safe }}
                    </div>
                </div>
                <!-- /.panel -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0">24h慢查询db/user维度统计</h6>
                    </div>
                    <div class="card-body">
                        {{ chart.pie3|safe }}
                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    {% endcache %}
{% endblock content %}
