{% extends "base.html" %}
{% load i18n %}
{% load cache %}

{% block content %}
    {% cache 600 dashboard %}
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-check fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ count_stats.sql_wf_cnt }}</div>
                                <div>{% trans "SQL Deployment Tickets" %}</div>
                            </div>
                        </div>
                    </div>
                    <a href="/sqlworkflow/">
                        <div class="panel-footer">
                            <span class="pull-left">{% trans "More" %}</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-search fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ count_stats.query_wf_cnt }}</div>
                                <div>{% trans "SQL Query Tickets" %}</div>
                            </div>
                        </div>
                    </div>
                    <a href="/queryapplylist/">
                        <div class="panel-footer">
                            <span class="pull-left">{% trans "More" %}</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-user fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ count_stats.user_cnt }}</div>
                                <div>{% trans "Active Users" %}</div>
                            </div>
                        </div>
                    </div>
                    <a href="/admin/sql/users/">
                        <div class="panel-footer">
                            <span class="pull-left">{% trans "More" %}</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-database fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ count_stats.ins_cnt }}</div>
                                <div>{% trans "Instances" %}</div>
                            </div>
                        </div>
                    </div>
                    <a href="/instance/">
                        <div class="panel-footer">
                            <span class="pull-left">{% trans "More" %}</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> {% trans "Database Instance Type Statistics" %}
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div>{{ instance_chart.bar4|safe }}</div>
                            </div>
                            <div class="col-lg-6">
                                <div>{{ instance_chart.pie6|safe }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    </div>
        <hr>
        <div id="toolbar" class="form-inline">
            <div class='form-group'>
                <div id="reservation" class="form-control"
                    style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                    {% trans "Statistics Time Range:" %}<i class="fa fa-calendar"></i>&nbsp;
                    <span></span> <i class="fa fa-caret-down"></i>
                </div>
            </div>
        </div>
        <br>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-8">
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> {% trans "SQL Query Statistics" %}
                    </div>
                    <!-- /.panel-heading -->
                    <div id="chart-line1" class="panel-body">
                        {{ chart.line1|safe }}
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> {% trans "SQL Deployment Count" %}
                    </div>
                    <!-- /.panel-heading -->
                    <div id="chart-bar1" class="panel-body">
                        {{ chart.bar1|safe }}
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> {% trans "SQL Deployment Users" %}
                    </div>
                    <!-- /.panel-heading -->
                    <div id="chart-bar2" class="panel-body">
                        {{ chart.bar2|safe }}
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> {% trans "SQL Deployment Tickets" %}
                    </div>
                    <!-- /.panel-heading -->
                    <div id="chart-bar5" class="panel-body">
                        {{ chart.bar5|safe }}
                    </div>
                    <!-- /.panel-body -->
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> {% trans "24h Slow Query by Database" %}
                    </div>
                    <!-- /.panel-heading -->
                    <div id="chart-bar3" class="panel-body">
                        {{ chart.bar3|safe }}
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> {% trans "SQL Deployment Statistics" %}
                    </div>
                    <!-- /.panel-heading -->
                    <div id="chart-pie1" class="panel-body">
                        {{ chart.pie1|safe }}
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> {% trans "DB Rows Scanned" %}
                    </div>
                    <div id="chart-pie5" class="panel-body">
                        {{ chart.pie5|safe }}
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> {% trans "SQL Query Users" %}
                    </div>
                    <!-- /.panel-heading -->
                    <div id="chart-pie4" class="panel-body">
                        {{ chart.pie4|safe }}
                    </div>
                    <!-- /.panel-body -->
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> {% trans "SQL Deployment Ticket Types" %}
                    </div>
                    <!-- /.panel-heading -->
                    <div id="chart-pie2" class="panel-body">{{ chart.pie2|safe }}</div>
                    <!-- /.panel-body -->
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> {% trans "24h Slow Query by DB/User" %}
                    </div>
                    <!-- /.panel-heading -->
                    <div id="chart-pie3" class="panel-body">
                        {{ chart.pie3|safe }}
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    {% endcache %}
{% endblock content %}

{% block js %}
    {% load static %}
    {% get_current_language as LANGUAGE_CODE %}
    <link href="{% static 'daterangepicker/css/daterangepicker.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'daterangepicker/js/moment.min.js' %}"></script>
    {% if LANGUAGE_CODE == 'es' %}
    <script src="{% static 'daterangepicker/js/moment-es.js' %}"></script>
    {% elif LANGUAGE_CODE == 'zh-hans' %}
    <script src="{% static 'daterangepicker/js/moment-zh-cn.js' %}"></script>
    {% endif %}
    <script src="{% static 'daterangepicker/js/daterangepicker.js' %}"></script>
    <script src="{% static 'bootstrap-table/js/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/js/tableExport.min.js' %}"></script>
    <script type="text/javascript">
        // Initialize date range picker
        $(function () {
            let start = moment().subtract('days', 6);
            let end = moment().subtract('days', -1);

            function cb(start, end) {
                if (start.isValid() && end.isValid()) {
                    $('#reservation span').html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
                } else {
                    $('#reservation span').html(gettext('All Data'));
                }
            }

            $('#reservation').daterangepicker({
                startDate: start,
                endDate: end,
                showDropdowns: true,
                locale: {
                    format: "YYYY-MM-DD",
                    separator: " / ",
                    applyLabel: gettext("Apply"),
                    cancelLabel: gettext("Cancel"),
                    fromLabel: gettext("From"),
                    toLabel: gettext("To"),
                    customRangeLabel: gettext("Custom Range"),
                    daysOfWeek: [gettext("Su"), gettext("Mo"), gettext("Tu"), gettext("We"), gettext("Th"), gettext("Fr"), gettext("Sa")],
                    monthNames: [gettext("January"), gettext("February"), gettext("March"), gettext("April"), gettext("May"), gettext("June"), gettext("July"), gettext("August"), gettext("September"), gettext("October"), gettext("November"), gettext("December")],
                    firstDay: 1
                },
                ranges: {
                    [gettext("Last 7 Days")]: [moment().subtract('days', 6), moment().subtract('days', -1)],
                    [gettext("Last 30 Days")]: [moment().subtract('days', 29), moment().subtract('days', -1)],
                    [gettext("Last 365 Days")]: [moment().subtract('days', 364), moment().subtract('days', -1)],
                    [gettext("This Month")]: [moment().startOf("month"), moment().endOf("month").subtract('days', -1)],
                    [gettext("This Year")]: [moment().startOf("year"), moment().endOf("year").subtract('days', -1)],
                    [gettext("Last Month")]: [moment().subtract(1, "month").startOf("month"), moment().subtract(1, "month").endOf("month").subtract('days', -1)],
                    [gettext("Last Year")]: [moment().subtract(1, "year").startOf("year"), moment().subtract(1, "year").endOf("year").subtract('days', -1)]
                }
            }, cb).on('apply.daterangepicker', function (ev, picker) {
                let startDate = picker.startDate.format('YYYY-MM-DD');
                let endDate = picker.endDate.format('YYYY-MM-DD');
                $.ajax({
                    url: '/dashboard/api/',
                    type: 'GET',
                    data: {
                        'start_date': startDate,
                        'end_date': endDate
                    },
                    success: function(response) {
                        updateChart(response);
                    },
                    error: function(xhr, status, error) {
                        console.error('Error sending data for dashboard:', error);
                    }
                });
            });
            cb(start, end);
        });

        function updateChart(response) {
            $('#chart-line1').html(response.chart.line1);
            $('#chart-bar1').html(response.chart.bar1);
            $('#chart-bar2').html(response.chart.bar2);
            $('#chart-bar3').html(response.chart.bar3);
            $('#chart-bar4').html(response.chart.bar4);
            $('#chart-bar5').html(response.chart.bar5);
            $('#chart-pie1').html(response.chart.pie1);
            $('#chart-pie2').html(response.chart.pie2);
            $('#chart-pie3').html(response.chart.pie3);
            $('#chart-pie4').html(response.chart.pie4);
            $('#chart-pie5').html(response.chart.pie5);
        }

    </script>
{% endblock %}
