<div class="col-md-5">
    <div class="col-md-10 form-group input-fields-wrap">
        <button class="btn btn-primary m-r-5 m-b-5 add-input-field-button">增加输入参数</button>
        <button class="btn btn-primary m-r-5 m-b-5 reduce-input-field-button">减少输入参数</button>
    </div>
</div>
<div class="col-md-5">
    <div class="col-md-10 form-group output-fields-wrap">
        <button class="btn btn-primary m-r-5 m-b-5 add-output-field-button">增加输出参数</button>
        <button class="btn btn-primary m-r-5 m-b-5 reduce-output-field-button">减少输出参数</button>
    </div>
</div>
<div class="col-md-2">
    <div class="col-md-10 form-group">
        <button class="btn btn-primary m-r-5 m-b-5" id="submit">提交</button>
    </div>
</div>