<div class="col-md-4">
    <div class="col-md-10 form-group">
        <label for="db_type">数据库类型</label>
        <select id="db_type" class="form-control">
            <option>mysql</option>
        </select>
    </div>
</div>
<div class="col-md-4">
    <div class="col-md-10 form-group">
        <label for="rule_name">规则名称</label>
        <input type="text" id="rule_name" class="form-control" placeholder="规则名称" />
    </div>
</div>
<div class="col-md-4">
    <div class="col-md-10 form-group">
        <label for="max_score">最大扣分</label>
        <input type="text" id="max_score" class="form-control" placeholder="最大扣分" />
    </div>
</div>
<div class="col-md-3">
    <div class="col-md-10 form-group">
        <label for="rule_type">规则类型</label>
        <select id="rule_type" class="form-control">
            <option>OBJ</option>
            <option>TEXT</option>
            <option>SQLPLAN</option>
            <option>SQLSTAT</option>
        </select>
    </div>
</div>
<div class="col-md-3">
    <div class="col-md-10 form-group">
        <label for="rule_summary">规则概要</label>
        <input type="text" id="rule_summary" class="form-control" placeholder="规则概要" />
    </div>
</div>
<div class="col-md-3">
    <div class="col-md-10 form-group">
        <label for="exclude_obj_type">扩展字段</label>
        <input type="text" id="exclude_obj_type" class="form-control" placeholder="对象扩展字段" />
    </div>
</div>
<div class="col-md-3">
    <div class="col-md-10 form-group">
        <label for="rule_weight">规则权重</label>
        <input type="text" id="rule_weight" class="form-control" placeholder="规则权重" />
    </div>
</div>
<div class="col-md-6">
    <div class="col-md-10 form-group">
        <label for="rule_desc">规则描述</label>
        <textarea id="rule_desc" class="form-control" placeholder="规则描述" rows="5"></textarea>
    </div>
</div>
<div class="col-md-6">
    <div class="col-md-10 form-group">
        <label for="rule_solution">解决方案</label>
        <textarea id="rule_solution" class="form-control" placeholder="解决方案，每行一条" rows="5"></textarea>
    </div>
</div>
