<!-- begin #sidebar -->
<div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">管理平台</li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-eye"></i>
                    <span>sql review</span>
                </a>
                <ul class="sub-menu">
                    <li class="has-sub">
                        <a href="#">
                            <b class="caret pull-right"></b>
                            系统管理
                        </a>
                        <ul class="sub-menu">
                            <li><a href="/themis/new/version/sql/review/rule/index">规则定义</a></li>
                            <li><a href="/themis/new/version/sql/review/rule/info/index">发布任务</a></li>
                            <li><a href="/themis/new/version/sql/review/prevent/object/index">屏蔽对象管理</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="#">
                            <b class="caret pull-right"></b>
                            任务详情
                        </a>
                        <ul class="sub-menu">
                            <li><a href="/themis/new/version/sql/review/task/index">任务详情</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!-- begin sidebar minify button -->
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->
