body {
    color: #000;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,STheiti,微软雅黑,宋体,Arial,Tahoma,sans-serif,serif;
    background-color: #e9e9e9;
}
#sidebar {
    margin-top: 30px;
    margin-right: 5px;
    border-right: 1px solid #c4c8cb;
    border-top: 1px solid #c4c8cb;
    border-left: 1px solid #c4c8cb;
    border-bottom: 1px solid #c4c8cb;
}
/*左侧菜单*/
.sidebar-menu{
    border-right: 1px solid #c4c8cb;
}
/*一级菜单*/
.menu-first{
    height:45px;
    line-height:45px;
    background-color: #e9e9e9;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #e1e1e1;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}
/*一级菜单鼠标划过状态*/
.menu-first:hover{
    text-decoration: none;
    background-color: #d6d4d5;
    border-top: 1px solid #b7b7b7;
    border-bottom: 1px solid #acacac;
}
/*二级菜单*/
.menu-second li a{
    background-color: #e9e9e9;
    height:31px;
    line-height:31px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    font-size: 12px;
    text-align:center;
}
/*二级菜单鼠标划过样式*/
.menu-second li a:hover {
    text-decoration: none;
    background-color: #66c3ec;
    border-top: 1px solid #83ceed;
    border-bottom: 1px solid #83ceed;
    border-right: 3px solid #f8881c;
    border-left: 3px solid #66c3ec;
}
/*二级菜单选中状态*/
.menu-second-selected {
    background-color: #66c3ec;
    height:31px;
    line-height:31px;
    border-top: 1px solid #83ceed;
    border-bottom: 1px solid #83ceed;
    border-right: 3px solid #f8881c;
    border-left: 3px solid #66c3ec;
    text-align:center;
}
/*覆盖bootstrap的样式*/
.nav-list,.nav-list li a{
    padding: 0px;
    margin: 0px;
}
/*ruleback 样式*/
.ruleback {
    margin-left: 20px;
    background-color: #e9e9e9;
}
/*button submit 样式*/
.ruleSubmit {
    margin-left: 720px;
}

.ruleFilterSbumit {
    margin-left: 725px;
    margin-bottom: 15px;
}        

.filterRule {
    margin-top: 5px;
}
.filterRule a{
    margin-left: 20px;
}
/*.pagination {
    margin-top: 0px;
    margin-left: 115px;
}*/
/*.dataTables_filter {
    margin-left: 210px;
}*/